{% extends "based/based.html" %}
{% block content %}

{% load static %}
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
	  <div class="container-full">
		<!-- Main content -->
		<section class="content">
	
			<div class="row">
							<div class="col-12 col-xl-12">
				<div class="box">		
			
					<div class="box-body">						
						<div class="px-10 py-30 bg-white text-dark">
							<h3 class="px-10 mb-15 font-weight-700">Projek </h3>
						   <ul class="flexbox flex-justified">
					
							<li class="px-10">
							  <h5 class="mb-1 text-bold">Tajuk Kerja</h5>
							  <h6>{{projek.tajukkerja}}</h6>
							</li>

								   	<li class="px-10 bl-1 ">
							<h5 class="mb-1 text-bold">Kod Vot</h5>
							  
							  <h6>{{projek.kodvot}}</h6>
					
							</li>

							<li class="br-1 bl-1 px-10">
							   <h5 class="mb-1 text-bold">Kaedah Perolahan</h5>
							  <h6>{{projek.nosebuthargaid.kaedahperolehan}}</h6>
							</li>

							<li class="px-10 ">
							<h5 class="mb-1 text-bold">Penyelia</h5>
							  <h6>{{projek.nosebuthargaid.pegawaiselia.first_name}}</h6>
							</li>

						
						  </ul>						
						</div>						
										
			
					</div>
					
				</div>
			</div> 

		

			
			</div>

			<div class="row">
				<div class="col-xl-12">
					<div class="box">
						<div class="box-header">
							<h4 class="box-title">Orders Overview</h4>
				
						</div>
						<div class="box-body">
							<div class="row">
								<div class="col-md-6">

						<!--MRK 01-->
						<div class="d-flex align-items-center mb-25">

							{% if mrksatu.projekbind == projek.id %}
							<span class="bullet bullet-bar bg-success align-self-stretch"></span>							
							<div class="h-20 mx-20 flex-shrink-0">							
								<input type="checkbox" id="md_checkbox_21" class="filled-in chk-col-success" disabled=""  checked >
								<label for="md_checkbox_21" class="h-20 p-10 mb-0"></label>
							</div>
							
							{% else %}
							<span class="bullet bullet-bar bg-danger align-self-stretch"></span>							
							<div class="h-20 mx-20 flex-shrink-0">							
								<input type="checkbox" id="md_checkbox_21" class="filled-in chk-col-success" disabled>
								<label for="md_checkbox_21" class="h-20 p-10 mb-0"></label>
							</div>
							{% endif %}
					
							
							<div class="d-flex flex-column flex-grow-1">
								 <h5 class="mb-1 text-bold">MRK 01</h5>
								<span class="font-weight-500">
									Maklumat Rekod Kerja 01
								</span>
							</div>
							<a href="{% url 'dokumen/mrksatu' projekid=projek.id  %}" class="waves-effect waves-light btn btn-primary-light btn-circle mx-5"><span class="icon-Write"><span class="path1"></span><span class="path2"></span></span></a>
								 
						</div>

						<!--MRK 02-->
						<div class="d-flex align-items-center mb-25">
							{% if mrkdua.projekbind == projek.id %}
							<span class="bullet bullet-bar bg-success align-self-stretch"></span>							
							<div class="h-20 mx-20 flex-shrink-0">							
								<input type="checkbox" id="md_checkbox_22" class="filled-in chk-col-success" disabled=""  checked >
								<label for="md_checkbox_22" class="h-20 p-10 mb-0"></label>
							</div>
							
							{% else %}
							<span class="bullet bullet-bar bg-danger align-self-stretch"></span>							
							<div class="h-20 mx-20 flex-shrink-0">							
								<input type="checkbox" id="md_checkbox_22" class="filled-in chk-col-success" disabled>
								<label for="md_checkbox_22" class="h-20 p-10 mb-0"></label>
							</div>
							{% endif %}
							
							<div class="d-flex flex-column flex-grow-1">
								 <h5 class="mb-1 text-bold">MRK 02</h5>
								<span class="font-weight-500">
									Maklumat Rekod Kerja 02
								</span>
							</div>
							{% if mrkdua.projekbind == projek.id %}
							<a href="{% url 'dokumen/mrkdua' projekid=projek.id  %}" class="waves-effect waves-light btn btn-primary-light btn-circle mx-5"><span class="icon-Write"><span class="path1"></span><span class="path2"></span></span></a>
							{% else %}
							<a href="javascript:void(0)" class="waves-effect waves-light btn btn-danger-light btn-circle mx-5"><span class="icon-Write"><span class="path1"></span><span class="path2"></span></span></a>
							{% endif %}
						</div>

						<!--LSK-->
						<div class="d-flex align-items-center mb-25">
							{% if lsk.projekbind == projek.id %}
							<span class="bullet bullet-bar bg-success align-self-stretch"></span>							
							<div class="h-20 mx-20 flex-shrink-0">							
								<input type="checkbox" id="md_checkbox_23" class="filled-in chk-col-success" disabled=""  checked >
								<label for="md_checkbox_23" class="h-20 p-10 mb-0"></label>
							</div>
							
							{% else %}
							<span class="bullet bullet-bar bg-danger align-self-stretch"></span>							
							<div class="h-20 mx-20 flex-shrink-0">							
								<input type="checkbox" id="md_checkbox_23" class="filled-in chk-col-success" disabled>
								<label for="md_checkbox_23" class="h-20 p-10 mb-0"></label>
							</div>
							{% endif %}
							
							<div class="d-flex flex-column flex-grow-1">
								 <h5 class="mb-1 text-bold">LSK</h5>
								<span class="font-weight-500">
									Laporan Siap Kerja
								</span>
							</div>
							{% if lsk.projekbind == projek.id %}
							<a href="{% url 'dokumen/lsk' projekid=projek.id  %}" class="waves-effect waves-light btn btn-primary-light btn-circle mx-5"><span class="icon-Write"><span class="path1"></span><span class="path2"></span></span></a>
							{% else %}
							<a href="javascript:void(0)" class="waves-effect waves-light btn btn-danger-light btn-circle mx-5"><span class="icon-Write"><span class="path1"></span><span class="path2"></span></span></a>
							{% endif %}
						</div>
						
						<!--MRK 03-->
						<div class="d-flex align-items-center mb-25">
							{% if mrktiga.projekbind == projek.id %}
							<span class="bullet bullet-bar bg-success align-self-stretch"></span>							
							<div class="h-20 mx-20 flex-shrink-0">							
								<input type="checkbox" id="md_checkbox_24" class="filled-in chk-col-success" disabled=""  checked >
								<label for="md_checkbox_24" class="h-20 p-10 mb-0"></label>
							</div>
							
							{% else %}
							<span class="bullet bullet-bar bg-danger align-self-stretch"></span>							
							<div class="h-20 mx-20 flex-shrink-0">							
								<input type="checkbox" id="md_checkbox_24" class="filled-in chk-col-success" disabled>
								<label for="md_checkbox_24" class="h-20 p-10 mb-0"></label>
							</div>
							{% endif %}
							
							<div class="d-flex flex-column flex-grow-1">
								 <h5 class="mb-1 text-bold">MRK 03</h5>
								<span class="font-weight-500">
									Maklumat Rekod Kerja 03
								</span>
							</div>
							{% if mrktiga.projekbind == projek.id %}
							<a href="{% url 'dokumen/mrktiga' projekid=projek.id  %}" class="waves-effect waves-light btn btn-primary-light btn-circle mx-5"><span class="icon-Write"><span class="path1"></span><span class="path2"></span></span></a>
							{% else %}
							<a href="" class="waves-effect waves-light btn btn-danger-light btn-circle mx-5"><span class="icon-Write"><span class="path1"></span><span class="path2"></span></span></a>
							{% endif %}
						</div>
						
						<!--Perakuan Siap Kerja-->
						<div class="d-flex align-items-center mb-25">
							{% if psk.projekbind == projek.id %}
							<span class="bullet bullet-bar bg-success align-self-stretch"></span>							
							<div class="h-20 mx-20 flex-shrink-0">							
								<input type="checkbox" id="md_checkbox_25" class="filled-in chk-col-success" disabled=""  checked >
								<label for="md_checkbox_25" class="h-20 p-10 mb-0"></label>
							</div>
							
							{% else %}
							<span class="bullet bullet-bar bg-danger align-self-stretch"></span>							
							<div class="h-20 mx-20 flex-shrink-0">							
								<input type="checkbox" id="md_checkbox_25" class="filled-in chk-col-success" disabled>
								<label for="md_checkbox_25" class="h-20 p-10 mb-0"></label>
							</div>
							{% endif %}
							
							<div class="d-flex flex-column flex-grow-1">
								 <h5 class="mb-1 text-bold">PSK</h5>
								<span class="font-weight-500">
									Perakuan Siap Kerja
								</span>
							</div>
							{% if psk.projekbind == projek.id %}
							<a href="{% url 'dokumen/psk' projekid=projek.id  %}" class="waves-effect waves-light btn btn-primary-light btn-circle mx-5"><span class="icon-Write"><span class="path1"></span><span class="path2"></span></span></a>
							{% else %}
							<a href="" class="waves-effect waves-light btn btn-danger-light btn-circle mx-5"><span class="icon-Write"><span class="path1"></span><span class="path2"></span></span></a>
							{% endif %}
						</div>
						
						<!--senarai semakan-->
						<div class="d-flex align-items-center mb-25">
							{% if ss.projekbind == projek.id %}
							<span class="bullet bullet-bar bg-success align-self-stretch"></span>							
							<div class="h-20 mx-20 flex-shrink-0">							
								<input type="checkbox" id="md_checkbox_26" class="filled-in chk-col-success" disabled=""  checked >
								<label for="md_checkbox_26" class="h-20 p-10 mb-0"></label>
							</div>
							
							{% else %}
							<span class="bullet bullet-bar bg-danger align-self-stretch"></span>							
							<div class="h-20 mx-20 flex-shrink-0">							
								<input type="checkbox" id="md_checkbox_26" class="filled-in chk-col-success" disabled>
								<label for="md_checkbox_26" class="h-20 p-10 mb-0"></label>
							</div>
							{% endif %}
							
							<div class="d-flex flex-column flex-grow-1">
								 <h5 class="mb-1 text-bold">SS</h5>
								<span class="font-weight-500">
									Senarai Semakan
								</span>
							</div>
							{% if ss.projekbind == projek.id %}
							<a href="{% url 'dokumen/senaraisemakan' projekid=projek.id  %}" class="waves-effect waves-light btn btn-primary-light btn-circle mx-5"><span class="icon-Write"><span class="path1"></span><span class="path2"></span></span></a>
							{% else %}
							<a href="" class="waves-effect waves-light btn btn-danger-light btn-circle mx-5"><span class="icon-Write"><span class="path1"></span><span class="path2"></span></span></a>
							{% endif %}
						</div>
						


						
						<!--PSMK-->
						<div class="d-flex align-items-center mb-25">
							{% if ss.projekbind == projek.id %}
							<span class="bullet bullet-bar bg-success align-self-stretch"></span>							
							<div class="h-20 mx-20 flex-shrink-0">							
								<input type="checkbox" id="md_checkbox_27" class="filled-in chk-col-success" disabled=""  checked >
								<label for="md_checkbox_27" class="h-20 p-10 mb-0"></label>
							</div>
							
							{% else %}
							<span class="bullet bullet-bar bg-danger align-self-stretch"></span>							
							<div class="h-20 mx-20 flex-shrink-0">							
								<input type="checkbox" id="md_checkbox_27" class="filled-in chk-col-success" disabled>
								<label for="md_checkbox_27" class="h-20 p-10 mb-0"></label>
							</div>
							{% endif %}
							
							<div class="d-flex flex-column flex-grow-1">
								 <h5 class="mb-1 text-bold">PSMK</h5>
								<span class="font-weight-500">
									Perakuan Siap Membaiki Kecacatan
								</span>
							</div>
							{% if psmk.projekbind == projek.id %}
							<a href="{% url 'dokumen/senaraisemakan' projekid=projek.id  %}" class="waves-effect waves-light btn btn-primary-light btn-circle mx-5"><span class="icon-Write"><span class="path1"></span><span class="path2"></span></span></a>
							{% else %}
							<a href="" class="waves-effect waves-light btn btn-danger-light btn-circle mx-5"><span class="icon-Write"><span class="path1"></span><span class="path2"></span></span></a>
							{% endif %}
						</div>


						<!--JB-->
						<div class="d-flex align-items-center mb-25">
							{% if ss.projekbind == projek.id %}
							<span class="bullet bullet-bar bg-success align-self-stretch"></span>							
							<div class="h-20 mx-20 flex-shrink-0">							
								<input type="checkbox" id="md_checkbox_28" class="filled-in chk-col-success" disabled=""  checked >
								<label for="md_checkbox_28" class="h-20 p-10 mb-0"></label>
							</div>
							
							{% else %}
							<span class="bullet bullet-bar bg-danger align-self-stretch"></span>							
							<div class="h-20 mx-20 flex-shrink-0">							
								<input type="checkbox" id="md_checkbox_28" class="filled-in chk-col-success" disabled>
								<label for="md_checkbox_28" class="h-20 p-10 mb-0"></label>
							</div>
							{% endif %}
							
							<div class="d-flex flex-column flex-grow-1">
								 <h5 class="mb-1 text-bold">JB</h5>
								<span class="font-weight-500">
									Jaminan Bank
								</span>
							</div>
							{% if jb.projekbind == projek.id %}
							<a href="{% url 'dokumen/jaminanbank' projekid=projek.id  %}" class="waves-effect waves-light btn btn-primary-light btn-circle mx-5"><span class="icon-Write"><span class="path1"></span><span class="path2"></span></span></a>
							{% else %}
							<a href="" class="waves-effect waves-light btn btn-danger-light btn-circle mx-5"><span class="icon-Write"><span class="path1"></span><span class="path2"></span></span></a>
							{% endif %}
						</div>
						
						
							
					</div>

					<div class="col-md-3 d-flex flex-column">
						<div class="flex-grow-1 bg-dark p-30 flex-grow-1 bg-img" style="background-position: calc(100% + 0.5rem) bottom; background-size: auto 70%; background-image: url({% static 'assets/images/svg-icon/color-svg/custom-3.svg'%})">
								<h4 class="ont-weight-500">User Confidence</h4>
									<p class="my-10">
										Boost marketing & sales<br/>through product confidence.
									</p>
								<a href="#" class="btn btn-warning-light py-2 px-6">Learn</a>
						</div>
					</div>
					<div class="col-md-3">
							  
					  <div class="box-header no-border">
						<div class="box-tools pull-right">
							<ul class="card-controls">
							  <li class="dropdown">
								<a data-toggle="dropdown" href="#"><i class="fa fa-cog"></i></a>
								<div class="dropdown-menu dropdown-menu-right">
								  <a class="dropdown-item active" href="#">Today</a>
								  <a class="dropdown-item" href="#">Yesterday</a>
								  <a class="dropdown-item" href="#">Last week</a>
								  <a class="dropdown-item" href="#">Last month</a>
								</div>
							  </li>
							  <li><a href="" class="link card-btn-reload" data-toggle="tooltip" title="" data-original-title="Refresh"><i class="fa fa-circle-thin"></i></a></li>
							</ul>
						</div>
					  </div>

					  <div class="box-body">
						  <div class="text-center">
							  <div class="easypie" data-percent="66">
								<span class="icon-box"><i class="fa fa-clock-o text-danger"></i></span>
							  </div>
							  <h3 class="countnm per mb-5">75%</h3>
							  <p class="mb-0">Time available</p>
							  <p class="text-fade"><small>51% average</small></p>
							  <div id="barchart3" class="mt-15"></div>
						  </div>
					  </div>
				 
			  </div>
					</div>
						</div>
					</div>
				</div>

			
			</div>
		
		
		</section>
		<!-- /.content -->
	  </div>
  </div>
 
{% endblock content %}