{% extends "based/based.html" %}
{% block content %}

{% load static %}
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
	  <div class="container-full">
		<!-- Main content -->
		<section class="content">
	
			<div class="row">
							<div class="col-12 col-xl-12">
				<div class="box">		
			
					<div class="box-body">						
						<div class="px-10 py-30 bg-white text-dark">
							<h3 class="px-10 mb-15 font-weight-700">Projek </h3>
						   <ul class="flexbox flex-justified">
					
							<li class="px-10">
							  <h5 class="mb-1 text-bold">Tajuk Kerja</h5>
							  <h6>{{projek.tajukkerja}}</h6>
							</li>

								   	<li class="px-10 bl-1 ">
							<h5 class="mb-1 text-bold">Kod Vot</h5>
							  
							  <h6>{{projek.kodvot}}</h6>
					
							</li>

							<li class="br-1 bl-1 px-10">
							   <h5 class="mb-1 text-bold">Kaedah Perolahan</h5>
							  <h6>{{projek.nosebuthargaid.kaedahperolehan}}</h6>
							</li>

							<li class="px-10 ">
							<h5 class="mb-1 text-bold">Penyelia</h5>
							  <h6>{{projek.nosebuthargaid.pegawaiselia.first_name}}</h6>
							</li>

						
						  </ul>						
						</div>						
										
			
					</div>
					
				</div>
			</div> 

						<div class="col-md-12">
			  <div class="box">
				<section class="cd-horizontal-timeline">
					<div class="timeline">
						<div class="events-wrapper">
							<div class="events">
								<ol>
									<li><a href="#0" data-date="1/01/2018" class="selected">MRK 01</a></li>
									<li><a href="#0" data-date="2/01/2018">MRK 02</a></li>
									<li><a href="#0" data-date="3/01/2018">LSK</a></li>
									<li><a href="#0" data-date="4/01/2018">MRK 03</a></li>
									<li><a href="#0" data-date="5/01/2018">09 Jul</a></li>
									<li><a href="#0" data-date="6/01/2018">30 Aug</a></li>
									<li><a href="#0" data-date="7/01/2018">15 Sep</a></li>
									<li><a href="#0" data-date="8/01/2018">01 Nov</a></li>
									<li><a href="#0" data-date="9/01/2018">10 Dec</a></li>
									<li><a href="#0" data-date="10/01/2018">29 Jan</a></li>
									<li><a href="#0" data-date="11/01/2018">3 Mar</a></li>
									<li><a href="#0" data-date="12/01/2018">PPWJP</a></li>
								</ol> <span class="filling-line" aria-hidden="true"></span> </div>
							<!-- .events -->
						</div>
						<!-- .events-wrapper -->
						<ul class="cd-timeline-navigation">
							<li><a href="#0" class="prev inactive">Prev</a></li>
							<li><a href="#0" class="next">Next</a></li>
						</ul>
						<!-- .cd-timeline-navigation -->
					</div>
					<!-- .timeline -->
					<div class="events-content">
						<ol>
							<li class="selected" data-date="1/01/2018">
								<h2><img class="img-responsive rounded pull-left mr-20 mb-10" width="60" alt="user" src="{% static 'assets/images/folder.png'%}"> Maklumat Rekod Kerja 01<br/><small>{{projek.nosebuthargaid.noperolehan}}</small></h2>
								<hr class="mt-40">
								<p class="mt-30">Dikemaskini oleh {{projek.nosebuthargaid.pegawaiselia.first_name}} .<br>
									<br>
									<a href="{% url 'dokumen/mrksatu' projekid=projek.id %}" class="waves-effect waves-light btn btn-primary btn-outline">Kemaskini</a>
								</p>
							</li>
							<li data-date="2/01/2018" >
								<h2><img class="img-responsive rounded pull-left mr-20 mb-10" width="60" alt="user" src="../images/avatar/2.jpg"> Horizontal Timeline<br/><small>Feb 28th, 2018</small></h2>
								<hr class="mt-40">
								<p class="mt-40"> On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue; and equal blame belongs to those who fail in their duty through weakness of will, which is the same as saying through shrinking from toil and pain.<br>
									<button class="btn btn-info btn-outline mt-20">Read more</button>

								</p>
							</li>
							<li data-date="3/03/2018">
								<h2><img class="img-responsive rounded pull-left mr-20 mb-10" width="60" alt="user" src="../images/avatar/3.jpg"> Horizontal Timeline<br/><small>March 20th, 2018</small></h2>
								<hr class="mt-40">
								<p class="mt-40"> On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue; and equal blame belongs to those who fail in their duty through weakness of will, which is the same as saying through shrinking from toil and pain.<br>
									<button class="btn btn-info btn-outline mt-20">Read more</button>
								</p>
							</li>
							<li data-date="4/04/2018">
								<h2><img class="img-responsive rounded pull-left mr-20 mb-10" width="60" alt="user" src="../images/avatar/4.jpg"> Horizontal Timeline<br/><small>May 20th, 2018</small></h2>
								<hr class="mt-40">
								<p class="mt-40"> On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue; and equal blame belongs to those who fail in their duty through weakness of will, which is the same as saying through shrinking from toil and pain.<br>
									<button class="btn btn-info btn-outline mt-20">Read more</button>
								</p>
							</li>
							<li data-date="5/05/2018">
								<h2><img class="img-responsive rounded pull-left mr-20 mb-10" width="60" alt="user" src="../images/avatar/5.jpg"> Horizontal Timeline<br/><small>July 9th, 2018</small></h2>
								<hr class="mt-40">
								<p class="mt-40"> On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue; and equal blame belongs to those who fail in their duty through weakness of will, which is the same as saying through shrinking from toil and pain.<br>
									<button class="btn btn-info btn-outline mt-20">Read more</button>
								</p>
							</li>
							<li data-date="30/08/2018">
								<h2><img class="img-responsive rounded pull-left mr-20 mb-10" width="60" alt="user" src="../images/avatar/6.jpg"> Horizontal Timeline<br/><small>August 30th, 2018</small></h2>
								<hr class="mt-40">
								<p class="mt-40"> On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue; and equal blame belongs to those who fail in their duty through weakness of will, which is the same as saying through shrinking from toil and pain.<br>
									<button class="btn btn-info btn-outline mt-20">Read more</button>
								</p>
							</li>
							<li data-date="15/09/2018">
								<h2><img class="img-responsive rounded pull-left mr-20 mb-10" width="60" alt="user" src="../images/avatar/7.jpg"> Horizontal Timeline<br/><small>September 15th, 2018</small></h2>
								<hr class="mt-40">
								<p class="mt-40"> On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue; and equal blame belongs to those who fail in their duty through weakness of will, which is the same as saying through shrinking from toil and pain.<br>
									<button class="btn btn-info btn-outline mt-20">Read more</button>
								</p>
							</li>
							<li data-date="01/11/2018">
								<h2><img class="img-responsive rounded pull-left mr-20 mb-10" width="60" alt="user" src="../images/avatar/8.jpg"> Horizontal Timeline<br/><small>November 01st, 2018</small></h2>
								<hr class="mt-40">
								<p class="mt-40"> On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue; and equal blame belongs to those who fail in their duty through weakness of will, which is the same as saying through shrinking from toil and pain.<br>
									<button class="btn btn-info btn-outline mt-20">Read more</button>
								</p>
							</li>
							<li data-date="10/12/2018">
								<h2><img class="img-responsive rounded pull-left mr-20 mb-10" width="60" alt="user" src="../images/avatar/9.jpg"> Horizontal Timeline<br/><small>December 10th, 2018</small></h2>
								<hr class="mt-40">
								<p class="mt-40"> On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue; and equal blame belongs to those who fail in their duty through weakness of will, which is the same as saying through shrinking from toil and pain.<br>
									<button class="btn btn-info btn-outline mt-20">Read more</button>
								</p>
							</li>
							<li data-date="19/01/2019">
								<h2>Event title here</h2> <em>January 19th, 2019</em>
								<p> On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue; and equal blame belongs to those who fail in their duty through weakness of will, which is the same as saying through shrinking from toil and pain. </p>
							</li>
							<li data-date="03/03/2019">
								<h2>Event title here</h2> <em>March 3rd, 2019</em>
								<p> On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue; and equal blame belongs to those who fail in their duty through weakness of will, which is the same as saying through shrinking from toil and pain. </p>
							</li>
						</ol>
					</div>
					<!-- .events-content -->
				</section>
			  </div>          
			</div>


			
			</div>
		
		</section>
		<!-- /.content -->
	  </div>
  </div>
 
{% endblock content %}