{% extends 'based/based.html' %}
{% block content %}
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
	  <div class="container-full">
		<!-- Content Header (Page header) -->
		<div class="content-header">
			<div class="d-flex align-items-center">
				<div class="mr-auto">
					<h3 class="page-title">Surat Pelepasan Jaminan Bank</h3>
					<div class="d-inline-block align-items-center">
						<nav>
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="#"><i class="mdi mdi-home-outline"></i></a></li>
								<li class="breadcrumb-item" aria-current="page">Borang</li>
								<li class="breadcrumb-item active" aria-current="page">No perolehan</li>
							</ol>
						</nav>
					</div>
				</div>
				
			</div>
		</div>	  

		<!-- Main content -->
		<section class="content">
			<div class="row">			 
               
				<div class="col-lg-9 col-9">
                	<form class="form" action='{% url 'dokumen/jaminanbank' idperolehan=mrksatufecth.mrksatunosebutharga.id   %}' method="POST">
					  <div class="box">
				
						<!-- /.box-header -->
					
                          {% csrf_token %}
							<div class="box-body">
							<h4 class="box-title text-primary"><i class="ti-user mr-15"></i>Surat Pelepasan Jaminan Bank</h4>
							<hr class="my-15">
                 <div class="row">
              <div class="col-md-12 tl">
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Rujukan Bank</label>
                  <div class="col-sm-7 tl">
                       <input type="hidden" class="form-control" name="{{form.jbankknosebutharga.name}}" value="{{mrksatufecth.mrksatunosebutharga.id }}"/>
                                    <input type="hidden" class="form-control" name="{{form.jbankmrksatulink.name}}" value="{{mrksatufecth.id}}"/> 
                  {{form.rujukanbank}}
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 tl">
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Nama Bank</label>
                  <div class="col-sm-7">
                  {{form.namabank}}
                  </div>
                </div>
              </div>
            </div>
               <div class="row">
              <div class="col-md-12 tl">
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Tarik Mula Tanggungan</label>
                  <div class="col-sm-7 tl">
                  <input type="text" data-toggle="datepicker" class="form-control ts" readonly>
                  </div>
                </div>
              </div>
            </div>
              <div class="row">
              <div class="col-md-12 tl">
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Tarik Luput Tanggungan</label>
                  <div class="col-sm-7">
                  <input type="text" data-toggle="datepicker" class="form-control ts" readonly>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 tl">
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Alamat Bank</label>
                  <div class="col-sm-7">
                  {{form.alamatbank}}
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12 tl">
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Nama Jurutera</label>
                  <div class="col-sm-3">
                  <input type="text" class="form-control ts" readonly>
                  </div>
                  <label class="col-sm-1 col-form-label">Jawatan</label>
                  <div class="col-sm-3">
                  <input type="text" class="form-control ts" readonly>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12 tl">
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Nama Pemborong</label>
                  <div class="col-sm-7">
                    <input type="text" class="form-control ts" readonly>
            
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
                <div class="col-md-12 tl">
                  <div class="form-group row">
                      <label class="col-sm-3 col-form-label">Alamat Pemborong</label>
                        <div class="col-sm-7">
                          <textarea rows="4" type="text" class="form-control ts"readonly ></textarea>
                        </div>
                    </div>
                 </div>
              </div>
              <div class="row">
                <div class="col-md-12 tl">
                  <div class="form-group row">
                      <label class="col-sm-3 col-form-label">Alamat Pemborong untuk Surat</label>
                        <div class="col-sm-7">
                          {{form.alamatpemborongsurat}}
                        </div>
                    </div>
                 </div>
              </div>

                   

              
			
                    
						    </div>
							<!-- /.box-body -->
							<div class="box-footer">
								<button type="button" class="btn btn-rounded btn-warning btn-outline mr-1">
								  <i class="ti-trash"></i> Cancel
								</button>
								<button type="submit"  class="btn btn-rounded btn-primary btn-outline">
								  <i class="ti-save-alt"></i> Save
								</button>
							</div>  
					
					  </div>
					  <!-- /.box -->	
                          	</form>		
				</div>  
                       <div class="col-lg-3">
                <div class="box">
					<div class="box-header with-border">
					  <h4 class="box-title">Labels</h4>
					  <ul class="box-controls pull-right">
						<li><a class="box-btn-slide" href="#"></a></li>	
					  </ul>
					</div>
					<div class="box-body no-padding mailbox-nav">
					  <ul class="nav nav-pills flex-column">
						<li class="nav-item"><a class="nav-link" href="{% url 'dokumen/mrksatu' idperolehan=mrksatufecth.mrksatunosebutharga.id  %}"><i class="fa fa-folder-o text-dark"></i>MRK 01</a></li>
						<li class="nav-item"><a class="nav-link" href="{% url 'dokumen/mrkdua' idperolehan=mrksatufecth.mrksatunosebutharga.id  %}"><i class="fa fa-folder-o text-dark"></i> MRK 02</a></li>
						<li class="nav-item"><a class="nav-link" href="{% url 'dokumen/lsk' idperolehan=mrksatufecth.mrksatunosebutharga.id  %}"><i class="fa fa-folder-o text-dark"></i> Laporan Siap Kerja</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'dokumen/mrktiga' idperolehan=mrksatufecth.mrksatunosebutharga.id  %}"><i class="fa fa-folder-o text-dark"></i> MRK 03</a></li>
						<li class="nav-item"><a class="nav-link" href="{% url 'dokumen/psk' idperolehan=mrksatufecth.mrksatunosebutharga.id  %}"><i class="fa fa-folder-o text-dark"></i>Perakuan Siap Kerja</a></li>
						<li class="nav-item"><a class="nav-link" href="{% url 'dokumen/senaraisemakan' idperolehan=mrksatufecth.mrksatunosebutharga.id  %}"><i class="fa fa-folder-o text-dark "></i> Senarai Semakan</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'dokumen/psmk' idperolehan=mrksatufecth.mrksatunosebutharga.id  %}"><i class="fa fa-folder-o"></i>Perakuan Siap Membaiki Kecacatan</a></li>
						<li class="nav-item"><a class="nav-link aktif" href="{% url 'dokumen/jaminanbank' idperolehan=mrksatufecth.mrksatunosebutharga.id  %}"><i class="fa fa-folder-open-o text-dark"></i>Pelepasan Jaminan Bank</a></li>
						<li class="nav-item"><a class="nav-link" href="{% url 'dokumen/ppwjp' idperolehan=mrksatufecth.mrksatunosebutharga.id  %}"><i class="fa fa-folder-o text-dark"></i>Perakuan Pemulangan WJP</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'dokumen/smrk' idperolehan=mrksatufecth.mrksatunosebutharga.id  %}"><i class="fa fa-folder-o text-dark"></i> Surat Maklumat Rekod Kerja</a></li>
						<li class="nav-item"><a class="nav-link" href="{% url 'dokumen/skhas' idperolehan=mrksatufecth.mrksatunosebutharga.id  %}"><i class="fa fa-folder-o text-dark"></i> Surat Kebenaran Khas</a></li>
						<li class="nav-item"><a class="nav-link" href="{% url 'dokumen/suratbon' idperolehan=mrksatufecth.mrksatunosebutharga.id  %}"><i class="fa fa-folder-o text-dark"></i>Surat Pelepasan Bon Jaminan Perlaksanaan</a></li>
					  </ul>
					</div>
					<!-- /.box-body -->
				  </div>
                

                </div>
		    </div>
        
	
		</section>
		<!-- /.content -->
	  </div>
  </div>
  <!-- /.content-wrapper -->
  {% endblock content %}