{% extends "based/based.html" %}
{% block content %}
{% load static %}
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
	  <div class="container-full">
		<!-- Content Header (Page header) -->	  
		<div class="content-header">
			<div class="d-flex align-items-center">
				<div class="mr-auto">
					<h3 class="page-title">Kontraktor Profil</h3>
					<div class="d-inline-block align-items-center">
						<nav>
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="#"><i class="mdi mdi-home-outline"></i></a></li>
								<li class="breadcrumb-item" aria-current="page">Extra</li>
								<li class="breadcrumb-item active" aria-current="page">Profile</li>
							</ol>
						</nav>
					</div>
				</div>
				
			</div>
		</div>

		<!-- Main content -->
		<section class="content">

		  <div class="row">
			<div class="col-12 col-lg-7 col-xl-8">
				
			  <div class="nav-tabs-custom">
				<ul class="nav nav-tabs">
				  <li><a class="active" href="#tab1" data-toggle="tab">Maklumat Syarikat</a></li>
				  <li><a href="#tab2" data-toggle="tab">Maklumat Rakan Konsi</a></li>
				  <li><a href="#tab3" data-toggle="tab">Sijil</a></li>
				   <li><a href="#tab4" data-toggle="tab">LPIPM</a></li>
				    <li><a href="#tab5" data-toggle="tab">PKK</a></li>
				</ul>

				<div class="tab-content">

				 <div class="active tab-pane" id="tab1">
				   <div class="box">
					<div class="box-header bg-primary p-10" style="border-radius:0px">
						<h4 class="box-title">Maklumat Pemilik Syarikat</h4>
					</div>
					<div class="box-body">
					<div class="row">
					  <div class="col-md-4">
						<div class="d-flex align-items-center mb-30">
							<div class="mr-15  h-50 w-50 l-h-50 rounded text-center">
								<img src="{% static 'assets/images/id-card.png' %}" class="h-50" alt="">
							</div>
							<div class="d-flex flex-column flex-grow-1 mr-2 font-weight-500">
								<a href="#" class="text-dark hover-primary mb-1 font-size-16">No Kad Pengenalan</a>
								<span class="text-fade">{{kontraktor.konNoKPPengurus}}</span>
							</div>
							
						</div>
						</div>
						  <div class="col-md-4">	
						<div class="d-flex align-items-center mb-30">
							<div class="mr-15  h-50 w-50 l-h-50 rounded text-center">
								  <img src="{% static 'assets/images/phone.png' %}" class="h-50" alt="">
							</div>
							<div class="d-flex flex-column flex-grow-1 mr-2 font-weight-500">
								<a href="#" class="text-dark hover-danger mb-1 font-size-16">No Telefon Pengurus</a>
								<span class="text-fade">{{kontraktor.konNoTelPengurus}}</span>
							</div>
						
						</div>
						</div>
					  </div>
					</div>

					<div class="box-header bg-primary p-10" style="border-radius:0px">
						<h4 class="box-title">SSM</h4>
					</div>

					<div class="box-body">
					<div class="row">
					    <div class="col-md-4">
						<div class="d-flex align-items-center mb-30">
							<div class="mr-15  h-50 w-50 l-h-50 rounded text-center">
								  <img src="{% static 'assets/images/certificate.png' %}" class="h-50" alt="">
							</div>
							<div class="d-flex flex-column flex-grow-1 mr-2 font-weight-500">
								<a href="#" class="text-dark hover-primary mb-1 font-size-16">No Pendaftaran SSM</a>
								<span class="text-fade">{{kontraktor.sijilSSMNoPendaftaran}}</span>
							</div>
						
						</div>
						</div>
						  <div class="col-md-4">
						<div class="d-flex align-items-center mb-30">
							<div class="mr-15  h-50 w-50 l-h-50 rounded text-center">
								  <img src="{% static 'assets/images/calendar.png' %}" class="h-50" alt="">
							</div>
							<div class="d-flex flex-column flex-grow-1 mr-2 font-weight-500">
								<a href="#" class="text-dark hover-danger mb-1 font-size-16">Tempoh Sah Dari</a>
								<span class="text-fade">{{kontraktor.sijilSSMSahDari}}</span>
							</div>
							
						</div>
						</div>
					  <div class="col-md-4">
						<div class="d-flex align-items-center mb-30">
							<div class="mr-15  h-50 w-50 l-h-50 rounded text-center">
								  <img src="{% static 'assets/images/calendar.png' %}" class="h-50" alt="">
							</div>
							<div class="d-flex flex-column flex-grow-1 mr-2 font-weight-500">
								<a href="#" class="text-dark hover-danger mb-1 font-size-16">Hingga</a>
								<span class="text-fade">{{kontraktor.sijilSSMTamat}}</span>
							</div>
						
						</div>
						</div>
						</div>
					</div>

					
					<div class="box-header bg-primary p-10" style="border-radius:0px">
						<h4 class="box-title">SST / GST</h4>
					</div>

					<div class="box-body">
					<div class="row">
					<div class="col-md-4">
						<div class="d-flex align-items-center mb-30">
							<div class="mr-15  h-50 w-50 l-h-50 rounded text-center">
								  <img src="{% static 'assets/images/certificate.png' %}" class="h-50" alt="">
							</div>
							<div class="d-flex flex-column flex-grow-1 mr-2 font-weight-500">
								<a href="#" class="text-dark hover-primary mb-1 font-size-16">No Pendaftaran SST / GST</a>
								<span class="text-fade">{{kontraktor.sijilSSTNoPendaftaran}}</span>
							</div>
						
						</div>
						</div>
						<div class="col-md-4">
						<div class="d-flex align-items-center mb-30">
							<div class="mr-15  h-50 w-50 l-h-50 rounded text-center">
								  <img src="{% static 'assets/images/calendar.png' %}" class="h-50" alt="">
							</div>
							<div class="d-flex flex-column flex-grow-1 mr-2 font-weight-500">
								<a href="#" class="text-dark hover-danger mb-1 font-size-16">Tempoh Sah Dari</a>
								<span class="text-fade">{{kontraktor.sijilSSTSahDari}}dfdfdf</span>
							</div>
							
						</div>
						</div>
						<div class="col-md-4">
						<div class="d-flex align-items-center mb-30">
							<div class="mr-15  h-50 w-50 l-h-50 rounded text-center">
								  <img src="{% static 'assets/images/calendar.png' %}" class="h-50" alt="">
							</div>
							<div class="d-flex flex-column flex-grow-1 mr-2 font-weight-500">
								<a href="#" class="text-dark hover-danger mb-1 font-size-16">Hingga</a>
								<span class="text-fade">{{kontraktor.sijilSSTTamat}}</span>
							</div>
						
						</div>
						</div>
						</div>
					</div>

					<div class="box-header bg-primary p-10" style="border-radius:0px">
						<h4 class="box-title">Kawasan Operasi Syarikat</h4>
					</div>

					<div class="box-body">
						<div class="d-flex align-items-center mb-30">
							<div class="mr-15  h-50 w-50 l-h-50 rounded text-center">
								<img src="{% static 'assets/images/location.png' %}" class="h-50" alt="">
							</div>
							<div class="d-flex flex-column flex-grow-1 mr-2 font-weight-500">
								<a href="#" class="text-dark hover-primary mb-1 font-size-16">Kawasan Operasi & Prestasi</a>
								<span class="text-fade">{{kontraktor.konKawOperasi}}</span>
							</div>
				
						</div>
						<div class="d-flex align-items-center mb-30">
							<div class="mr-15  h-50 w-50 l-h-50 rounded text-center">
								<img src="{% static 'assets/images/speedometer.png' %}" class="h-50" alt="">
							</div>
							<div class="d-flex flex-column flex-grow-1 mr-2 font-weight-500">
								<a href="#" class="text-dark hover-danger mb-1 font-size-16">Prestasi</a>
								<span class="text-fade">{{kontraktor.konPrestasi}}</span>
							</div>
					
						</div>
					</div>
				</div>
			 
				</div>    
				  <!-- /.tab-pane -->

				  <div class="tab-pane" id="tab2">		

				  			<div class="box">
					<div class="box-header">
						<h4 class="box-title align-items-start flex-column">
							Rakan Kongsi
							<small class="subtitle">--</small>
						</h4>
					</div>
					<div class="box-body">
						<div class="table-responsive">
							<table class="table no-border">
								<thead>
									<tr class="text-uppercase bg-lightest">
										<th style="min-width: 150px"><span class="text-dark">Nama</span></th>
										<th style="min-width: 100px"><span class="text-fade">No Kad Pengenalan</span></th>
										<th style="min-width: 100px"><span class="text-fade">Telefon</span></th>
							
									</tr>
								</thead>
								<tbody>
									<tr>										
										<td class="pl-0 py-8">
											<div class="d-flex align-items-center">
												<div class="flex-shrink-0 mr-20 ml-5">
													<img src="{% static 'assets/images/skills.png'%}" class="h-40 align-self-end" alt="">
												</div>

												<div>
													<a href="#" class="text-dark font-weight-600 hover-primary mb-1 font-size-16">
													
													{% if not kontraktor.konRKsatu %}
															<span class="badge badge-danger-light">Tiada Maklumat rakan kongsi pertama</span>
													{% else %}
													{{kontraktor.konRKsatu}}
													{% endif %}
													
													</a>
												
												</div>
											</div>
										</td>
										<td>
											<span class="text-fade font-weight-600 d-block font-size-16">
													{% if not kontraktor.konRKsatuNokp %}
														<span class="badge badge-danger-light">Tiada maklumat no kad pengenalan</span>
													{% else %}
													{{kontraktor.konRKsatuNokp}}
													{% endif %}
											</span>
										
										</td>
										<td>
											<span class="text-fade font-weight-600 d-block font-size-16">
													{% if not kontraktor.konRKsatuNoTel %}
														<span class="badge badge-danger-light">Tiada maklumat no telefon</span>
													{% else %}
													{{kontraktor.konRKsatuNoTel}}
													{% endif %}
											</span>
										
										</td>
								
									
									</tr>
									<tr>										
										<td class="pl-0 py-8">
											<div class="d-flex align-items-center">
												<div class="flex-shrink-0 mr-20 ml-5">
													<img src="{% static 'assets/images/skills.png'%}" class="h-40 align-self-end" alt="">
												</div>

												<div>
													<a href="#" class="text-dark font-weight-600 hover-primary mb-1 font-size-16">
													
													{% if not kontraktor.konRKdua %}
															<span class="badge badge-danger-light">Tiada Maklumat rakan kongsi kedua</span>
													{% else %}
													{{kontraktor.konRKdua}}
													{% endif %}
													
													</a>
												
												</div>
											</div>
										</td>
										<td>
											<span class="text-fade font-weight-600 d-block font-size-16">
													{% if not kontraktor.konRKduaNokp %}
														<span class="badge badge-danger-light">Tiada maklumat no kad pengenalan</span>
													{% else %}
													{{kontraktor.konRKduaNokp}}
													{% endif %}
											</span>
										
										</td>
										<td>
											<span class="text-fade font-weight-600 d-block font-size-16">
													{% if not kontraktor.konRKduaNoTel %}
														<span class="badge badge-danger-light">Tiada maklumat no telefon</span>
													{% else %}
													{{kontraktor.konRKduaNoTel}}
													{% endif %}
											</span>
										
										</td>
								
									
									</tr>
									<tr>										
										<td class="pl-0 py-8">
											<div class="d-flex align-items-center">
												<div class="flex-shrink-0 mr-20 ml-5">
													<img src="{% static 'assets/images/skills.png'%}" class="h-40 align-self-end" alt="">
												</div>

												<div>
													<a href="#" class="text-dark font-weight-600 hover-primary mb-1 font-size-16">
													
													{% if not kontraktor.konRKtiga %}
															<span class="badge badge-danger-light">Tiada Maklumat rakan kongsi ketiga</span>
													{% else %}
													{{kontraktor.konRKtiga}}
													{% endif %}
													
													</a>
												
												</div>
											</div>
										</td>
										<td>
											<span class="text-fade font-weight-600 d-block font-size-16">
													{% if not kontraktor.konRKtigaNokp %}
														<span class="badge badge-danger-light">Tiada maklumat no kad pengenalan</span>
													{% else %}
													{{kontraktor.konRKtigaNokp}}
													{% endif %}
											</span>
										
										</td>
										<td>
											<span class="text-fade font-weight-600 d-block font-size-16">
													{% if not kontraktor.konRKtigaNoTel %}
														<span class="badge badge-danger-light">Tiada maklumat no telefon</span>
													{% else %}
													{{kontraktor.konRKtigaNoTel}}
													{% endif %}
											</span>
										
										</td>
								
									
									</tr>
										<tr>										
										<td class="pl-0 py-8">
											<div class="d-flex align-items-center">
												<div class="flex-shrink-0 mr-20 ml-5">
													<img src="{% static 'assets/images/skills.png'%}" class="h-40 align-self-end" alt="">
												</div>

												<div>
													<a href="#" class="text-dark font-weight-600 hover-primary mb-1 font-size-16">
													
													{% if not kontraktor.konRKempat %}
															<span class="badge badge-danger-light">Tiada Maklumat rakan kongsi keempat</span>
													{% else %}
													{{kontraktor.konRKempat}}
													{% endif %}
													
													</a>
												
												</div>
											</div>
										</td>
										<td>
											<span class="text-fade font-weight-600 d-block font-size-16">
													{% if not kontraktor.konRKempatNokp %}
														<span class="badge badge-danger-light">Tiada maklumat no kad pengenalan</span>
													{% else %}
													{{kontraktor.konRKempatNokp}}
													{% endif %}
											</span>
										
										</td>
										<td>
											<span class="text-fade font-weight-600 d-block font-size-16">
													{% if not kontraktor.konRKempatNoTel %}
														<span class="badge badge-danger-light">Tiada maklumat no telefon</span>
													{% else %}
													{{kontraktor.konRKempatNoTel}}
													{% endif %}
											</span>
										
										</td>
								
									
									</tr>
								
								</tbody>
							</table>
						</div>
					</div>
				</div> 	

				

				  </div>
				  <!-- /.tab-pane -->

				  <div class="tab-pane" id="tab3">		

					<div class="box p-15">		
					
								
					<div class="box-header no-border">
						<h4 class="box-title">Status Pendaftaran Syarikat</h4>
		
					</div>
					<div class="box-body">	
						<div id="revenue7" class="text-dark"></div>
					</div>
					<div class="box-body py-0">	
						<div class="row">
							<div class="col-4">
								<div class="d-flex align-items-center mb-30">
									<div class="mr-15 bg-primary-light h-50 w-50 l-h-60 rounded text-center">
										  <span class="icon-Library font-size-24"><span class="path1"></span><span class="path2"></span></span>
									</div>
									<div class="d-flex flex-column font-weight-500">
										<a href="#" class="text-dark hover-primary mb-1 font-size-16">Permohonan Baru</a>
										<span class="text-fade">{{kontraktor.konJPBaru}}</span>
									</div>
								</div>
							</div>
							<div class="col-4">
								<div class="d-flex align-items-center mb-30">
									<div class="mr-15 bg-danger-light h-50 w-50 l-h-60 rounded text-center">
										<span class="icon-Write font-size-24"><span class="path1"></span><span class="path2"></span></span>
									</div>
									<div class="d-flex flex-column font-weight-500">
										<a href="#" class="text-dark hover-danger mb-1 font-size-16">Pembaharuan</a>
										<span class="text-fade">{{kontraktor.konJPPembaharuan}}</span>
									</div>
								</div>
							</div>
							<div class="col-4">
								<div class="d-flex align-items-center mb-30">
									<div class="mr-15 bg-success-light h-50 w-50 l-h-60 rounded text-center">
										<span class="icon-Group-chat font-size-24"><span class="path1"></span><span class="path2"></span></span>
									</div>
									<div class="d-flex flex-column font-weight-500">
										<a href="#" class="text-dark hover-success mb-1 font-size-16">Lain-lain</a>
										<span class="text-fade">{{kontraktor.konJPLainLain}}</span>
									</div>
								</div>
							</div>
							<div class="col-4">
								<div class="d-flex align-items-center mb-30">
									<div class="mr-15 bg-info-light h-50 w-50 l-h-60 rounded text-center">
										<span class="icon-Attachment1 font-size-24"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span></span>
									</div>
									<div class="d-flex flex-column font-weight-500">
										<a href="#" class="text-dark hover-info mb-1 font-size-16">Ketegori</a>
										<span class="text-fade">{{kontraktor.konJPKategori}}</span>
									</div>
								</div>
							</div>
						</div>
					</div>										
				
					</div>	

					
					<div class="box p-15">		
					
								
					<div class="box-header no-border">
						<h4 class="box-title">Maklumat Pemohon</h4>
		
					</div>
					<div class="box-body">	
						<div id="revenue7" class="text-dark"></div>
					</div>
					<div class="box-body py-0">	
						<div class="row">
							<div class="col-12">
								<div class="d-flex align-items-center mb-30">
									<div class="mr-15 bg-primary-light h-50 w-50 l-h-60 rounded text-center">
										  <span class="icon-Library font-size-24"><span class="path1"></span><span class="path2"></span></span>
									</div>
									<div class="d-flex flex-column font-weight-500">
										<a href="#" class="text-dark hover-primary mb-1 font-size-16">No Sijil Pendaftaran</a>
										<span class="text-fade">{{kontraktor.konMPNoSijil}}</span>
									</div>
								</div>
							</div>
							<div class="col-4">
								<div class="d-flex align-items-center mb-30">
									<div class="mr-15 bg-danger-light h-50 w-50 l-h-60 rounded text-center">
										<span class="icon-Write font-size-24"><span class="path1"></span><span class="path2"></span></span>
									</div>
									<div class="d-flex flex-column font-weight-500">
										<a href="#" class="text-dark hover-danger mb-1 font-size-16">Tarikh Permohonan</a>
										<span class="text-fade">{{kontraktor.konMPTarikhMohon}}</span>
									</div>
								</div>
							</div>
							<div class="col-4">
								<div class="d-flex align-items-center mb-30">
									<div class="mr-15 bg-success-light h-50 w-50 l-h-60 rounded text-center">
										<span class="icon-Group-chat font-size-24"><span class="path1"></span><span class="path2"></span></span>
									</div>
									<div class="d-flex flex-column font-weight-500">
										<a href="#" class="text-dark hover-success mb-1 font-size-16">Cas Perkhidmatan</a>
										<span class="text-fade">{{kontraktor.konMPCas}}</span>
									</div>
								</div>
							</div>
							<div class="col-4">
								<div class="d-flex align-items-center mb-30">
									<div class="mr-15 bg-info-light h-50 w-50 l-h-60 rounded text-center">
										<span class="icon-Attachment1 font-size-24"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span></span>
									</div>
									<div class="d-flex flex-column font-weight-500">
										<a href="#" class="text-dark hover-info mb-1 font-size-16">No Resit</a>
										<span class="text-fade">{{kontraktor.konMPNoResit}}</span>
									</div>
								</div>
							</div>
							<div class="col-4">
								<div class="d-flex align-items-center mb-30">
									<div class="mr-15 bg-info-light h-50 w-50 l-h-60 rounded text-center">
										<span class="icon-Attachment1 font-size-24"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span></span>
									</div>
									<div class="d-flex flex-column font-weight-500">
										<a href="#" class="text-dark hover-info mb-1 font-size-16">Tarikh Sijil Dikeluarkan</a>
										<span class="text-fade">{{kontraktor.konMPtarikhkeluar}}</span>
									</div>
								</div>
							</div>
							<div class="col-4">
								<div class="d-flex align-items-center mb-30">
									<div class="mr-15 bg-info-light h-50 w-50 l-h-60 rounded text-center">
										<span class="icon-Attachment1 font-size-24"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span></span>
									</div>
									<div class="d-flex flex-column font-weight-500">
										<a href="#" class="text-dark hover-info mb-1 font-size-16">Tarikh Tamat Sijil</a>
										<span class="text-fade">{{kontraktor.konMPtarikhtamat}}</span>
									</div>
								</div>
							</div>
						</div>
					</div>										
				
				 </div>

				 	<div class="box p-15">		
					
								
					<div class="box-header no-border">
						<h4 class="box-title">Disemak Oleh</h4>
		
					</div>
					<div class="box-body">	
						<div id="revenue7" class="text-dark"></div>
					</div>
					<div class="box-body py-0">	
						<div class="row">
							<div class="col-12">
								<div class="d-flex align-items-center mb-30">
									<div class="mr-15 bg-primary-light h-50 w-50 l-h-60 rounded text-center">
										  <span class="icon-Library font-size-24"><span class="path1"></span><span class="path2"></span></span>
									</div>
									<div class="d-flex flex-column font-weight-500">
										<a href="#" class="text-dark hover-primary mb-1 font-size-16">No Sijil Pendaftaran</a>
										<span class="text-fade">{{kontraktor.konMPNoSijil}}</span>
									</div>
								</div>
							</div>
							<div class="col-4">
								<div class="d-flex align-items-center mb-30">
									<div class="mr-15 bg-danger-light h-50 w-50 l-h-60 rounded text-center">
										<span class="icon-Write font-size-24"><span class="path1"></span><span class="path2"></span></span>
									</div>
									<div class="d-flex flex-column font-weight-500">
										<a href="#" class="text-dark hover-danger mb-1 font-size-16">Tarikh Permohonan</a>
										<span class="text-fade">{{kontraktor.konMPTarikhMohon}}</span>
									</div>
								</div>
							</div>
							<div class="col-4">
								<div class="d-flex align-items-center mb-30">
									<div class="mr-15 bg-success-light h-50 w-50 l-h-60 rounded text-center">
										<span class="icon-Group-chat font-size-24"><span class="path1"></span><span class="path2"></span></span>
									</div>
									<div class="d-flex flex-column font-weight-500">
										<a href="#" class="text-dark hover-success mb-1 font-size-16">Cas Perkhidmatan</a>
										<span class="text-fade">{{kontraktor.konMPCas}}</span>
									</div>
								</div>
							</div>
							<div class="col-4">
								<div class="d-flex align-items-center mb-30">
									<div class="mr-15 bg-info-light h-50 w-50 l-h-60 rounded text-center">
										<span class="icon-Attachment1 font-size-24"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span></span>
									</div>
									<div class="d-flex flex-column font-weight-500">
										<a href="#" class="text-dark hover-info mb-1 font-size-16">No Resit</a>
										<span class="text-fade">{{kontraktor.konMPNoResit}}</span>
									</div>
								</div>
							</div>
							<div class="col-4">
								<div class="d-flex align-items-center mb-30">
									<div class="mr-15 bg-info-light h-50 w-50 l-h-60 rounded text-center">
										<span class="icon-Attachment1 font-size-24"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span></span>
									</div>
									<div class="d-flex flex-column font-weight-500">
										<a href="#" class="text-dark hover-info mb-1 font-size-16">Tarikh Sijil Dikeluarkan</a>
										<span class="text-fade">{{kontraktor.konMPtarikhkeluar}}</span>
									</div>
								</div>
							</div>
							<div class="col-4">
								<div class="d-flex align-items-center mb-30">
									<div class="mr-15 bg-info-light h-50 w-50 l-h-60 rounded text-center">
										<span class="icon-Attachment1 font-size-24"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span></span>
									</div>
									<div class="d-flex flex-column font-weight-500">
										<a href="#" class="text-dark hover-info mb-1 font-size-16">Tarikh Tamat Sijil</a>
										<span class="text-fade">{{kontraktor.konMPtarikhtamat}}</span>
									</div>
								</div>
							</div>
						</div>
					</div>										
				
				 </div>	  
				  </div>
				  <!-- /.tab-pane -->
				  <div class="tab-pane" id="tab4">		

					<div class="box p-15">		
					
								
					<div class="box-header no-border">
						<h4 class="box-title">Lembaga Pembangunan Industri Pembinaan Malaysia (LPIPM)</h4></p>
					   <h5 class="mb-15 font-weight-700">a) Sijil Perakuan Pendaftaran Kontraktor (PPK)</h5>
				
		
					</div>
				
					<div class="box-body py-0">	
						<div class="row">
					
							<div class="col-4">
								<div class="d-flex align-items-center mb-30">
									<div class="mr-15 bg-danger-light h-50 w-50 l-h-60 rounded text-center">
										<span class="icon-Write font-size-24"><span class="path1"></span><span class="path2"></span></span>
									</div>
									<div class="d-flex flex-column font-weight-500">
										<a href="#" class="text-dark hover-danger mb-1 font-size-16">No Pendaftaran</a>
										<span class="text-fade">{{kontraktor.konJPPembaharuan}}</span>
									</div>
								</div>
							</div>
							<div class="col-4">
								<div class="d-flex align-items-center mb-30">
									<div class="mr-15 bg-success-light h-50 w-50 l-h-60 rounded text-center">
										<span class="icon-Group-chat font-size-24"><span class="path1"></span><span class="path2"></span></span>
									</div>
									<div class="d-flex flex-column font-weight-500">
										<a href="#" class="text-dark hover-success mb-1 font-size-16">Tempoh Sah Dari</a>
										<span class="text-fade">{{kontraktor.konJPLainLain}}</span>
									</div>
								</div>
							</div>
							<div class="col-4">
								<div class="d-flex align-items-center mb-30">
									<div class="mr-15 bg-info-light h-50 w-50 l-h-60 rounded text-center">
										<span class="icon-Attachment1 font-size-24"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span></span>
									</div>
									<div class="d-flex flex-column font-weight-500">
										<a href="#" class="text-dark hover-info mb-1 font-size-16">Hingga</a>
										<span class="text-fade">{{kontraktor.konJPKategori}}</span>
									</div>
								</div>
							</div>
						</div>
						
						<div class="pb-20 bg-white text-dark">
					
						   <ul class="flexbox flex-justified">
							<li class="">
							  <h6 class="mb-0 text-bold">Gred 1</h6>
							  <small>Total</small>
							</li>

							<li class="br-1 bl-1">
							  <h6 class="mb-0 text-bold">Ketegori</h6>
							  <small>Change</small>
							</li>

							<li class="">
							  <h6 class="mb-0 text-bold">Pengkususan</h6>
							  <small>B24 B04</small>
							</li>
						  </ul>						
						</div>
					   <div class="pb-20 bg-white text-dark">
						
						   <ul class="flexbox flex-justified">
							<li class="">
							  <h6 class="mb-0 text-bold">Gred 2</h6>
							  <small>Total</small>
							</li>

							<li class="br-1 bl-1 ">
							  <h6 class="mb-0 text-bold">Ketegori</h6>
							  <small>Change</small>
							</li>

							<li class="">
							  <h6 class="mb-0 text-bold">Pengkususan</h6>
							  <small>CE36 CE21 CE34 CE01 CE31</small>
							</li>
						  </ul>						
						</div>
						<div class="pb-10 bg-white text-dark">
						
						   <ul class="flexbox flex-justified">
							<li class="">
							  <h6 class="mb-0 text-bold">Gred 3</h6>
							  <small>Total</small>
							</li>

							<li class="br-1 bl-1">
							  <h6 class="mb-0 text-bold">Ketegori</h6>
							  <small>Change</small>
							</li>

							<li class="">
							  <h6 class="mb-0 text-bold">Pengkususan</h6>
							  <small>M15</small>
							</li>
						  </ul>						
						</div>
						
					   <h5 class="mt-20 mb-20 font-weight-700">b) Sijil Perolehan Kerja Kerajaan (SPKK)</h5>
					   		<div class="row">
					
							<div class="col-4">
								<div class="d-flex align-items-center mb-30">
									<div class="mr-15 bg-danger-light h-50 w-50 l-h-60 rounded text-center">
										<span class="icon-Write font-size-24"><span class="path1"></span><span class="path2"></span></span>
									</div>
									<div class="d-flex flex-column font-weight-500">
										<a href="#" class="text-dark hover-danger mb-1 font-size-16">No Pendaftaran</a>
										<span class="text-fade">{{kontraktor.konJPPembaharuan}}</span>
									</div>
								</div>
							</div>
							<div class="col-4">
								<div class="d-flex align-items-center mb-30">
									<div class="mr-15 bg-success-light h-50 w-50 l-h-60 rounded text-center">
										<span class="icon-Group-chat font-size-24"><span class="path1"></span><span class="path2"></span></span>
									</div>
									<div class="d-flex flex-column font-weight-500">
										<a href="#" class="text-dark hover-success mb-1 font-size-16">Tempoh Sah Dari</a>
										<span class="text-fade">{{kontraktor.konJPLainLain}}</span>
									</div>
								</div>
							</div>
							<div class="col-4">
								<div class="d-flex align-items-center mb-30">
									<div class="mr-15 bg-info-light h-50 w-50 l-h-60 rounded text-center">
										<span class="icon-Attachment1 font-size-24"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span></span>
									</div>
									<div class="d-flex flex-column font-weight-500">
										<a href="#" class="text-dark hover-info mb-1 font-size-16">Hingga</a>
										<span class="text-fade">{{kontraktor.konJPKategori}}</span>
									</div>
								</div>
							</div>
						</div>
					   <div class="pb-10 bg-white text-dark">
						
						   <ul class="flexbox flex-justified">
							<li class="">
							  <h6 class="mb-0 text-bold">Gred 3</h6>
							  <small>Total</small>
							</li>

							<li class="br-1 bl-1">
							  <h6 class="mb-0 text-bold">Ketegori</h6>
							  <small>Change</small>
							</li>

							<li class="">
							  <h6 class="mb-0 text-bold">Pengkususan</h6>
							  <small>M15</small>
							</li>
						  </ul>						
						</div>
						<div class="pb-10 bg-white text-dark">
						
						   <ul class="flexbox flex-justified">
							<li class="">
							  <h6 class="mb-0 text-bold">Gred 3</h6>
							  <small>Total</small>
							</li>

							<li class="br-1 bl-1">
							  <h6 class="mb-0 text-bold">Ketegori</h6>
							  <small>Change</small>
							</li>

							<li class="">
							  <h6 class="mb-0 text-bold">Pengkususan</h6>
							  <small>M15</small>
							</li>
						  </ul>						
						</div>
						<div class="pb-10 bg-white text-dark">
						
						   <ul class="flexbox flex-justified">
							<li class="">
							  <h6 class="mb-0 text-bold">Gred 3</h6>
							  <small>Total</small>
							</li>

							<li class="br-1 bl-1">
							  <h6 class="mb-0 text-bold">Ketegori</h6>
							  <small>Change</small>
							</li>

							<li class="">
							  <h6 class="mb-0 text-bold">Pengkususan</h6>
							  <small>M15</small>
							</li>
						  </ul>						
						</div>
				
		
				
						
					</div>										
				
					</div>	

  
				  </div>
				  <!-- /.tab-pane -->

				  	<div class="tab-pane" id="tab5">		

					<div class="box p-15">		
					
								
					<div class="box-header no-border">
						<h4 class="box-title">Pusat Khidmat Kontraktor (PPK)</h4></p>
					   <h5 class="mb-15 font-weight-700">a) Sijil Taraf Bumiputra (STB)</h5>
				
		
					</div>
				
					<div class="box-body py-0">	
						<div class="row">
					
							<div class="col-4">
								<div class="d-flex align-items-center mb-30">
									<div class="mr-15 bg-danger-light h-50 w-50 l-h-60 rounded text-center">
										<span class="icon-Write font-size-24"><span class="path1"></span><span class="path2"></span></span>
									</div>
									<div class="d-flex flex-column font-weight-500">
										<a href="#" class="text-dark hover-danger mb-1 font-size-16">No Pendaftaran</a>
										<span class="text-fade">{{kontraktor.konJPPembaharuan}}</span>
									</div>
								</div>
							</div>
							<div class="col-4">
								<div class="d-flex align-items-center mb-30">
									<div class="mr-15 bg-success-light h-50 w-50 l-h-60 rounded text-center">
										<span class="icon-Group-chat font-size-24"><span class="path1"></span><span class="path2"></span></span>
									</div>
									<div class="d-flex flex-column font-weight-500">
										<a href="#" class="text-dark hover-success mb-1 font-size-16">Tempoh Sah Dari</a>
										<span class="text-fade">{{kontraktor.konJPLainLain}}</span>
									</div>
								</div>
							</div>
							<div class="col-4">
								<div class="d-flex align-items-center mb-30">
									<div class="mr-15 bg-info-light h-50 w-50 l-h-60 rounded text-center">
										<span class="icon-Attachment1 font-size-24"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span></span>
									</div>
									<div class="d-flex flex-column font-weight-500">
										<a href="#" class="text-dark hover-info mb-1 font-size-16">Hingga</a>
										<span class="text-fade">{{kontraktor.konJPKategori}}</span>
									</div>
								</div>
							</div>
						</div>
						
				
				
						
					   <h5 class="mt-20 mb-20 font-weight-700">b) Sijil Perakuan Pendaftaran Pembekal/Kontraktor(SPPPK)</h5>
					   		<div class="row">
					
							<div class="col-4">
								<div class="d-flex align-items-center mb-30">
									<div class="mr-15 bg-danger-light h-50 w-50 l-h-60 rounded text-center">
										<span class="icon-Write font-size-24"><span class="path1"></span><span class="path2"></span></span>
									</div>
									<div class="d-flex flex-column font-weight-500">
										<a href="#" class="text-dark hover-danger mb-1 font-size-16">No Pendaftaran</a>
										<span class="text-fade">{{kontraktor.konJPPembaharuan}}</span>
									</div>
								</div>
							</div>
							<div class="col-4">
								<div class="d-flex align-items-center mb-30">
									<div class="mr-15 bg-success-light h-50 w-50 l-h-60 rounded text-center">
										<span class="icon-Group-chat font-size-24"><span class="path1"></span><span class="path2"></span></span>
									</div>
									<div class="d-flex flex-column font-weight-500">
										<a href="#" class="text-dark hover-success mb-1 font-size-16">Tempoh Sah Dari</a>
										<span class="text-fade">{{kontraktor.konJPLainLain}}</span>
									</div>
								</div>
							</div>
							<div class="col-4">
								<div class="d-flex align-items-center mb-30">
									<div class="mr-15 bg-info-light h-50 w-50 l-h-60 rounded text-center">
										<span class="icon-Attachment1 font-size-24"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span></span>
									</div>
									<div class="d-flex flex-column font-weight-500">
										<a href="#" class="text-dark hover-info mb-1 font-size-16">Hingga</a>
										<span class="text-fade">{{kontraktor.konJPKategori}}</span>
									</div>
								</div>
							</div>
						</div>
				
						
					</div>										
				
					</div>	

  
				  </div>
				</div>
				<!-- /.tab-content -->
			  </div>
			  <!-- /.nav-tabs-custom -->
			</div>
			<!-- /.col -->		

			  <div class="col-12 col-lg-5 col-xl-4">
				 <div class="box box-widget widget-user">
					<!-- Add the bg color to the header using any of the bg-* classes -->
					<div class="widget-user-header bg-black" style="background: url('{% static 'assets/images/gallery/full/10.jpg' %}') center center;">
					  <h3 class="widget-user-username">{{kontraktor.konNama}}</h3>
					  <h6 class="widget-user-desc">Designer</h6>
					</div>
					<div class="widget-user-image">
					  <img class="rounded-circle" src="{% static 'assets/images/default.png' %}" alt="User Avatar">
					</div>
					<div class="box-footer">
					  <div class="row">
						<div class="col-sm-4">
						  <div class="description-block">
							<h5 class="description-header">12K</h5>
							<span class="description-text">FOLLOWERS</span>
						  </div>
						  <!-- /.description-block -->
						</div>
						<!-- /.col -->
						<div class="col-sm-4 br-1 bl-1">
						  <div class="description-block">
							<h5 class="description-header">550</h5>
							<span class="description-text">FOLLOWERS</span>
						  </div>
						  <!-- /.description-block -->
						</div>
						<!-- /.col -->
						<div class="col-sm-4">
						  <div class="description-block">
							<h5 class="description-header">158</h5>
							<span class="description-text">TWEETS</span>
						  </div>
						  <!-- /.description-block -->
						</div>
						<!-- /.col -->
					  </div>
					  <!-- /.row -->
					</div>
				  </div>
				  <div class="box">
					<div class="box-body box-profile">            
					  <div class="row">
						<div class="col-12">
							<div>
                                <p>Nama Pengurus :<span class="text-gray pl-10">{{kontraktor.konPengurus}}</span> </p>
								<p>Email :<span class="text-gray pl-10">{{kontraktor.konEmail}}</span> </p>
								<p>Telefon :<span class="text-gray pl-10">{{kontraktor.konTel}}</span></p>
								<p>Alamat :<span class="text-gray pl-10">123, Lorem Ipsum, Florida, USA</span></p>
							</div>
						</div>
				
					
					  </div>
					</div>
					<!-- /.box-body -->
				  </div>
		

			  </div>

		  </div>
		  <!-- /.row -->

		</section>
		<!-- /.content -->
	  </div>
  </div>
  <!-- /.content-wrapper -->
 
  {% endblock content %}