{% extends 'based/based.html' %}
{% block content %}
{% load mathfilters %}
{% load static %}
  <div class="content-wrapper">
	  <div class="container-full">
	  		<div class="content-header">
			<div class="d-flex align-items-center">
				<div class="mr-auto">
					<h3 class="page-title">Kontraktor Dashboard</h3>
					<div class="d-inline-block align-items-center">
						<nav>
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="#"><i class="mdi mdi-home-outline"></i></a></li>
								<li class="breadcrumb-item" aria-current="page">kontraktor</li>
								<li class="breadcrumb-item active" aria-current="page">Senarai nama</li>
							</ol>
						</nav>
					</div>
				</div>
				
			</div>
		</div>
		
		<!-- Main content -->
		<section class="content">
		
			<!--star here-->

			{% if isexist %}
			
			<div class="row">
						<div class="col-12 col-xl-12">
				<div class="box">		
			
					<div class="box-body">						
						<div class="px-10 py-30 bg-white text-dark">
							<h3 class="px-10 mb-15 font-weight-700">Kontraktor Analisis</h3>
						   <ul class="flexbox flex-justified">
							<li class="px-10">
							  <h3 class="mb-1 text-bold">699</h3>
							  <h6>Kedah</h6>
							</li>

							<li class="br-1 bl-2 px-10">
							   <h3 class="mb-1 text-bold">{{distict.kualamuda}}</h3>
							  <h6>Kuala Muda</h6>
							</li>

							<li class="px-10 ">
							<h3 class="mb-1 text-bold">{{distict.sik}}</h3>
							  <h6>Sik</h6>
							</li>

								<li class="px-10 ">
							<h3 class="mb-1 text-bold">{{distict.baling}}</h3>
							  
							  <h6>Baling</h6>
					
							</li>
						  </ul>						
						</div>						
										
			
					</div>
					
				</div>
			</div> 
					
				<div class="col-xl-8">														
					<div class="box no-shadow mb-0 bg-transparent">
						<div class="box-header no-border px-0">
							<h4 class="box-title"></h4>							
							<div class="box-controls pull-right d-md-flex d-none">
							  <a href="">View All</a>
							</div>
						</div>
					</div>
                    
                    <div class="row">
               

                    </div>
                 

				<div class="box">
					<div class="box-header">
						<h4 class="box-title align-items-start flex-column">
							Kawasan Operasi Mengikut Daerah
							<small class="subtitle">kontraktor</small>
						</h4>
					</div>
					<div class="box-body">
						<div class="table-responsive">
							<table class="table no-border">
								<thead>
									<tr class="text-uppercase bg-lightest">
										<th style="min-width: 180px"><span class="text-dark">Daerah</span></th>
										<th style="min-width: 100px; text-align:center;"><span class="text-fade">G1</span></th>
		
										<th style="min-width: 100px; text-align:center;"><span class="text-fade">Aktif</span></th>
										<th style="min-width: 100px; text-align:center;"><span class="text-fade">Tidak Aktif</span></th>
									
									</tr>
								</thead>
								<tbody>
									<tr>										
										<td class="pl-0 py-8">
											<div class="d-flex align-items-center">
												<div class="flex-shrink-0 mr-20">
													<div class="bg-img h-40 w-40" style="background-image: url({% static 'assets/images/location.png)'%}"></div>
												</div>

												<div>
													<a href="" class="text-dark font-weight-600 hover-primary mb-1 font-size-16">Kuala Muda</a>
													<span class="text-fade d-block">Kawasan Operasi</span>
												</div>
											</div>
										</td>
										<td style="text-align:center;">
										<span class="text-dark font-weight-600 d-block font-size-16">
												{{g1total.kualamuda}}
											</span>
											<span class="text-fade font-weight-600 d-block font-size-16">
												
											</span>
											
										</td>
								
										<td style="text-align:center;">
											<span class="text-dark font-weight-600 d-block font-size-16">
												{{g1total.kualamudaactive}}
											</span>
											<span class="text-fade font-weight-600 d-block font-size-16">
												
											</span>
										
										</td>
											<td style="text-align:center;">
											<span class="text-dark font-weight-600 d-block font-size-16">
												{{g1total.kualamudantactive}}
											</span>
												<span class="text-fade font-weight-600 d-block font-size-16">
												
											</span>
										
										</td>
								
									</tr>

									<tr>										
										<td class="pl-0 py-8">
											<div class="d-flex align-items-center">
												<div class="flex-shrink-0 mr-20">
													<div class="bg-img h-40 w-40" style="background-image: url({% static 'assets/images/location.png)'%}"></div>
												</div>

												<div>
													<a href="" class="text-dark font-weight-600 hover-primary mb-1 font-size-16">Sik</a>
													<span class="text-fade d-block">Kawasan Operasi</span>
												</div>
											</div>
										</td>
										<td style="text-align:center;">
										<span class="text-dark font-weight-600 d-block font-size-16">
												{{g1total.sik}}
											</span>
											<span class="text-fade font-weight-600 d-block font-size-16">
												
											</span>
											
										</td>
										
										<td style="text-align:center;">
											<span class="text-dark font-weight-600 d-block font-size-16">
												{{g1total.sikdactive}}
											</span>
											<span class="text-fade font-weight-600 d-block font-size-16">
												
											</span>
										
										</td>
											<td style="text-align:center;">
											<span class="text-dark font-weight-600 d-block font-size-16">
												{{g1total.sikdntactive}}
											</span>
												<span class="text-fade font-weight-600 d-block font-size-16">
												
											</span>
										
										</td>
								
									</tr>

									<tr>										
										<td class="pl-0 py-8">
											<div class="d-flex align-items-center">
												<div class="flex-shrink-0 mr-20">
													<div class="bg-img h-40 w-40" style="background-image: url({% static 'assets/images/location.png)'%}"></div>
												</div>

												<div>
													<a href="" class="text-dark font-weight-600 hover-primary mb-1 font-size-16">Baling</a>
													<span class="text-fade d-block">Kawasan Operasi</span>
												</div>
											</div>
										</td>
										<td style="text-align:center;">
										<span class="text-dark font-weight-600 d-block font-size-16">
												{{g1total.baling}}
											</span>
											<span class="text-fade font-weight-600 d-block font-size-16">
												
											</span>
											
										</td>
										
										<td style="text-align:center;">
											<span class="text-dark font-weight-600 d-block font-size-16">
												{{g1total.balingdactive}}
											</span>
											<span class="text-fade font-weight-600 d-block font-size-16">
												
											</span>
										
										</td>
											<td style="text-align:center;">
											<span class="text-dark font-weight-600 d-block font-size-16">
												{{g1total.balingdntactive}}
											</span>
												<span class="text-fade font-weight-600 d-block font-size-16">
												
											</span>
										
										</td>
								
									</tr>
				

								</tbody>
							</table>
						</div>
					</div>
				</div>  



						<div class="box">
					<div class="box-header">
						<h4 class="box-title align-items-start flex-column">
							Kawasan Operasi Mengikut Daerah
							<small class="subtitle">kontraktor</small>
						</h4>
					</div>
					<div class="box-body">
						<div class="table-responsive">
							<table class="table no-border">
								<thead>
									<tr class="text-uppercase bg-lightest">
										<th style="min-width: 180px"><span class="text-dark">Daerah</span></th>
										<th style="min-width: 100px; text-align:center;"><span class="text-fade">G2</span></th>
	
										<th style="min-width: 100px; text-align:center;"><span class="text-fade">Aktif</span></th>
										<th style="min-width: 100px; text-align:center;"><span class="text-fade">Tidak Aktif</span></th>
									
									</tr>
								</thead>
								<tbody>
									<tr>										
										<td class="pl-0 py-8">
											<div class="d-flex align-items-center">
												<div class="flex-shrink-0 mr-20">
													<div class="bg-img h-40 w-40" style="background-image: url({% static 'assets/images/location.png)'%}"></div>
												</div>

												<div>
													<a href="" class="text-dark font-weight-600 hover-primary mb-1 font-size-16">Kuala Muda</a>
													<span class="text-fade d-block">Kawasan Operasi</span>
												</div>
											</div>
										</td>
									
										<td style="text-align:center;">
											<span class="text-dark font-weight-600 d-block font-size-16">
												{{g1total.kualamuda}}
											</span>
											<span class="text-fade font-weight-600 d-block font-size-16">
												
											</span>
										
										</td>
											<td style="text-align:center;">
											<span class="text-dark font-weight-600 d-block font-size-16">
												{{g1total.kualamudag1active}}
											</span>
											<span class="text-fade font-weight-600 d-block font-size-16">
												
											</span>
										
										</td>
											<td style="text-align:center;">
											<span class="text-dark font-weight-600 d-block font-size-16">
												28
											</span>
												<span class="text-fade font-weight-600 d-block font-size-16">
												
											</span>
										
										</td>
								
									</tr>

											<tr>										
										<td class="pl-0 py-8">
											<div class="d-flex align-items-center">
												<div class="flex-shrink-0 mr-20">
													<div class="bg-img h-40 w-40" style="background-image: url({% static 'assets/images/location.png)'%}"></div>
												</div>

												<div>
													<a href="" class="text-dark font-weight-600 hover-primary mb-1 font-size-16">Sik</a>
													<span class="text-fade d-block">Kawasan Operasi</span>
												</div>
											</div>
										</td>
										<td style="text-align:center;">
										<span class="text-dark font-weight-600 d-block font-size-16">
												{{g1total.sik}}
											</span>
											<span class="text-fade font-weight-600 d-block font-size-16">
												
											</span>
											
										</td>
								
										<td style="text-align:center;">
											<span class="text-dark font-weight-600 d-block font-size-16">
												28
											</span>
											<span class="text-fade font-weight-600 d-block font-size-16">
												
											</span>
										
										</td>
											<td style="text-align:center;">
											<span class="text-dark font-weight-600 d-block font-size-16">
												28
											</span>
												<span class="text-fade font-weight-600 d-block font-size-16">
												
											</span>
										
										</td>
								
									</tr>

									<tr>										
										<td class="pl-0 py-8">
											<div class="d-flex align-items-center">
												<div class="flex-shrink-0 mr-20">
													<div class="bg-img h-40 w-40" style="background-image: url({% static 'assets/images/location.png)'%}"></div>
												</div>

												<div>
													<a href="" class="text-dark font-weight-600 hover-primary mb-1 font-size-16">Baling</a>
													<span class="text-fade d-block">Kawasan Operasi</span>
												</div>
											</div>
										</td>
										<td style="text-align:center;">
										<span class="text-dark font-weight-600 d-block font-size-16">
												{{g1total.baling}}
											</span>
											<span class="text-fade font-weight-600 d-block font-size-16">
												
											</span>
											
										</td>
								
											<td style="text-align:center;">
											<span class="text-dark font-weight-600 d-block font-size-16">
												28
											</span>
											<span class="text-fade font-weight-600 d-block font-size-16">
												
											</span>
										
										</td>
											<td style="text-align:center;">
											<span class="text-dark font-weight-600 d-block font-size-16">
												28
											</span>
												<span class="text-fade font-weight-600 d-block font-size-16">
												
											</span>
										
										</td>
								
									</tr>
				

								</tbody>
							</table>
						</div>
					</div>
				</div>  
		
			
					
					<div class="row">
						
					
					</div>
				</div>
				<div class="col-xl-4 col-12">										
					<div class="box no-shadow mb-0 bg-transparent">
						<div class="box-header no-border px-0">
							<h4 class="box-title">Kontraktor analisis</h4>							
						</div>
					</div>
					<div>
							  <!-- small box -->
				<div class="box ">
						<div class="box-body">
							<div class="d-flex">
								<h1 class="font-weight-600 mb-0">{{total}} </h1>
								<div class="list-icons ml-auto">
									<div class="list-icons-item dropdown">
										<a href="" class="list-icons-item dropdown-toggle text-white" data-toggle="dropdown"><i class="fa fa-cog"></i></a>
										<div class="dropdown-menu dropdown-menu-right">
											<a href="" class="dropdown-item">Update data</a>
											<a href="" class="dropdown-item">Detailed log</a>
											<a href="" class="dropdown-item">Statistics</a>
											<a href="" class="dropdown-item">Clear list</a>
										</div>
									</div>
								</div>
				
							</div>
					
							<div>
								<h5>Kontraktor</h5>
							
							</div>
						</div>

						<div id="sparklines_color"></div>
					</div>

              
					<!-- Sparklines in colored card -->
					<div class="box ">
						<div class="box-body">
							<div class="d-flex">
								<h1 class="font-weight-600 mb-0">{{totalactive.active}}</h1>
								<div class="list-icons ml-auto">
									<div class="list-icons-item dropdown">
										<a href="" class="list-icons-item dropdown-toggle text-white" data-toggle="dropdown"><i class="fa fa-cog"></i></a>
										<div class="dropdown-menu dropdown-menu-right">
											<a href="" class="dropdown-item">Update data</a>
											<a href="" class="dropdown-item">Detailed log</a>
											<a href="" class="dropdown-item">Statistics</a>
											<a href="" class="dropdown-item">Clear list</a>
										</div>
									</div>
								</div>
				
							</div>
					
							<div>
								<h5>Aktif</h5>
								<div class="font-size-16">{{totalactive.active|div:total|mul:100|floatformat:1}}%</div>
							</div>
						</div>

						<div id="sparklines_color"></div>
					</div>
                    
					<!-- /sparklines in colored card -->

					   
					<!-- Sparklines in colored card -->
					<div class="box">
						<div class="box-body">
							<div class="d-flex">
								<h1 class="font-weight-600 mb-0">{{totalactive.deactive}} </h1>
								<div class="list-icons ml-auto">
									<div class="list-icons-item dropdown">
										<a href="" class="list-icons-item dropdown-toggle text-white" data-toggle="dropdown"><i class="fa fa-cog"></i></a>
										<div class="dropdown-menu dropdown-menu-right">
											<a href="" class="dropdown-item">Update data</a>
											<a href="" class="dropdown-item">Detailed log</a>
											<a href="" class="dropdown-item">Statistics</a>
											<a href="" class="dropdown-item">Clear list</a>
										</div>
									</div>
								</div>
							</div>

							<div>
								<h5>Tidak Aktif</h5>
								<div class="font-size-16">{{totalactive.deactive|div:total|mul:100|floatformat:1}}%</div>
							</div>
						</div>

						<div id="sparklines_color1"></div>
					</div>
                    
					<!-- /sparklines in colored card -->

        
	
					
					</div>						
					
					<div>
			
					</div>					
				
				</div>
			</div>
			<!--end here here-->
			{% else %}
				<div class="row">
				  <div class="col-xl-12 col-12">
				<div class="box">
				  <div class="box-header">
					<h4 class="box-title">Tiada<strong> Maklumat Kontraktor</strong></h4>
				  </div>

				  <div class="box-body">
					
						
									<a href="" class="btn btn-warning">+ Tambah Baru</a><p>
					 

					<p>Tiada data dipengkalan buat masa kini. Sila laporkan kepada Admin</p>
				  </div>
				</div>
			  </div>
				</div>
			{% endif %}
		
		</section>
		<!-- /.content -->
	  </div>
  </div>
  <!-- /.content-wrapper -->
  {% endblock content %}
  