
  {% extends 'based/based.html' %}
  {% block content %}
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
	  <div class="container-full">
		<!-- Content Header (Page header) -->
		<div class="content-header">
			<div class="d-flex align-items-center">
				<div class="mr-auto">
					<h3 class="page-title">Daftar baru Kontraktor</h3>
					<div class="d-inline-block align-items-center">
						<nav>
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="#"><i class="mdi mdi-home-outline"></i></a></li>
								<li class="breadcrumb-item" aria-current="page">Kontraktor</li>
								<li class="breadcrumb-item active" aria-current="page">Daftar Baru</li>
							</ol>
						</nav>
					</div>
				</div>
				
			</div>
		</div>	  

		<!-- Main content -->
		<section class="content">

		  <!-- vertical wizard -->
		  <div class="box box-default">
			<div class="box-header with-border">
			  <h4 class="box-title">Borang Kontrakor</h4>
			  <h6 class="box-subtitle">You can find the <a href="http://www.jquery-steps.com" target="_blank">offical website</a></h6>
			</div>
			<!-- /.box-header -->
			<div class="box-body wizard-content">
				<form action="#" class="tab-wizard vertical wizard-circle">
					<!-- Step 1 -->
					<h6>Maklumat Syarikat</h6>
					   <section>
                            <div class="row">

                                <div class="col-sm-6 col-md-6">
                                    <div class="form-group">
                                        <label class="form-label">Nama Syarikat</label>
                                        {{form.konNama}}
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-6"></div>
                                <div class="col-sm-4 col-md-4">
                                    <div class="form-group">
                                        <label class="form-label">Gambar</label>
                                        {{form.konImage}}
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-6"></div>
                                <div class="col-sm-6 col-md-6">
                                    <div class="form-group">
                                        <label class="form-label">Alamat</label>
                                        {{form.konAlamat}}
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-6"></div>
                                <div class="col-sm-6 col-md-6">
                                    <div class="form-group">
                                        <label class="form-label"></label>
                                        {{form.konAlamatExtS}}
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-6"></div>
                                <div class="col-sm-6 col-md-6">
                                    <div class="form-group">
                                        <label class="form-label"></label>
                                        {{form.konAlamatExtD}}
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-6"></div>
                                <div class="col-sm-4 col-md-4">
                                    <div class="form-group">
                                        <label class="form-label">Poskod</label>
                                        {{form.konPoskod}}
                                    </div>
                                </div>
                                <div class="col-sm-4 col-md-4">
                                    <div class="form-group">
                                        <label class="form-label">Bandar</label>
                                        {{form.konBandar}}
                                    </div>
                                </div>
                                <div class="col-sm-4 col-md-4"></div>
                                <div class="col-sm-4 col-md-4">
                                    <div class="form-group">
                                        <label class="form-label">Daerah</label>
                                         {{form.konDaerah}}
                                    </div>
                                </div>
                                <div class="col-sm-4 col-md-4">
                                    <div class="form-group">
                                        <label class="form-label">Negeri</label>
                                        {{form.konNegeri}}
                                    </div>
                                </div>


                                <div class="col-sm-6 col-md-6">
                                    <div class="form-group">
                                        <label class="form-label">Telefon Pejabat</label>
                                        {{form.konTel}}
                                    </div>
                                </div>

                                <div class="col-sm-6 col-md-6"></div>
                                <div class="col-sm-6 col-md-6">
                                    <div class="form-group">
                                        <label class="form-label">Nama Pengurus</label>
                                        {{form.konPengurus}}
                                    </div>
                                </div>


                                <div class="col-sm-6 col-md-6"></div>
                                <div class="col-sm-6 col-md-6">
                                    <div class="form-group">
                                        <label class="form-label">No Kad Pengenalan</label>
                                        {{form.konNoKPPengurus}}
                                    </div>
                                </div>

                                <div class="col-sm-6 col-md-6"></div>
                                <div class="col-sm-6 col-md-6">
                                    <div class="form-group">
                                        <label class="form-label">No Telefon Pengurus</label>
                                        {{form.konNoTelPengurus}}
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-6"></div>
                                <div class="col-sm-6 col-md-6">
                                    <div class="form-group">
                                        <label class="form-label">Email</label>
                                       {{form.konEmail}}
                                    </div>
                                </div>

                                <div class="col-sm-6 col-md-6">
                                    <div class="form-group">
                                        <label class="form-label">No Fax</label>
                                        {{form.konFax}}
                                    </div>
                                </div>
                            </div>
                        </section>
			
                    <!-- Step 1 -->
					<h6>Maklumat Rakan Konsi</h6>
					  <section>
                            <div class="row">

                                <div class="col-sm-4 col-md-6">
                                    <div class="form-group">
                                        <label class="form-label">Rakan Konsi (1)</label>
                                       {{form.konRKsatu}}
                                    </div>
                                </div>
                                <div class="col-sm-4 col-md-3">
                                    <div class="form-group">
                                        <label class="form-label">No Kad Pengenalan</label>
                                        {{form.konRKsatuNokp}}
                                    </div>
                                </div>
                                <div class="col-sm-4 col-md-3">
                                    <div class="form-group">
                                        <label class="form-label">No Tel</label>
                                        {{form.konRKsatuNoTel}}
                                    </div>
                                </div>

                                <div class="col-sm-4 col-md-6">
                                    <div class="form-group">
                                        <label class="form-label">Rakan Konsi (2)</label>
                                        {{form.konRKdua}}
                                    </div>
                                </div>
                                <div class="col-sm-4 col-md-3">
                                    <div class="form-group">
                                        <label class="form-label">No Kad Pengenalan</label>
                                         {{form.konRKduaNokp}}
                                    </div>
                                </div>
                                <div class="col-sm-4 col-md-3">
                                    <div class="form-group">
                                        <label class="form-label">No Tel</label>
                                       {{form.konRKduaNoTel}}
                                    </div>
                                </div>


                                <div class="col-sm-4 col-md-6">
                                    <div class="form-group">
                                        <label class="form-label">Rakan Konsi (3)</label>
                                        {{form.konRKtiga}}
                                    </div>
                                </div>
                                <div class="col-sm-4 col-md-3">
                                    <div class="form-group">
                                        <label class="form-label">No Kad Pengenalan</label>
                                         {{form.konRKtigaNokp}}
                                    </div>
                                </div>
                                <div class="col-sm-4 col-md-3">
                                    <div class="form-group">
                                        <label class="form-label">No Tel</label>
                                        {{form.konRKtigaNoTel}}
                                    </div>
                                </div>

                                <div class="col-sm-4 col-md-6">
                                    <div class="form-group">
                                        <label class="form-label">Rakan Konsi (4)</label>
                                        {{form.konRKempat}}
                                    </div>
                                </div>
                                <div class="col-sm-4 col-md-3">
                                    <div class="form-group">
                                        <label class="form-label">No Kad Pengenalan</label>
                                         {{form.konRKempatNokp}}
                                    </div>
                                </div>
                                <div class="col-sm-4 col-md-3">
                                    <div class="form-group">
                                        <label class="form-label">No Tel</label>
                                        {{form.konRKempatNoTel}}
                                    </div>
                                </div>




                            </div>
                        </section>
					
					<!-- Step 2 -->
					<h6>Job Status</h6>
					<section>
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label for="jobTitle6">Job Title :</label>
									<input type="text" class="form-control" id="jobTitle6"> </div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label for="videoUrl2">Company Name :</label>
									<input type="text" class="form-control" id="videoUrl2">
								</div>
							</div>
							<div class="col-md-12">
								<div class="form-group">
									<label for="shortDescription2">Job Description :</label>
									<textarea name="shortDescription" id="shortDescription2" rows="6" class="form-control"></textarea>
								</div>
							</div>
						</div>
					</section>
					<!-- Step 3 -->
					<h6>Interview</h6>
					<section>
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label for="int2">Interview For :</label>
									<input type="text" class="form-control" id="int2"> </div>
								<div class="form-group">
									<label for="intType3">Interview Type :</label>
									<select class="custom-select form-control" id="intType3" data-placeholder="Type to search cities" name="intType3">
										<option value="Banquet">Normal</option>
										<option value="Fund Raiser">Difficult</option>
										<option value="Dinner Party">Hard</option>
									</select>
								</div>
								<div class="form-group">
									<label for="Location4">Location :</label>
									<select class="custom-select form-control" id="Location4" name="location">
										<option value="">Select City</option>
										<option value="India">India</option>
										<option value="USA">USA</option>
										<option value="Dubai">Dubai</option>
									</select>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label for="jobTitle5">Interview Date :</label>
									<input type="date" class="form-control" id="jobTitle5">
								</div>
								<div class="form-group">
									<label>Requirements :</label>
										<input name="group3" type="radio" id="radio_5" value="1">
										<label for="radio_5" class="d-block">Employee</label>
										<input name="group3" type="radio" id="radio_6" value="1">
										<label for="radio_6">Contract</label>
								</div>
							</div>
						</div>
					</section>
					<!-- Step 4 -->
					<h6>Remark</h6>
					<section>
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label for="behName2">Behaviour :</label>
									<input type="text" class="form-control" id="behName2">
								</div>
								<div class="form-group">
									<label for="participants5">Confidance</label>
									<input type="text" class="form-control" id="participants5">
								</div>
								<div class="form-group">
									<label for="participants6">Result</label>
									<select class="custom-select form-control" id="participants6" name="location">
										<option value="">Select Result</option>
										<option value="Selected">Selected</option>
										<option value="Rejected">Rejected</option>
										<option value="Call Second-time">Call Second-time</option>
									</select>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label for="decisions3">Comments</label>
									<textarea name="decisions" id="decisions3" rows="4" class="form-control"></textarea>
								</div>
								<div class="form-group">
									<label>Rate Interviwer :</label>
									<div class="c-inputs-stacked">
										<input type="checkbox" id="checkbox_11">
										<label for="checkbox_11" class="d-block">1 star</label>
										<input type="checkbox" id="checkbox_12">
										<label for="checkbox_12" class="d-block">2 star</label>
										<input type="checkbox" id="checkbox_13">
										<label for="checkbox_13" class="d-block">3 star</label>
										<input type="checkbox" id="checkbox_14">
										<label for="checkbox_14" class="d-block">4 star</label>
										<input type="checkbox" id="checkbox_15">
										<label for="checkbox_15" class="d-block">5 star</label>
									</div>
								</div>
							</div>
						</div>
					</section>
				</form>
			</div>
			<!-- /.box-body -->
		  </div>
		  <!-- /.box -->
		  <!-- /.box -->

		</section>
		<!-- /.content -->
	  </div>
  </div>
  <!-- /.content-wrapper -->

    {% endblock content %}
  