{% extends 'based/based.html' %}
{% block content %}
        <!-- START: Main Content-->
        <main>
            <div class="container-fluid site-width">
                <!-- START: Breadcrumbs-->
                <div class="row ">
                    <div class="col-12  align-self-center">
                        <div class="sub-header mt-3 py-3 align-self-center d-sm-flex w-100 rounded">
                            <div class="w-sm-100 mr-auto"><h4 class="mb-0">Pendaftaran Baru</h4></div>

                            <ol class="breadcrumb bg-transparent align-self-center m-0 p-0">
                                <li class="breadcrumb-item">Home</li>
                                <li class="breadcrumb-item">Form</li>
                                <li class="breadcrumb-item active"><a href="#">Wizard</a></li>
                            </ol>
                        </div>
                    </div>
                </div>
                <!-- END: Breadcrumbs-->

                <!-- START: Card Data-->
                <div class="row">
                    <div class="col-12 col-sm-12">
                        <div class="row">
                            <div class="col-12 col-md-12 mt-3">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="row p-3">
                                            <ul class="col-sm-3 nav nav-tabs d-block mb-4">
                                                <li class="nav-item  mb-4">
                                                    <a class="nav-link p-0 active" data-toggle="tab" href="#tab7"> 
                                                        <div class="d-flex">
                                                            <i class="far fa-address-card fa-2x mr-2"></i>
                                                            <div class="media-body align-self-center">
                                                                <h6 class="mb-0  text-info">Maklumat Syarikat</h6>
                                                                Nama Syarikat,Alamat, Pengurus
                                                            </div>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li class="nav-item  mb-4">
                                                    <a class="nav-link p-0" data-toggle="tab" href="#tab8">                                                    
                                                        <div class="d-flex">
                                                             <i class="far fa-address-book fa-2x mr-2"></i>
                                                            <div class="media-body align-self-center">
                                                                <h6 class="mb-0  text-info">Maklumat Rakan Konsi</h6>
                                                                Rakan konsi
                                                            </div>
                                                        </div>
                                                    </a>
                                                </li>

                                                <li class="nav-item mb-4">
                                                    <a class="nav-link p-0" data-toggle="tab" href="#tab9"> 
                                                        <div class="d-flex">
                                                             <i class="far fa-credit-card fa-2x mr-2"></i>
                                                            <div class="media-body align-self-center">
                                                                <h6 class="mb-0 text-info">Akaun Syarikat</h6>
                                                                Maklumat Bank & Akaun Bank
                                                            </div>
                                                        </div>
                                                    </a>
                                                </li>

                                                <li class="nav-item mb-4">
                                                    <a class="nav-link p-0" data-toggle="tab" href="#tab10"> 
                                                        <div class="d-flex">
                                                             <i class="far fa-credit-card fa-2x mr-2"></i>
                                                            <div class="media-body align-self-center">
                                                                <h6 class="mb-0 text-info">Akaun Syarikat</h6>
                                                                Maklumat Bank & Akaun Bank
                                                            </div>
                                                        </div>
                                                    </a>
                                                </li>
                                            </ul>                                       
                                            <div class="tab-content col-sm-9" style="border-left: 1px solid #e9edf4">
                                                <div class="tab-pane fade active show" id="tab7">
                                                <span class="font-w-600 h4 text-secondary">Maklumat Syarikat</span>
                                                <section>
                                                    <div class="row mt-3">
                                              
                                                        <div class="col-sm-4 col-md-4">
                                                            <div class="form-group">
                                                                <label class="form-label">Nama Syarikat</label>
                                                                <input type="text" name="konnama" value="" class="form-control"
                                                                    placeholder="Nama Syarikat">
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-8 col-md-8"></div>
                                                        <div class="col-sm-4 col-md-4">
                                                            <div class="form-group">
                                                                <label class="form-label">Gambar</label>
                                                                <input class="form-control" name="file" type="file" accept="image/*">
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6 col-md-6"></div>
                                                        <div class="col-sm-6 col-md-6">
                                                            <div class="form-group">
                                                                <label class="form-label">Alamat</label>
                                                                <input class="form-control" placeholder="cth:N0 1821 Lorong Peruda 1" type="text" name="alamat">
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6 col-md-6"></div>
                                                        <div class="col-sm-6 col-md-6">
                                                            <div class="form-group">
                                                                <label class="form-label"></label>
                                                                <input class="form-control" placeholder="cth:Taman Peruda" type="text"name="alamatjalan">
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6 col-md-6"></div>
                                                        <div class="col-sm-6 col-md-6">
                                                            <div class="form-group">
                                                                <label class="form-label"></label>
                                                                <input class="form-control" placeholder="cth:Bakar Arang" type="text" name="alamatdearah">
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6 col-md-6"></div>
                                                        <div class="col-sm-2 col-md-2">
                                                            <div class="form-group">
                                                                <label class="form-label">Poskod</label>
                                                                <input class="form-control" placeholder="eg:08000" type="text" name="poskod">
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-2 col-md-2">
                                                            <div class="form-group">
                                                                <label class="form-label">Bandar</label>
                                                                <input class="form-control" placeholder="eg:Sungai Petani" type="text"name="bandar">
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-2 col-md-2">
                                                            <div class="form-group">
                                                                <label class="form-label">Daerah</label>
                                                                <input class="form-control" placeholder="eg:Kuala Muda" type="text" name="daerah">
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-2 col-md-2">
                                                            <div class="form-group">
                                                                <label class="form-label">Negeri</label>
                                                                <select class="form-control custom-select select2" name="negeri">
                                                                    <option value="Perlis">Perlis</option>
                                                                    <option value="Kedah">Kedah</option>
                                                                    <option value="Kelantan">Kelantan</option>
                                                                    <option value="Perak">Perak</option>
                                                                    <option value="Pahang">Pahang</option>
                                                                    <option value="Terengganu">Terengganu</option>
                                                                    <option value="N.Sembilan">N.Sembilan</option>
                                                                    <option value="Kuala Lumpur">Kuala Lumpur</option>
                                                                    <option value="Sabah">Sabah</option>
                                                                    <option value="Sarawak">Sarawak</option>
                                                                    <option value="Johor">Johor</option>
                                                                    <option value="Melaka">Melaka</option>
                                                                    <option value="Selangor">Selangor</option>
                                                                    <option value="Pulau Pinang">Pulau Pinang</option>
                                                                </select>
                                                            </div>
                                                        </div>


                                                        <div class="col-sm-6 col-md-6">
                                                            <div class="form-group">
                                                                <label class="form-label">Telefon Pejabat</label>
                                                                <input class="form-control" placeholder="04-XXXXXXX" type="text" name="telpejabat">
                                                            </div>
                                                        </div>

                                                        <div class="col-sm-6 col-md-6"></div>
                                                        <div class="col-sm-6 col-md-6">
                                                            <div class="form-group">
                                                                <label class="form-label">Nama Pengurus</label>
                                                                <input class="form-control" placeholder="eg:Ahmad bin Hassan" type="text"name="namapengurus">
                                                            </div>
                                                        </div>


                                                        <div class="col-sm-6 col-md-6"></div>
                                                        <div class="col-sm-6 col-md-6">
                                                            <div class="form-group">
                                                                <label class="form-label">No Kad Pengenalan</label>
                                                                <input class="form-control" placeholder="eg:72XXXX-00-XXXX" type="text" name="nokp">
                                                            </div>
                                                        </div>

                                                        <div class="col-sm-6 col-md-6"></div>
                                                        <div class="col-sm-6 col-md-6">
                                                            <div class="form-group">
                                                                <label class="form-label">No Telefon Pengurus</label>
                                                                <input class="form-control" placeholder="cth:010-1234567" type="text" name="telpengurus">
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6 col-md-6"></div>
                                                        <div class="col-sm-6 col-md-6">
                                                            <div class="form-group">
                                                                <label class="form-label">Email</label>
                                                                <input class="form-control" placeholder="cth:adk@gmail.com" type="text" name="email">
                                                            </div>
                                                        </div>

                                                        <div class="col-sm-6 col-md-6">
                                                            <div class="form-group">
                                                                <label class="form-label">No Fax</label>
                                                                <input class="form-control" placeholder="cth:010-1234567" type="text"
                                                                    name="fax">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </section>
                                                </div>

                                                <div class="tab-pane fade" id="tab8">
                                                 <span class="font-w-600 h4 text-secondary">Rakan konsi niaga</span>
                                                <section>
                                                    <div class="row mt-3">

                                                        <div class="col-sm-4 col-md-6">
                                                            <div class="form-group">
                                                                <label class="form-label">Nama Rakan Konsi (1)</label>
                                                                <input type="text" name="rakansatu" class="form-control"
                                                                    placeholder="cth:Salah">
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-4 col-md-3">
                                                            <div class="form-group">
                                                                <label class="form-label">No Kad Pengenalan</label>
                                                                <input type="text" name="rakankadsatu" class="form-control"
                                                                    placeholder="cth:83XXXX-XX-XXXX">
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-4 col-md-3">
                                                            <div class="form-group">
                                                                <label class="form-label">No Tel</label>
                                                                <input type="text" name="rakantelsatu" class="form-control"
                                                                    placeholder="cth:012-12334456">
                                                            </div>
                                                        </div>

                                                        <div class="col-sm-4 col-md-6">
                                                            <div class="form-group">
                                                                <label class="form-label">Nama Rakan Konsi (2)</label>
                                                                <input type="text" name="rakandua" class="form-control" placeholder="cth:Salah">
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-4 col-md-3">
                                                            <div class="form-group">
                                                                <label class="form-label">No Kad Pengenalan</label>
                                                                <input type="text" name="rakankaddua" class="form-control"
                                                                    placeholder="cth:83XXXX-XX-XXXX">
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-4 col-md-3">
                                                            <div class="form-group">
                                                                <label class="form-label">No Tel</label>
                                                                <input type="text" name="rakanteldua" class="form-control"
                                                                    placeholder="cth:012-12334456">
                                                            </div>
                                                        </div>


                                                        <div class="col-sm-4 col-md-6">
                                                            <div class="form-group">
                                                                <label class="form-label">Nama Rakan Konsi (3)</label>
                                                                <input type="text" name="rakantiga" class="form-control"
                                                                    placeholder="cth:Salah">
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-4 col-md-3">
                                                            <div class="form-group">
                                                                <label class="form-label">No Kad Pengenalan</label>
                                                                <input type="text" name="rakankadtiga" class="form-control"
                                                                    placeholder="cth:83XXXX-XX-XXXX">
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-4 col-md-3">
                                                            <div class="form-group">
                                                                <label class="form-label">No Tel</label>
                                                                <input type="text" name="rakanteltiga" class="form-control"
                                                                    placeholder="cth:012-12334456">
                                                            </div>
                                                        </div>

                                                        <div class="col-sm-4 col-md-6">
                                                            <div class="form-group">
                                                                <label class="form-label">Nama Rakan Konsi (4)</label>
                                                                <input type="text" name="rakanempat" class="form-control"
                                                                    placeholder="cth:Salah">
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-4 col-md-3">
                                                            <div class="form-group">
                                                                <label class="form-label">No Kad Pengenalan</label>
                                                                <input type="text" name="rakankadempat" class="form-control"
                                                                    placeholder="cth:83XXXX-XX-XXXX">
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-4 col-md-3">
                                                            <div class="form-group">
                                                                <label class="form-label">No Tel</label>
                                                                <input type="text" name="rakantelempat" class="form-control"
                                                                    placeholder="cth:012-12334456">
                                                            </div>
                                                        </div>




                                                    </div>
                                                </section>  
                                                </div>

                                                <div class="tab-pane fade" id="tab9">
                                                    <div class="form p-5 text-center">
                                                        <h3>Thank you !</h3>
                                                        <p>Quisque nec turpis at urna dictum luctus. Suspendisse convallis dignissim eros at volutpat. In egestas mattis dui. Aliquam mattis dictum aliquet.</p>
                                                        <button type="button" class="btn btn-primary prevtab">Previous</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div> 
                            </div>

                        </div>

                    </div>
                </div>
                <!-- END: Card DATA-->
            </div>
          
        </main>
     
        <!-- END: Content-->

        {% endblock content %}
