{% extends 'based/based.html' %}
{% block content %}


  <div class="content-wrapper">
	  <div class="container-full">
		<!-- Main content -->
		<section class="content">
			<div class="row">
				<div class="col-xl-8">														
					<div class="box no-shadow mb-0 bg-transparent">
						<div class="box-header no-border px-0">
							<h4 class="box-title">{{titleboard}}</h4>							
							<div class="box-controls pull-right d-md-flex d-none">
							  <a href="#">View All</a>
							</div>
						</div>
					</div>
                    
                    <div class="row">
                        <div class="col-12">
                            <div class="box">
                            <div class="row no-gutters py-2">

                                <div class="col-12 col-lg-4">
                                <div class="box-body br-1 border-light">
                                    <div class="flexbox mb-1">
                                    <span>
                                        <span class="icon-User font-size-40"><span class="path1"></span><span class="path2"></span></span><br>
                                        Kuala Muda
                                        
                                    </span>
                                    <span class="text-primary font-size-40">{{distict.kualamuda}}</span>
                                    </div>
                                    <div class="progress progress-xxs mt-10 mb-0">
                                    <div class="progress-bar" role="progressbar" style="width:49%; height: 4px;" aria-valuenow="{{distict.kualamuda}}" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                                </div>


                                <div class="col-12 col-lg-4 hidden-down">
                                <div class="box-body br-1 border-light">
                                    <div class="flexbox mb-1">
                                    <span>
                                        <span class="icon-Selected-file font-size-40"><span class="path1"></span><span class="path2"></span></span><br>
                                        Sik
                                    </span>
                                    <span class="text-info font-size-40">{{distict.sik}}</span>
                                    </div>
                                    <div class="progress progress-xxs mt-10 mb-0">
                                    <div class="progress-bar bg-info" role="progressbar" style="width: 55%; height: 4px;" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                                </div>


                                <div class="col-12 col-lg-4 d-none d-lg-block">
                                <div class="box-body br-1 border-light">
                                    <div class="flexbox mb-1">
                                    <span>
                                        <span class="icon-Info-circle font-size-40"><span class="path1"></span><span class="path2"></span><span class="path3"></span></span><br>
                                        Baling
                                    </span>
                                    <span class="text-warning font-size-40">{{distict.baling}}</span>
                                    </div>
                                    <div class="progress progress-xxs mt-10 mb-0">
                                    <div class="progress-bar bg-warning" role="progressbar" style="width: 65%; height: 4px;" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                                </div>
                            </div>
                            </div>
                        </div>
                        <!-- /.col -->

                    </div>
                    <!-- /.row -->

					<div class="box">
						<div class="box-header">
							<h4 class="box-title">Activity Statistics</h4>
							<ul class="box-controls pull-right d-md-flex d-none">
							  <li class="dropdown">
								<button class="dropdown-toggle btn btn-warning-light px-10" data-toggle="dropdown" href="#" aria-expanded="false">Monthly</button>										  
								<div class="dropdown-menu dropdown-menu-right" style="">
								  <a class="dropdown-item active" href="#">Today</a>
								  <a class="dropdown-item" href="#">Yesterday</a>
								  <a class="dropdown-item" href="#">Last week</a>
								  <a class="dropdown-item" href="#">Last month</a>
								</div>
							  </li>
							</ul>
						</div>
						<div class="box-body">
							<div id="charts_widget_1_chart"></div>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-6 col-12">
							<a href="#" class="box bg-danger bg-hover-danger pull-up">
								<div class="box-body">
									<div class="d-flex align-items-center">
										<div class="w-80 h-80 l-h-100 rounded-circle b-1 border-white text-center">
											<span class="text-white icon-Cart2 font-size-40"><span class="path1"></span><span class="path2"></span></span>
										</div>
										<div class="ml-10">
											<h4 class="text-white mb-0">+1 1234 456 789</h4>
											<h5 class="text-white-50 mb-0">Toll Free</h5>
										</div>
									</div>							
								</div>
							</a>
						</div>
						<div class="col-lg-6 col-12">
							<a href="#" class="box bg-primary bg-hover-primary pull-up">
								<div class="box-body">
									<div class="d-flex align-items-center">
										<div class="w-80 h-80 l-h-100 rounded-circle b-1 border-white text-center">
											<span class="text-white icon-Mail font-size-40"></span>
										</div>
										<div class="ml-10">
											<h4 class="text-white mb-0">info@EduAdmin.com</h4>
											<h5 class="text-white-50 mb-0">Free to Fill Us</h5>
										</div>
									</div>							
								</div>
							</a>
						</div>
					</div>
				</div>
				<div class="col-xl-4 col-12">										
					<div class="box no-shadow mb-0 bg-transparent">
						<div class="box-header no-border px-0">
							<h4 class="box-title">Upcoming Group Lessons</h4>							
							<div class="box-controls pull-right d-md-flex d-none">
							  <a href="#">View All</a>
							</div>
						</div>
					</div>
					<div>
						<div class="box bl-5 border-danger rounded pull-up">
							<div class="box-body">	
								<div class="flex-grow-1">	
									<div class="d-flex align-items-center pr-2 justify-content-between">							
										<h4 class="font-weight-500">
											Common English
										</h4>
										<div class="dropdown">
											<a data-toggle="dropdown" href="#" class="px-10 pt-5"><i class="ti-more-alt"></i></a>
											<div class="dropdown-menu dropdown-menu-right">
											  <a class="dropdown-item" href="#"><i class="ti-import"></i> Import</a>
											  <a class="dropdown-item" href="#"><i class="ti-export"></i> Export</a>
											  <a class="dropdown-item" href="#"><i class="ti-printer"></i> Print</a>
											  <div class="dropdown-divider"></div>
											  <a class="dropdown-item" href="#"><i class="ti-settings"></i> Settings</a>
											</div>
										</div>						
									</div>
									<p class="font-size-16">
										Thu 13 PM - 15 PM
									</p>
								</div>							
								<div class="d-flex align-items-center justify-content-between mt-10">
									<div class="d-flex">
										<a href="#" class="mr-15 bg-lightest h-50 w-50 l-h-50 rounded-circle text-center overflow-hidden">
											<img src="../images/avatar/avatar-1.png" class="h-50 align-self-end" alt="">
										</a>
										<a href="#" class="mr-15 bg-lightest h-50 w-50 l-h-50 rounded-circle text-center overflow-hidden">
											<img src="../images/avatar/avatar-3.png" class="h-50 align-self-end" alt="">
										</a>
										<a href="#" class="mr-15 bg-lightest h-50 w-50 l-h-50 rounded-circle text-center overflow-hidden">
											<img src="../images/avatar/avatar-4.png" class="h-50 align-self-end" alt="">
										</a>
									</div>
									<button type="button" class="waves-effect waves-circle btn btn-circle btn-dark"><i class="mdi mdi-plus"></i></button>
								</div>
							</div>					
						</div>
						<div class="box bl-5 border-primary rounded mb-10 pull-up">
							<div class="box-body">	
								<div class="flex-grow-1">	
									<div class="d-flex align-items-center pr-2 justify-content-between">							
										<h4 class="font-weight-500">
											Speaking club
										</h4>
										<div class="dropdown">
											<a data-toggle="dropdown" href="#" class="px-10 pt-5"><i class="ti-more-alt"></i></a>
											<div class="dropdown-menu dropdown-menu-right">
											  <a class="dropdown-item" href="#"><i class="ti-import"></i> Import</a>
											  <a class="dropdown-item" href="#"><i class="ti-export"></i> Export</a>
											  <a class="dropdown-item" href="#"><i class="ti-printer"></i> Print</a>
											  <div class="dropdown-divider"></div>
											  <a class="dropdown-item" href="#"><i class="ti-settings"></i> Settings</a>
											</div>
										</div>						
									</div>
									<p class="font-size-16">
										Thu 16 PM - 17 PM
									</p>
								</div>							
								<div class="d-flex align-items-center justify-content-between mt-10">
									<div class="d-flex">
										<a href="#" class="mr-15 bg-lightest h-50 w-50 l-h-50 rounded-circle text-center overflow-hidden">
											<img src="../images/avatar/avatar-2.png" class="h-50 align-self-end" alt="">
										</a>
										<a href="#" class="mr-15 bg-lightest h-50 w-50 l-h-50 rounded-circle text-center overflow-hidden">
											<img src="../images/avatar/avatar-5.png" class="h-50 align-self-end" alt="">
										</a>
										<a href="#" class="mr-15 bg-lightest h-50 w-50 l-h-50 rounded-circle text-center overflow-hidden">
											<img src="../images/avatar/avatar-6.png" class="h-50 align-self-end" alt="">
										</a>
									</div>
									<button type="button" class="waves-effect waves-circle btn btn-circle btn-dark"><i class="mdi mdi-plus"></i></button>
								</div>
							</div>					
						</div>
					</div>						
					<div class="box no-shadow mb-0 bg-transparent">
						<div class="box-header no-border px-0">
							<h4 class="box-title">Lessons</h4>							
							<div class="box-controls pull-right d-md-flex d-none">
							  <a href="#">View All</a>
							</div>
						</div>
					</div>
					<div>
						<div class="box mb-15 pull-up">
							<div class="box-body">
								<div class="d-flex align-items-center justify-content-between">
									<div class="d-flex align-items-center">
										<div class="mr-15 bg-warning-light h-50 w-50 l-h-60 rounded text-center">
											<span class="icon-Book-open font-size-24"><span class="path1"></span><span class="path2"></span></span>
										</div>
										<div class="d-flex flex-column font-weight-500">
											<a href="#" class="text-dark hover-primary mb-1 font-size-16">English - Grammar</a>
											<span class="text-fade">Eula kelly, 6 May</span>
										</div>
									</div>
									<a href="#">
										<span class="icon-Arrow-right font-size-24"><span class="path1"></span><span class="path2"></span></span>
									</a>
								</div>
							</div>
						</div>
						<div class="box mb-15 pull-up">
							<div class="box-body">
								<div class="d-flex align-items-center justify-content-between">
									<div class="d-flex align-items-center">
										<div class="mr-15 bg-primary-light h-50 w-50 l-h-60 rounded text-center">
											<span class="icon-Mail font-size-24"></span>
										</div>
										<div class="d-flex flex-column font-weight-500">
											<a href="#" class="text-dark hover-primary mb-1 font-size-16">Irregular Verbs Test</a>
											<span class="text-fade">Oilve Garza, 4 May</span>
										</div>
									</div>
									<a href="#">
										<span class="icon-Arrow-right font-size-24"><span class="path1"></span><span class="path2"></span></span>
									</a>
								</div>
							</div>
						</div>
						<div class="box mb-10 pull-up">
							<div class="box-body">
								<div class="d-flex align-items-center justify-content-between">
									<div class="d-flex align-items-center">
										<div class="mr-15 bg-danger-light h-50 w-50 l-h-60 rounded text-center">
											<span class="icon-Book-open font-size-24"><span class="path1"></span><span class="path2"></span></span>
										</div>
										<div class="d-flex flex-column font-weight-500">
											<a href="#" class="text-dark hover-primary mb-1 font-size-16">Spanish - Essey</a>
											<span class="text-fade">Franklin Harvey, 2 May</span>
										</div>
									</div>
									<a href="#">
										<span class="icon-Arrow-right font-size-24"><span class="path1"></span><span class="path2"></span></span>
									</a>
								</div>
							</div>
						</div>
					</div>					
					<div class="box no-shadow mb-0 bg-transparent">
						<div class="box-header no-border px-0">
							<h4 class="box-title">Resent Join course</h4>							
							<div class="box-controls pull-right d-md-flex d-none">
							  <a href="#">View All</a>
							</div>
						</div>
					</div>
					<div class="card">
						<div class="min-h-310" style="background-image: url(../images/front-end-img/courses/1.jpg); background-position: center center; background-size: cover;"></div>
					  <div class="card-body">
							<span class="badge badge-primary">Online</span>	
							<span class="badge badge-primary-light">English</span>
							<span class="badge badge-primary-light">Spanish</span>													
							<div class="cour-stac d-flex align-items-center text-fade mt-20">
							  <p>Start Date 4th Nov..</p>
							  <p class="lt-sp">|</p>
							  <p>Johen doe</p>
							</div>
						<h4 class="card-title justify-content-between d-flex align-items-center">Manegement</h4>
						<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
					  </div>
					  <div class="card-footer justify-content-between d-flex align-items-center">
						<div class="d-flex font-size-18 font-weight-600"> <span class="text-dark mr-10">$83</span> <del class="text-muted">$195</del> </div>
						<span>
							<i class="fa fa-star text-warning"></i>
							<i class="fa fa-star text-warning"></i>
							<i class="fa fa-star text-warning"></i>
							<i class="fa fa-star text-warning"></i>
							<i class="fa fa-star-half text-warning"></i>
							<span class="text-muted ml-2">(42)</span>
						</span>
					  </div>
					</div>
				</div>
			</div>
		</section>
		<!-- /.content -->
	  </div>
  </div>
  <!-- /.content-wrapper -->
  {% endblock content %}
  