{% extends 'based/based.html' %}
{% block content %}
{% load static %}
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
	  <div class="container-full">
		<!-- Content Header (Page header) -->
		<div class="content-header">
			<div class="d-flex align-items-center">
				<div class="mr-auto">
					<h3 class="page-title">Pendaftaran Kursus</h3>
					<div class="d-inline-block align-items-center">
						<nav>
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="#"><i class="mdi mdi-home-outline"></i></a></li>
								<li class="breadcrumb-item" aria-current="page">Borang</li>
								<li class="breadcrumb-item active" aria-current="page">Kursus</li>
							</ol>
						</nav>
					</div>
				</div>
				
			</div>
		</div>	  

		<!-- Main content -->
		<section class="content">
			<div class="row">			  
				<div class="col-lg-12">
                	<form class="form" action='' method="POST">
					  <div class="box">
				
						<!-- /.box-header -->
					
                          {% csrf_token %}
							<div class="box-body">
								<h4 class="box-title text-primary"><i class="ti-user mr-15"></i>Kursus</h4>
								<hr class="my-15">
								<div class="row">
								<div class="col-lg-6 col-md-12">
									<div class="row">
										<div class="col-md-12">
											<div class="form-group">
											<label>Tajuk Kursus</label>
											{{form.tajukkursus}}
										
											</div>
										</div>
								
									</div>
							
						
									<div class="row">
										<div class="col-lg-3 col-md-6">
											<div class="form-group">
											<label>Tarikh Mula</label>
											{{form.tarikhmula}}
											</div>
										</div>
										<div class="col-lg-3 col-md-6">
											<div class="form-group">
											<label>Tarikh Mula</label>
											{{form.tarikhakhir}}
											</div>
										</div>
										<div class="col-lg-2 col-md-3">
											<div class="form-group">
											<label>Hari</label>
											{{form.hari}}
											</div>
										</div>
										<div class="col-lg-4 col-md-3">
											<div class="form-group">
											<label>Tahun</label>
											{{form.tahun}}
											</div>
										</div>
								
							
									</div>
									<div class="row">
											<div class="col-lg-8 col-md-12">
											<div class="form-group">
											<label>Tempat</label>
										
											{{form.tempat}}
											</div>
										</div>
									</div>
							</div>
							<div class="col-lg-6 col-md-12">
					<div class="box-light">
						<div class="box-body p-xl-0">							
							<div class="row align-items-center">
								<div class="col-12"><img src="{% static 'assets/images/svg-icon/color-svg/custom-14.svg'%}" alt=""></div>
							
							</div>
						</div>
					</div>
				</div>
							</div>
							
		
		
							
							</div>
							<!-- /.box-body -->
							<div class="box-footer">
								<button type="button" class="btn  btn-warning btn-outline mr-1">
								  <i class="ti-trash"></i> Cancel
								</button>
								<button type="submit"  class="btn btn-primary btn-outline">
								  <i class="ti-save-alt"></i> Save
								</button>
							</div>  
					
					  </div>
					  <!-- /.box -->	
                        </form>		
				</div>
		
		    </div>
        
	
		</section>
		<!-- /.content -->
	  </div>
  </div>
  <!-- /.content-wrapper -->
  {% endblock content %}