{% extends 'based/based.html' %}
{% block content %}
{% load mathfilters %}
{% load static %}
{% load humanize %}
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
	  <div class="container-full">
		<!-- Content Header (Page header) -->	  
		<div class="content-header">
			<div class="d-flex align-items-center">
				<div class="mr-auto">
					<h3 class="page-title">Invoice List</h3>
					<div class="d-inline-block align-items-center">
						<nav>
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="#"><i class="mdi mdi-home-outline"></i></a></li>
								<li class="breadcrumb-item" aria-current="page">Invoice</li>
								<li class="breadcrumb-item active" aria-current="page">Invoice List</li>
							</ol>
						</nav>
					</div>
				</div>
				
			</div>
		</div>

		<!-- Main content -->
		<section class="content">
		<div class="row">
			<div class="col-xl-3 col-lg-3 col-3">
				<div class="box">
					<div class="box-header with-border">						
						<h4 class="box-title">ICarian</h4>
						<h6 class="box-subtitle">Kod Peruntukan, Kaedah Perolehan & Tahun</h6>
					</div>
					<form class="form" method="GET" action="{% url 'laporan/filter' %}">
					<div class="box-body">
					<div class="row">					
						  <div class="col-md-12">
									<div class="form-group">
									  <label>Kod Peruntukan</label>
									    <select class="form-control" name="kod">
										<option value="">-----</option>
										{% for k in kd%}
										<option value="{{k.no}}">{{k.no}}</option>
										{% endfor %}
									
							
										
									  </select>
									</div>
								  </div>
								  	  <div class="col-md-12">
										<label>Kaedah</label>
										</p>
									<div class="form-group">
									
										<label class="form-check-label">
                        					<input type="checkbox" name="sebutharga" id="md_checkbox_1" class="chk-col-success" value="Sebutharga"><label for="md_checkbox_1"><h5 class="text-dark font-weight-600 font-s">Sebutharga</h5></h5></label></br>
											<input type="checkbox" name="undi" id="md_checkbox_2" class="chk-col-success" value="Undi"><label for="md_checkbox_2"><h5 class="text-dark font-weight-600 font-s">Undi</h5></h5></label></br>
											<input type="checkbox" name="lantikanterus" id="md_checkbox_3" class="chk-col-success" value="Lantikan Terus"><label for="md_checkbox_3"><h5 class="text-dark font-weight-600 font-s">Lantikan Terus</h5></h5></label></br>
                        				</label>
									</div>
								  </div>
								  	<div class="col-md-12">
									<div class="form-group">
									  <label>Tahun</label>
									  	<select class="form-control" name="tahun">
										<option value="2021">2021</option>
										<option value="2020">2020</option>
										<option value="2019">2019</option>
										<option value="2018">2020</option>
										<option value="2017">2017</option>
									  </select>
									</div>
							
								</div>
								<div class="col-md-12">
												  <div class="form-group">
					<label>Date range:(Masih dalam Percubaan)</label>

					<div class="input-group">
	<div class="input-group">
					  <div class="input-group-addon">
						<i class="fa fa-calendar"></i>
					  </div>
					  <input type="text" class="form-control pull-right" id="reportrange">
					</div>
<input type="hidden" name="date1" id="date1">

<input type="hidden" name="date2" id="date2">
				
					</div>
					<!-- /.input group -->
				  </div>
								</div>
								</div>
					</div>

						<div class="box-footer">
								<button type="button" class="btn btn-rounded btn-danger">
								  <i class="ti-trash"></i> Batal
								</button>
								<button type="submit" class="btn btn-rounded btn-primary ">
								  <i class="ti-save-alt"></i> Cari
								</button>
							</div> 

									</form>
				</div>
			</div>
						<div class="col-xl-9 col-lg-9 col-9">
				<div class="box">
					<div class="box-header with-border">						
						<h4 class="box-title">Invoice List</h4>
						<h6 class="box-subtitle">Export Invoice List to Copy, CSV, Excel, PDF & Print</h6>
					</div>
					<div class="box-body">						
						<div class="table-responsive">

							<table id="example" class="table table-lg invoice-archive">
								<thead>
									<tr>
										<th>Bil</th>
										<th>Kod Peruntukan</th>
										<th>Tajuk Projek</th>
										<th>Harga Kontrak</th>
										<th>Butiran Kontrak</br>(1)Nama Kontraktor</br>(2)No.Kontrak/Sebutharga</br>(3)Mula/Siap</br>(4)EOT</br></th>
										<th>Waran Diterima (A)</th>
										<th>Perbelanjaan (B)</th>
										<th>Tanggungan (C)</th>
                                        <th>Baki</th>
                                        <th>Perbelanjaan Tahun Semasa</th>
                                        <th>Kemajuan Projek</th>
									</tr>
								</thead>
									<tbody>
									{% for qss in qs %}
	
									<tr>
										<td><span class="text-primary font-weight-600 d-block font-size-30 cc_cursor">01</span></td>
										<td>{{qss.projekbind__kodvot__no}}</td>
									
										<td>
											<h6 class="mb-0">
											
												<span class="d-block text-muted" style="width:400">{{qss.projekbind__tajukkerja}}</span>
												
												{{qss.projekbind__nosebuthargaid__tarikh__year}}
											
											</h6>
											<br>
											<h6 class="mb-0">
											
										
												
												<span class="d-block text-muted text-primary" style="width:400">{{qss.projekbind__nosebuthargaid__kaedahperolehan}}</span>
											
											</h6>
										</td>
									
										<td>
										<h6 class="mb-0 font-weight-bold" style="width:120px">RM {{qss.mrksatukosprojek|intcomma}}</h6>
										</td>
										<td>
											 <ul style="width:300px;list-style-type: none;padding:0px">
                                                <li>(1) <span class="mb-0 font-weight-bold">{{qss.mrksatukontraktor__konNama}}</span></li>
                                                <li>(2) <span class="text-muted">{{qss.projekbind__nosebuthargaid__noperolehan}}</span></li>
                                                <li>(3) <span class="badge badge-pill badge-primary">{{qss.mrksatutarikhmula}} / {{qss.mrksatutarikhmula}}</span></li>
                                                <li>(4) <span class="badge badge-pill badge-warning">{{qss.bindone__mrkduaLADdari}} / {{qss.bindone__mrkduaLADSehingga}}</span></li>
                                            </ul>  
										</td>
										<td>
											<h6 class="mb-0 font-weight-bold" style="width:120px">RM {{qss.projekbind__peruntukansemasa|intcomma}}</h6>
										</td>
										<td>
											<h6 class="mb-0 font-weight-bold" style="width:120px">RM {{qss.projekbind__kosprojek__kos_belanja|intcomma}}</h6>
										</td>
										<td>
                                            <h6 class="mb-0 font-weight-bold" style="width:120px">RM {{qss.projekbind__kosprojek__kos_tanggung|intcomma}}</h6>
										</td>
                                        <td>
											<h6 class="mb-0 font-weight-bold" style="width:120px">RM {{qss.projekbind__peruntukansemasa|sub:qss.projekbind__kosprojek__kos_belanja|sub:qss.projekbind__kosprojek__kos_tanggung|intcomma}}</h6>
										</td>
                                        <td>
                                            <h6 class="mb-0 font-weight-bold" style="width:120px">RM 0,00</h6>
										</td>
                                          <td>
                                            <h6 class="mb-0 font-weight-bold" style="">100%</h6>
										</td>
                                        
									</tr>
									{% endfor %}
								

	
								</tbody>
							</table>

						</div>
					</div>
				</div>
			</div>
		  </div>
		  <div class="row">

		  </div>
		</section>
		<!-- /.content -->
	  </div>
  </div>
  <!-- /.content-wrapper -->

    {% endblock content %}
  