{% extends 'based/based.html' %}
{% block content %}
{% load mathfilters %}
{% load static %}
{% load humanize %}
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
	  <div class="container-full">
		<!-- Content Header (Page header) -->	  
		<div class="content-header">
			<div class="d-flex align-items-center">
				<div class="mr-auto">
					<h3 class="page-title">Invoice List</h3>
					<div class="d-inline-block align-items-center">
						<nav>
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="#"><i class="mdi mdi-home-outline"></i></a></li>
								<li class="breadcrumb-item" aria-current="page">Invoice</li>
								<li class="breadcrumb-item active" aria-current="page">Invoice List</li>
							</ol>
						</nav>
					</div>
				</div>
				
			</div>
		</div>

		<!-- Main content -->
		<section class="content">
		<div class="row">
			<div class="col-xl-12 col-lg-12 col-12">
				<div class="box">
					<div class="box-header with-border">						
						<h4 class="box-title">ICarian</h4>
						<h6 class="box-subtitle">Kod Peruntukan, Kaedah Perolehan & Tahun</h6>
					</div>
					<form class="form" method="GET" action="{% url 'laporan/filter' %}">
					<div class="box-body">
					<div class="row">					
						  <div class="col-md-4">
									<div class="form-group">
									  <label>Kod Peruntukan</label>
									    <select class="form-control" name="kod">
										<option>Tiada</option>
										
										<option value=""></option>
									
							
										
									  </select>
									</div>
								  </div>
								  	  <div class="col-md-4">
									<div class="form-group">
									  <label>Kaedah Perolehan</label>
									  	<select class="form-control" name="kaedah">
										<option value="Tiada">Tiada</option>
										<option value="sebutharga">Sebutharga</option>
										<option value="lantikan_terus">Lantikan Terus</option>
										<option value="undi">Undi</option>
									  </select>
									</div>
								  </div>
								  	  <div class="col-md-4">
									<div class="form-group">
									  <label>Tahun</label>
									  	<select class="form-control" name="tahun">
										<option value="2021">Semasa</option>
										<option value="2020">2020</option>
										<option value="2019">2019</option>
										<option value="2018">2020</option>
										<option value="2017">2017</option>
									  </select>
									</div>
							
								</div>
								</div>
					</div>

						<div class="box-footer">
								<button type="button" class="btn btn-rounded btn-danger">
								  <i class="ti-trash"></i> Batal
								</button>
								<button type="submit" class="btn btn-rounded btn-primary ">
								  <i class="ti-save-alt"></i> Cari
								</button>
							</div> 

									</form>
				</div>
			</div>
		  </div>
		  <div class="row">
			<div class="col-xl-12 col-lg-12 col-12">
				<div class="box">
					<div class="box-header with-border">						
						<h4 class="box-title">Invoice List</h4>
						<h6 class="box-subtitle">Export Invoice List to Copy, CSV, Excel, PDF & Print</h6>
					</div>
					<div class="box-body">						
						<div class="table-responsive">

							<table id="example" class="table table-lg invoice-archive">
								<thead>
									<tr>
										<th>Bil</th>
										<th>Kod Peruntukan</th>
										<th>Tajuk Projek</th>
										<th>Harga Kontrak</th>
										<th>Butiran Kontrak</br>(1)Nama Kontraktor</br>(2)No.Kontrak/Sebutharga</br>(3)Mula/Siap</br>(4)EOT</br></th>
										<th>Waran Diterima (A)</th>
										<th>Perbelanjaan (B)</th>
										<th>Tanggungan (C)</th>
                                        <th>Baki</th>
                                        <th>Perbelanjaan Tahun Semasa</th>
                                        <th>Kemajuan Projek</th>
									</tr>
								</thead>
									<tbody>
									{% for qss in qs %}
	
									<tr>
										<td><span class="text-primary font-weight-600 d-block font-size-30 cc_cursor">01</span></td>
										<td>{{qss.projekbind__kodvot__no}}</td>
									
										<td>
											<h6 class="mb-0">
											
												<span class="d-block text-muted" style="width:200px">{{qss.projekbind__tajukkerja}}</span>
												{{ps}}
											</h6>
										</td>
									
										<td>
										<h6 class="mb-0 font-weight-bold" style="width:120px">RM {{qss.mrksatukosprojek|intcomma}}</h6>
										</td>
										<td>
											 <ul style="width:300px;list-style-type: none;padding:0px">
                                                <li>(1) <span class="mb-0 font-weight-bold">{{qss.mrksatukontraktor__konNama}}</span></li>
                                                <li>(2) <span class="text-muted">{{qss.projekbind__nosebuthargaid__noperolehan}}</span></li>
                                                <li>(3) <span class="badge badge-pill badge-primary">{{qss.mrksatutarikhmula}} / {{qss.mrksatutarikhmula}}</span></li>
                                                <li>(4) <span class="badge badge-pill badge-warning">{{qss.bindone__mrkduaLADdari}} / {{qss.bindone__mrkduaLADSehingga}}</span></li>
                                            </ul>  
										</td>
										<td>
											<h6 class="mb-0 font-weight-bold" style="width:120px">RM {{qss.projekbind__peruntukansemasa|intcomma}}</h6>
										</td>
										<td>
											<h6 class="mb-0 font-weight-bold" style="width:120px">RM {{qss.projekbind__kosprojek__kos_belanja|intcomma}}</h6>
										</td>
										<td>
                                            <h6 class="mb-0 font-weight-bold" style="width:120px">RM {{qss.projekbind__kosprojek__kos_tanggung|intcomma}}</h6>
										</td>
                                        <td>
											<h6 class="mb-0 font-weight-bold" style="width:120px">RM {{qss.projekbind__peruntukansemasa|sub:qss.projekbind__kosprojek__kos_belanja|sub:qss.projekbind__kosprojek__kos_tanggung|intcomma}}</h6>
										</td>
                                        <td>
                                            <h6 class="mb-0 font-weight-bold" style="width:120px">RM 0,00</h6>
										</td>
                                          <td>
                                            <h6 class="mb-0 font-weight-bold" style="">100%</h6>
										</td>
                                        
									</tr>
									{% endfor %}
								

	
								</tbody>
							</table>

						</div>
					</div>
				</div>
			</div>
		  </div>
		</section>
		<!-- /.content -->
	  </div>
  </div>
  <!-- /.content-wrapper -->

    {% endblock content %}
  