{% extends 'based/based.html' %}
{% block content %}
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
	  <div class="container-full">
		<!-- Content Header (Page header) -->
		<div class="content-header">
			<div class="d-flex align-items-center">
				<div class="mr-auto">
					<h3 class="page-title">Laporan Siap Kerja</h3>
					<div class="d-inline-block align-items-center">
						<nav>
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="#"><i class="mdi mdi-home-outline"></i></a></li>
								<li class="breadcrumb-item" aria-current="page">Borang</li>
								<li class="breadcrumb-item active" aria-current="page">No perolehan</li>
							</ol>
						</nav>
					</div>
				</div>
				
			</div>
		</div>	  

		<!-- Main content -->
		<section class="content">
			<div class="row">			  
				<div class="col-lg-8 col-12">
                	<form class="form" action='{% url 'dokumen/lsk' idperolehan=mrksatufecth.mrksatunosebutharga.id  %}' method="POST">
					  <div class="box">
				
						<!-- /.box-header -->
					
                          {% csrf_token %}
							<div class="box-body">
								<h4 class="box-title text-primary"><i class="ti-user mr-15"></i>Maklumat Rekod Kerja - MRK 02</h4>
								<hr class="my-15">

                                <div class="row">
                                    <div class="col-md-12">
                                    <div class="form-group row">
                                        <div class="col-sm-6">
                                        <label class="tl">No Pendaftaran PKK</label>
                                        <input type="text" class="form-control" name="{{form.lsknosebutharga.name}}" value="{{mrksatufecth.mrksatunosebutharga.id }}"/>
                                        <input type="text" class="form-control" name="{{form.lskmrksatulink.name}}" value="{{mrksatufecth.id}}"/>
                                        <input type="text" class="form-control" value="{{mrksatufecth.mrksatukontraktor.sijilPPKNoPendaftaran}}" placeholder="No Pendaftaran PKK" readonly>
                                        </div>
                                        <div class="col-sm-6">
                                        <label class="tl">Nama Pemborong</label>
                                        <input type="text" class="form-control" value="{{mrksatufecth.mrksatukontraktor.konNama}}" placeholder="Nama Pemborong" readonly>
                                        </div>
                                    </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                    <div class="form-group row">
                                        <div class="col-sm-6">
                                        <label class="tl">Alamat</label>
                                        <textarea rows="5" type="text" class="form-control" readonly>{{mrksatufecth.mrksatukontraktor.konAlamat}}</textarea>
                                        </div>
                                    </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                    <div class="form-group row">
                                        <div class="col-sm-6">
                                        <label class="tl">Butiran Kerja</label>
                                        <textarea rows="5" type="text" class="form-control" name="" placeholder="Butiran Kerja" readonly>{{projek.tajukkerja}}</textarea>
                                        </div>
                                    </div>
                                    </div>
                                </div>


                                <div class="row">
                                    <div class="col-md-12">
                                    <div class="form-group row">
                                        <div class="col-sm-6">
                                        <label class="tl">No Sebutharga</label>
                                        <input type="text" class="form-control ts"  placeholder="No Sebutharga" value="{{projek.nosebuthargaid}}" readonly>
                                        </div>
                                        <div class="col-sm-6">
                                        <label class="tl">No Pesanan Kerja / No Inden</label>
                                        <input type="text" class="form-control ts"  placeholder="No Pesanan Kerja" value="{{mrksatufecth.mrksatunoinden}}" readonly>
                                     
                                        </div>
                                    </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                    <div class="form-group row">
                                        <div class="col-sm-6">
                                        <label class="tl">Harga Pesanan RM:</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend bg-primary border-primary">
                                            <span class="input-group-text bg-transparent text-white">RM</span>
                                            </div>
                                            <input type="text" class="form-control"  value="{{mrksatufecth.mrksatukosprojek}}" placeholder="RM" readonly>

                                        </div>
                                        </div>
                                        <div class="col-sm-6">
                                        <label class="tl">Harga Sebenar RM:</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend bg-primary border-primary">
                                            <span class="input-group-text bg-transparent text-white">RM</span>
                                            </div>
                                            {{form.lskhargasebenar}}

                                        </div>
                                        </div>
                                    </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                    <div class="form-group row">
                                        <div class="col-sm-3">
                                        <label class="tl">Tarikh Permulaan Kerja:</label>
                                        <input type="text" data-toggle="datepicker" class="form-control" value="{{mrksatufecth.mrksatutarikhmula}}" readonly>
                                        </div>
                                        <div class="col-sm-3">
                                        <label class="tl">Tarikh Kerja Tamat:</label>
                                        <input type="text" data-toggle="datepicker" class="form-control" value="{{mrksatufecth.mrksatutarikhjangkasiap}}" readonly>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                    <div class="form-group row">
                                        <div class="col-sm-3">
                                        <label class="tl">Tarikh Dilanjutkan Masa:</label>
                                        {{form.lsklanjutmasa}}
                                        </div>
                                        <div class="col-sm-3">
                                        <label class="tl">Tarikh Kerja Siap Sempurna:</label>
                                        {{form.lskkerjasiap}}
                                        </div>
                                    </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                    <div class="form-group row">
                                        <div class="col-sm-6">
                                        <label class="tl">Peruntukan:</label>
                                            {{form.lskperuntukan}}
                                        </div>
                                    </div>
                                    </div>
                                </div>
                                


								<h4 class="box-title text-primary mt-20"><i class="ti-save mr-15"></i>Laporan Pegawai Penjaga</h4>
								<hr class="my-15">

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group row">
                                        <div class="col-sm-8">
                                            <label class="tl">Laporan:</label>
                                            {{form.lsklaporan}}
                                        </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group row">
                                        <div class="col-sm-4">
                                            <label class="tl">Pegawai Penyelia</label>
                                             <input type="text" class="form-control ts" value="{{projek.nosebuthargaid.pegawaiselia.first_name}}" readonly>
                                        </div>
                                        <div class="col-sm-4">
                                            <label class="tl">Jawatan</label>
                                            <input type="text" class="form-control ts"  value="{{projek.nosebuthargaid.pegawaiselia.userprofile.jawatan}}" readonly>
                                        </div>
                                        
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group row">
                                            <div class="col-sm-4">
                                            <label class="tl">Tarikh Perakui</label>
                                            {{form.lsktarikhperakui}}
                                        </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group row">
                                    <div class="col-sm-4">
                                        <label class="tl">Ketua Bahagian</label>
                                        <select name="{{form.lskketuabahagian.name}}" class="form-control custom-select select28" id="">
                                        <option value="Tiada">Tiada</option>
										
                                        {% for row in userlist %}
                                        <option value="{{row.first_name}}">{{row.first_name}}</option>
                                        {% endfor %}

                                      </select>
                                    </div>
                                    <div class="col-sm-4">
                                        <label class="tl">Jawatan</label>
                                        <select name="{{form.lskjawatanketuabahagian.name}}" class="form-control custom-select select28" id="">
                                        <option value="Tiada">Tiada</option>
										
                                        {% for row in userlist %}
                                        <option value="{{row.userprofile.jawatan}}">{{row.userprofile.jawatan}}</option>
                                        {% endfor %}

                                      </select>
                                    </div>
                                    </div>
                                </div>
                                </div>
                                <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group row">
                                    <div class="col-sm-4">
                                        <label class="tl">Jurutera J41/J44</label>
                                        <select name="{{form.lskjuruteraj41.name}}" class="form-control custom-select select28" id="">
                                        <option value="Tiada">Tiada</option>
										
                                        {% for row in userlist %}
                                        <option value="{{row.first_name}}">{{row.first_name}}</option>
                                        {% endfor %}

                                      </select>
                                    </div>
                                    <div class="col-sm-4">
                                        <label class="tl">Jawatan</label>
                                        <select name="{{form.lskjawatanj41.name}}" class="form-control custom-select select28" id="">
                                        <option value="Tiada">Tiada</option>
										
                                        {% for row in userlist %}
                                        <option value="{{row.userprofile.jawatan}}">{{row.userprofile.jawatan}}</option>
                                        {% endfor %}

                                      </select>
                                    </div>
                                    </div>
                                </div>
                                </div>
                                <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group row">
                                    <div class="col-sm-4">
                                        <label class="tl">Jurutera Daerah</label>
                                        <select name="{{form.lskjuruteradaerah.name}}" class="form-control custom-select select28" id="">
                                        <option value="Tiada">Tiada</option>
										
                                        {% for row in userlist %}
                                        <option value="{{row.first_name}}">{{row.first_name}}</option>
                                        {% endfor %}

                                      </select>
                                    </div>
                                    <div class="col-sm-4">
                                        <label class="tl">Jawatan</label>
                                        <select name="{{form.lskjawatanjuruteradaerah.name}}" class="form-control custom-select select28" id="">
                                        <option value="Tiada">Tiada</option>
										
                                        {% for row in userlist %}
                                        <option value="{{row.userprofile.jawatan}}">{{row.userprofile.jawatan}}</option>
                                        {% endfor %}

                                      </select>
                                    </div>
                                    </div>
                                </div>
                                </div>

                                <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group row">
                                    <div class="col-sm-6">
                                        <label class="tl">Perkeso / Workmen's</label>
                                        {{form.lskperkeso}}
                                    </div>
                                
                                    </div>
                                </div>
                                </div>
                           
                                <div class="row">
                                  <div class="col-md-12">
                                       <hr class="my-15">
                                    <h4 class="text-success">PL - Public Liability</h4>
                                    <h4 class="text-success">AR - All Risk</h4>
                                    <h4 class="text-success">IK - Insurans Kerja</h4>
                                         <hr class="my-15">
                                        <div class="form-group row">
                                        
                                        <div class="col-sm-3">
                                            <label class="tl">Jenis Insurans 01</label>
                                            {{form.lskjenisinsurancesatu}}
                                        </div>
                                        <div class="col-sm-6">
                                            <label class="tl">No Insurans 01</label>
                                            {{form.lsknoinsurancesatu}}
                                        </div>
                                        </div>

                                        <div class="form-group row">
                                     
                                        <div class="col-sm-3">
                                            <label class="tl">Jenis Insurans 02 </label>
                                            {{form.lskjenisinsurancedua}}
                                        </div>
                                        <div class="col-sm-6">
                                            <label class="tl">No Insurans 02</label>
                                            {{form.lsknoinsurancedua}}
                                        </div>
                                        </div>
                                    </div>
                                </div>
						
							
							</div>
							<!-- /.box-body -->
							<div class="box-footer">
								<button type="button" class="btn btn-rounded btn-warning btn-outline mr-1">
								  <i class="ti-trash"></i> Cancel
								</button>
								<button type="submit"  class="btn btn-rounded btn-primary btn-outline">
								  <i class="ti-save-alt"></i> Save
								</button>
							</div>  
					
					  </div>
					  <!-- /.box -->	
                          	</form>		
				</div>  
		    </div>
        
	
		</section>
		<!-- /.content -->
	  </div>
  </div>
  <!-- /.content-wrapper -->
  {% endblock content %}