{% extends 'based/based.html' %}
{% block content %}
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
	  <div class="container-full">
		<!-- Content Header (Page header) -->
		<div class="content-header">
			<div class="d-flex align-items-center">
				<div class="mr-auto">
					<h3 class="page-title">Laporan Siap Kerja</h3>
					<div class="d-inline-block align-items-center">
						<nav>
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="#"><i class="mdi mdi-home-outline"></i></a></li>
								<li class="breadcrumb-item" aria-current="page">Borang</li>
								<li class="breadcrumb-item active" aria-current="page">No perolehan</li>
							</ol>
						</nav>
					</div>
				</div>
				
			</div>
		</div>	  

		<!-- Main content -->
		<section class="content">
			<div class="row">			  
				<div class="col-lg-9 col-9">
                	<form class="form" action='{% url 'dokumen/lsk' projekid=mrksatufecth.projekbind.id  %}' method="POST">
					  <div class="box">
				
						<!-- /.box-header -->
					
                          {% csrf_token %}
							<div class="box-body">
								<h4 class="box-title text-primary"><i class="ti-user mr-15"></i>Maklumat Rekod Kerja - MRK 02</h4>
								<hr class="my-15">

                                <div class="row">
                                    <div class="col-md-12">
                                    <div class="form-group row">
                                        <div class="col-sm-6">
                                        <label class="tl"><h5 class="text-secondary font-weight-500 mb-2">No Pendaftaran PKK</h5></label>
                                        <input type="hidden" class="form-control" name="{{form.projekbind.name}}" value="{{mrksatufecth.projekbind.id }}"/>
                                        <input type="hidden" class="form-control" name="{{form.lskmrksatulink.name}}" value="{{mrksatufecth.id}}"/>
                                        <input type="text" class="form-control" value="{{mrksatufecth.mrksatukontraktor.sijilPPKNoPendaftaran}}" placeholder="No Pendaftaran PKK" readonly>
                                        </div>
                                        <div class="col-sm-6">
                                        <label class="tl"><h5 class="text-secondary font-weight-500 mb-2">Nama Pemborong</h5></label>
                                        <input type="text" class="form-control" value="{{mrksatufecth.mrksatukontraktor.konNama}}" placeholder="Nama Pemborong" readonly>
                                        </div>
                                    </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                    <div class="form-group row">
                                        <div class="col-sm-6">
                                        <label class="tl"><h5 class="text-secondary font-weight-500 mb-2">Alamat</h5></label>
                                        <textarea rows="5" type="text" class="form-control" readonly>{{mrksatufecth.mrksatukontraktor.konAlamat}}</textarea>
                                        </div>
                                    </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                    <div class="form-group row">
                                        <div class="col-sm-6">
                                        <label class="tl"><h5 class="text-secondary font-weight-500 mb-2">Butiran Kerja</h5></label>
                                        <textarea rows="5" type="text" class="form-control" name="" placeholder="Butiran Kerja" readonly>{{projek.tajukkerja}}</textarea>
                                        </div>
                                    </div>
                                    </div>
                                </div>


                                <div class="row">
                                    <div class="col-md-12">
                                    <div class="form-group row">
                                        <div class="col-sm-6">
                                        <label class="tl"><h5 class="text-secondary font-weight-500 mb-2">No Sebutharga</h5></label>
                                        <input type="text" class="form-control ts"  placeholder="No Sebutharga" value="{{projek.nosebuthargaid}}" readonly>
                                        </div>
                                        <div class="col-sm-6">
                                        <label class="tl"><h5 class="text-secondary font-weight-500 mb-2">No Pesanan Kerja / No Inden</h5></label>
                                        <input type="text" class="form-control ts"  placeholder="No Pesanan Kerja" value="{{mrksatufecth.mrksatunoinden}}" readonly>
                                     
                                        </div>
                                    </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                    <div class="form-group row">
                                        <div class="col-sm-6">
                                        <label class="tl"><h5 class="text-secondary font-weight-500 mb-2">Harga Pesanan RM:</h5></label>
                                        <div class="input-group">
                                            <div class="input-group-prepend bg-primary border-primary">
                                            <span class="input-group-text bg-transparent text-white">RM</span>
                                            </div>
                                            <input type="text" class="form-control"  value="{{mrksatufecth.mrksatukosprojek}}" placeholder="RM" readonly>

                                        </div>
                                        </div>
                                        <div class="col-sm-6">
                                        <label class="tl"><h5 class="text-secondary font-weight-500 mb-2">Harga Sebenar RM:</h5></label>
                                        <div class="input-group">
                                            <div class="input-group-prepend bg-primary border-primary">
                                            <span class="input-group-text bg-transparent text-white">RM</span>
                                            </div>
                                            {{form.lskhargasebenar}}

                                        </div>
                                        </div>
                                    </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                    <div class="form-group row">
                                        <div class="col-sm-3">
                                        <label class="tl"><h5 class="text-secondary font-weight-500 mb-2">Tarikh Permulaan Kerja:</h5></label>
                                        <input type="text" data-toggle="datepicker" class="form-control" value="{{mrksatufecth.mrksatutarikhmula}}" readonly>
                                        </div>
                                        <div class="col-sm-3">
                                        <label class="tl"><h5 class="text-secondary font-weight-500 mb-2">Tarikh Kerja Tamat:</h5></label>
                                        <input type="text" data-toggle="datepicker" class="form-control" value="{{mrksatufecth.mrksatutarikhjangkasiap}}" readonly>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                    <div class="form-group row">
                                        <div class="col-sm-3">
                                        <label class="tl"><h5 class="text-secondary font-weight-500 mb-2">Tarikh Dilanjutkan Masa:</h5></label>
                                        {{form.lsklanjutmasa}}
                                        </div>
                                        <div class="col-sm-3">
                                        <label class="tl"><h5 class="text-secondary font-weight-500 mb-2">Tarikh Kerja Siap Sempurna:</h5></label>
                                        {{form.lskkerjasiap}}
                                        </div>
                                    </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                    <div class="form-group row">
                                        <div class="col-sm-6">
                                        <label class="tl"><h5 class="text-secondary font-weight-500 mb-2">Peruntukan:</h5></label>
                                            {{form.lskperuntukan}}
                                        </div>
                                    </div>
                                    </div>
                                </div>
                                


								<h4 class="box-title text-primary mt-20"><i class="ti-save mr-15"></i>Laporan Pegawai Penjaga</h4>
								<hr class="my-15">

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group row">
                                        <div class="col-sm-8">
                                            <label class="tl"><h5 class="text-secondary font-weight-500 mb-2">Laporan:</h5></label>
                                            {{form.lsklaporan}}
                                        </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group row">
                                        <div class="col-sm-4">
                                            <label class="tl"><h5 class="text-secondary font-weight-500 mb-2">Pegawai Penyelia</h5></label>
                                             <input type="text" class="form-control ts" value="{{projek.nosebuthargaid.pegawaiselia.first_name}}" readonly>
                                        </div>
                                        <div class="col-sm-4">
                                            <label class="tl"><h5 class="text-secondary font-weight-500 mb-2">Jawatan</h5></label>
                                            <input type="text" class="form-control ts"  value="{{projek.nosebuthargaid.pegawaiselia.userprofile.jawatan}}" readonly>
                                        </div>
                                        
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group row">
                                            <div class="col-sm-4">
                                            <label class="tl"><h5 class="text-secondary font-weight-500 mb-2">Tarikh Perakui</h5></label>
                                            {{form.lsktarikhperakui}}
                                        </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group row">
                                    <div class="col-sm-4">
                                        <label class="tl"><h5 class="text-secondary font-weight-500 mb-2">Ketua Bahagian</h5></label>
                                        <select name="{{form.lskketuabahagian.name}}" class="form-control custom-select select28" id="">
                                        <option value="Tiada">Tiada</option>
										
                                        {% for row in userlist %}
                                        <option value="{{row.first_name}}">{{row.first_name}}</option>
                                        {% endfor %}

                                      </select>
                                    </div>
                                    <div class="col-sm-4">
                                        <label class="tl"><h5 class="text-secondary font-weight-500 mb-2">Jawatan</h5></label>
                                        <select name="{{form.lskjawatanketuabahagian.name}}" class="form-control custom-select select28" id="">
                                        <option value="Tiada">Tiada</option>
										
                                        {% for row in userlist %}
                                        <option value="{{row.userprofile.jawatan}}">{{row.userprofile.jawatan}}</option>
                                        {% endfor %}

                                      </select>
                                    </div>
                                    </div>
                                </div>
                                </div>
                                <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group row">
                                    <div class="col-sm-4">
                                        <label class="tl"><h5 class="text-secondary font-weight-500 mb-2">Jurutera J41/J44</h5></label>
                                        <select name="{{form.lskjuruteraj41.name}}" class="form-control custom-select select28" id="">
                                        <option value="Tiada">Tiada</option>
										
                                        {% for row in userlist %}
                                        <option value="{{row.first_name}}">{{row.first_name}}</option>
                                        {% endfor %}

                                      </select>
                                    </div>
                                    <div class="col-sm-4">
                                        <label class="tl"><h5 class="text-secondary font-weight-500 mb-2">Jawatan</h5></label>
                                        <select name="{{form.lskjawatanj41.name}}" class="form-control custom-select select28" id="">
                                        <option value="Tiada">Tiada</option>
										
                                        {% for row in userlist %}
                                        <option value="{{row.userprofile.jawatan}}">{{row.userprofile.jawatan}}</option>
                                        {% endfor %}

                                      </select>
                                    </div>
                                    </div>
                                </div>
                                </div>
                                <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group row">
                                    <div class="col-sm-4">
                                        <label class="tl"><h5 class="text-secondary font-weight-500 mb-2">Jurutera Daerah</h5></label>
                                        <select name="{{form.lskjuruteradaerah.name}}" class="form-control custom-select select28" id="">
                                        <option value="Tiada">Tiada</option>
										
                                        {% for row in userlist %}
                                        <option value="{{row.first_name}}">{{row.first_name}}</option>
                                        {% endfor %}

                                      </select>
                                    </div>
                                    <div class="col-sm-4">
                                        <label class="tl"><h5 class="text-secondary font-weight-500 mb-2">Jawatan</h5></label>
                                        <select name="{{form.lskjawatanjuruteradaerah.name}}" class="form-control custom-select select28" id="">
                                        <option value="Tiada">Tiada</option>
										
                                        {% for row in userlist %}
                                        <option value="{{row.userprofile.jawatan}}">{{row.userprofile.jawatan}}</option>
                                        {% endfor %}

                                      </select>
                                    </div>
                                    </div>
                                </div>
                                </div>

                                <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group row">
                                    <div class="col-sm-6">
                                        <label class="tl"><h5 class="text-secondary font-weight-500 mb-2">Perkeso / Workmen's</h5></label>
                                        {{form.lskperkeso}}
                                    </div>
                                
                                    </div>
                                </div>
                                </div>
                           
                                <div class="row">
                                  <div class="col-md-12">
                                       <hr class="my-15">
                                    <h4 class="text-success">PL - Public Liability</h4>
                                    <h4 class="text-success">AR - All Risk</h4>
                                    <h4 class="text-success">IK - Insurans Kerja</h4>
                                         <hr class="my-15">
                                        <div class="form-group row">
                                        
                                        <div class="col-sm-3">
                                            <label class="tl"><h5 class="text-secondary font-weight-500 mb-2">Jenis Insurans 01</h5></label>
                                            {{form.lskjenisinsurancesatu}}
                                        </div>
                                        <div class="col-sm-6">
                                            <label class="tl"><h5 class="text-secondary font-weight-500 mb-2">No Insurans 01</h5></label>
                                            {{form.lsknoinsurancesatu}}
                                        </div>
                                        </div>

                                        <div class="form-group row">
                                     
                                        <div class="col-sm-3">
                                            <label class="tl"><h5 class="text-secondary font-weight-500 mb-2">Jenis Insurans 02 </h5></label>
                                            {{form.lskjenisinsurancedua}}
                                        </div>
                                        <div class="col-sm-6">
                                            <label class="tl"><h5 class="text-secondary font-weight-500 mb-2">No Insurans 02</h5></label>
                                            {{form.lsknoinsurancedua}}
                                        </div>
                                        </div>
                                    </div>
                                </div>
						
							
							</div>
							<!-- /.box-body -->
							<div class="box-footer">
								<button type="button" class="btn btn-rounded btn-warning btn-outline mr-1">
								  <i class="ti-trash"></i> Cancel
								</button>
								<button type="submit"  class="btn btn-rounded btn-primary btn-outline">
								  <i class="ti-save-alt"></i> Save
								</button>
							</div>  
					
					  </div>
					  <!-- /.box -->	
                          	</form>		
				</div>  
                <div class="col-lg-3">
                <div class="box">
					<div class="box-header with-border">
					  <h4 class="box-title">Labels</h4>
					  <ul class="box-controls pull-right">
						<li><a class="box-btn-slide" href="#"></a></li>	
					  </ul>
					</div>
					<div class="box-body no-padding mailbox-nav">
					  <ul class="nav nav-pills flex-column">
						<li class="nav-item"><a class="nav-link" href="{% url 'dokumen/mrksatu' projekid=mrksatufecth.projekbind.id  %}"><i class="fa fa-folder-o text-dark"></i>MRK 01</a></li>
						<li class="nav-item"><a class="nav-link" href="{% url 'dokumen/mrkdua' projekid=mrksatufecth.projekbind.id  %}"><i class="fa fa-folder-o text-dark"></i> MRK 02</a></li>
						<li class="nav-item"><a class="nav-link aktif" href="{% url 'dokumen/lsk' projekid=mrksatufecth.projekbind.id  %}"><i class="fa fa-folder-open-o text-dark"></i> Laporan Siap Kerja</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'dokumen/mrktiga' projekid=mrksatufecth.projekbind.id  %}"><i class="fa fa-folder-o text-dark"></i> MRK 03</a></li>
						<li class="nav-item"><a class="nav-link" href="{% url 'dokumen/psk' projekid=mrksatufecth.projekbind.id  %}"><i class="fa fa-folder-o text-dark"></i>Perakuan Siap Kerja</a></li>
						<li class="nav-item"><a class="nav-link" href="{% url 'dokumen/senaraisemakan' projekid=mrksatufecth.projekbind.id  %}"><i class="fa fa-folder-o text-dark "></i> Senarai Semakan</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'dokumen/psmk' projekid=mrksatufecth.projekbind.id  %}"><i class="fa fa-folder-o"></i>Perakuan Siap Membaiki Kecacatan</a></li>
						<li class="nav-item"><a class="nav-link" href="{% url 'dokumen/jaminanbank' projekid=mrksatufecth.projekbind.id  %}"><i class="fa fa-folder-o text-dark"></i>Pelepasan Jaminan Bank</a></li>
						<li class="nav-item"><a class="nav-link" href="{% url 'dokumen/ppwjp' projekid=mrksatufecth.projekbind.id  %}"><i class="fa fa-folder-o text-dark"></i>Perakuan Pemulangan WJP</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'dokumen/smrk' projekid=mrksatufecth.projekbind.id  %}"><i class="fa fa-folder-o text-dark"></i> Surat Maklumat Rekod Kerja</a></li>
						<li class="nav-item"><a class="nav-link" href="{% url 'dokumen/skhas' projekid=mrksatufecth.projekbind.id  %}"><i class="fa fa-folder-o text-dark"></i> Surat Kebenaran Khas</a></li>
						<li class="nav-item"><a class="nav-link" href="{% url 'dokumen/suratbon' projekid=mrksatufecth.projekbind.id  %}"><i class="fa fa-folder-o text-dark"></i>Surat Pelepasan Bon Jaminan Perlaksanaan</a></li>
					  </ul>
					</div>
					<!-- /.box-body -->
				  </div>
                

                </div>
		    </div>
        
	
		</section>
		<!-- /.content -->
	  </div>
  </div>
  <!-- /.content-wrapper -->
  {% endblock content %}