
{% extends 'based/based.html' %}
{% block content %}

				<!-- container opened -->
				<div class="container-fluid">
					<div class="breadcrumb-header justify-content-between">
						<div>
							<h4 class="content-title mb-2">Dashboard</h4>
							<nav aria-label="breadcrumb">
								<ol class="breadcrumb">
									<li class="breadcrumb-item"><a href="#">Dashboard</a></li>
									<li class="breadcrumb-item active" aria-current="page">Analytics &amp; Monitoring</li>
								</ol>
							</nav>
						</div>
						<div class="my-auto breadcrumb-right">
							<button class="btn btn-outline-primary mr-3"><span class="icon-label"><i class="fa fa-envelope mr-2"></i></span><span class="btn-text">Email </span></button>
							<button class="btn btn-outline-danger mr-3"><span class="icon-label"><i class="fa fa-print mr-2"></i> </span><span class="btn-text">Print </span></button>
							<button class="btn btn-success mr-0"><span class="icon-label"><i class="fa fa-download mr-2"></i> </span><span class="btn-text">Export </span></button>
						</div>
					</div>

					<!-- row opened -->
					<div class="row row-sm">
						<div class="col-xl-3 col-lg-6 col-md-6 col-sm-12">
							<div class="card">
								<div class="card-body iconfont text-left">
									<div class="d-flex justify-content-between">
										<h4 class="card-title mb-3">Real time users</h4>
										<i class="mdi mdi-dots-horizontal text-gray"></i>
									</div>
									<div class="d-flex mb-0">
										<div class="">
											<h4 class="mb-1 font-weight-bold">154<span class="text-success tx-13 ml-2">(+0.98%)</span></h4>
											<p class="mb-2 tx-12 text-muted">Overview of Last month</p>
										</div>
										<div class="card-chart bg-primary-transparent brround ml-auto mt-0">
											<i class="typcn typcn-group-outline text-primary tx-24"></i>
										</div>
									</div>

									<div class="progress progress-sm mt-2">
										<div aria-valuemax="100" aria-valuemin="0" aria-valuenow="70" class="progress-bar bg-primary wd-70p" role="progressbar"></div>
									</div>
									<small class="mb-0  text-muted">Monthly<span class="float-right text-muted">70%</span></small>
								</div>
							</div>
						</div>
						<div class="col-xl-3 col-lg-6 col-md-6 col-sm-12">
							<div class="card">
								<div class="card-body iconfont text-left">
									<div class="d-flex justify-content-between">
										<h4 class="card-title mb-3">Total visits</h4>
										<i class="mdi mdi-dots-horizontal text-gray"></i>
									</div>
									<div class="d-flex mb-0">
										<div class="">
											<h4 class="mb-1 font-weight-bold">5274<span class="text-danger tx-13 ml-2">(-12.45%)</span></h4>
											<p class="mb-2 tx-12 text-muted">Overview of Last month</p>
										</div>
										<div class="card-chart bg-pink-transparent brround ml-auto mt-0">
											<i class="typcn typcn-chart-line-outline text-pink tx-24"></i>
										</div>
									</div>

									<div class="progress progress-sm mt-2">
										<div aria-valuemax="100" aria-valuemin="0" aria-valuenow="70" class="progress-bar bg-pink wd-50p" role="progressbar"></div>
									</div>
									<small class="mb-0  text-muted">Monthly<span class="float-right text-muted">50%</span></small>
								</div>
							</div>
						</div>
						<div class="col-xl-3 col-lg-6 col-md-6 col-sm-12">
							<div class="card">
								<div class="card-body iconfont text-left">
									<div class="d-flex justify-content-between">
										<h4 class="card-title mb-3">Bounce Rate</h4>
										<i class="mdi mdi-dots-horizontal text-gray"></i>
									</div>
									<div class="d-flex mb-0">
										<div class="">
											<h4 class="mb-1   font-weight-bold">76.3%<span class="text-success tx-13 ml-2">(+13.52%)</span></h4>
											<p class="mb-2 tx-12 text-muted">Overview of Last month</p>
										</div>
										<div class="card-chart bg-teal-transparent brround ml-auto mt-0">
											<i class="typcn typcn-chart-bar-outline text-teal tx-20"></i>
										</div>
									</div>

									<div class="progress progress-sm mt-2">
										<div aria-valuemax="100" aria-valuemin="0" aria-valuenow="70" class="progress-bar bg-teal wd-60p" role="progressbar"></div>
									</div>
									<small class="mb-0  text-muted">Monthly<span class="float-right text-muted">60%</span></small>
								</div>
							</div>
						</div>
						<div class="col-xl-3 col-lg-6 col-md-6 col-sm-12">
							<div class="card">
								<div class="card-body iconfont text-left">
									<div class="d-flex justify-content-between">
										<h4 class="card-title mb-3">Visits Duration</h4>
										<i class="mdi mdi-dots-horizontal text-gray"></i>
									</div>
									<div class="d-flex mb-0">
										<div class="">
											<h4 class="mb-1 font-weight-bold">5m 24s<span class="text-success tx-13 ml-2">(+19.5%)</span></h4>
											<p class="mb-2 tx-12 text-muted">Overview of Last month</p>
										</div>
										<div class="card-chart bg-purple-transparent brround ml-auto mt-0">
											<i class="typcn typcn-time  text-purple tx-24"></i>
										</div>
									</div>

									<div class="progress progress-sm mt-2">
										<div aria-valuemax="100" aria-valuemin="0" aria-valuenow="70" class="progress-bar bg-purple wd-40p" role="progressbar"></div>
									</div>
									<small class="mb-0  text-muted">Monthly<span class="float-right text-muted">40%</span></small>
								</div>
							</div>
						</div>
					</div>
					<!-- row closed -->

					<!-- row opened -->
					<div class="row row-sm">
						<div class="col-md-12 col-xl-6">
							<div class="card card-dashboard-audience-metrics">
								<div class="card-header">
									<div class="d-flex justify-content-between">
										<h4 class="card-title">Audience Metrics</h4>
										<i class="mdi mdi-dots-horizontal text-gray"></i>
									</div>
									<p class="mg-b-15 tx-gray-600 tx-12">Measures your user's sessions and page views metrics to your website for this month.. <a href="">Learn more</a></p>
								</div>
								<div class="card-body">
									<div>
										<h4>120,500</h4>
										<label><span class="bg-primary"></span>Users</label>
									</div>
									<div>
										<h4>360,108</h4>
										<label><span class="bg-teal"></span>Page Views</label>
									</div>
									<div>
										<h4>150,712</h4>
										<label><span class="bg-pink"></span>Sessions</label>
									</div>
								</div><!-- card-top-content -->
								<div class="chart-wrapper">
									<div id="flotChart5" class="flot-chart"></div>
								</div><!-- chart-wrapper -->
							</div>
							<div class="card overflow-hidden">
								<div class="card-body row row-sm">
									<div class="col-4 d-sm-flex align-items-center">
										<div class="mg-sm-b-0 mg-sm-r-10">
											<span class="peity-donut" data-peity='{ "fill": ["#7571f9", "rgba(158, 158, 158,0.3)"],  "innerRadius": 14, "radius": 20 }'>6/7</span>
										</div>
										<div>
											<label class="tx-12 mb-0">% New Sessions</label>
											<h4 class="mb-0 font-weight-bold">26.80%</h4>
										</div>
									</div><!-- col -->
									<div class="col-4 d-sm-flex align-items-center">
										<div class="mg-sm-b-0 mg-sm-r-10">
											<span class="peity-donut" data-peity='{ "fill": ["#ffc107", "rgba(158, 158, 158,0.3)"],  "innerRadius": 14, "radius": 20 }'>5/7</span>
										</div>
										<div>
											<label class="tx-12 mb-0">Pages/Session</label>
											<h4 class="mb-0 font-weight-bold">1,465</h4>
										</div>
									</div>
									<div class="col-4 d-sm-flex align-items-center">
										<div class="mg-sm-b-0 mg-sm-r-10">
											<span class="peity-donut" data-peity='{ "fill": ["#22c03c", "rgba(158, 158, 158,0.3)"],  "innerRadius": 14, "radius": 20 }'>4/7</span>
										</div>
										<div>
											<label class="tx-12 mb-0">Pages/Session</label>
											<h4 class="mb-0 font-weight-bold">1,005</h4>
										</div>
									</div><!-- col -->
								</div><!-- card-body -->
							</div>
						</div>
						<div class="col-lg-12 col-xl-6 col-md-12 col-sm-12">
							<div class="card overflow-hidden">
								<div class="card-body">
									<div class="">
										<div class="d-flex justify-content-between">
											<h4 class="card-title">Acquisition</h4>
											<i class="mdi mdi-dots-horizontal text-gray"></i>
										</div>
										<p class="tx-gray-600 mg-b-0 tx-12">Tells you where your visitors originated from, such as search engines, social networks or website referrals..<a href="">Learn more</a></p>
									</div>
									<div class="sales-details mb-5">
										<div class="row mt-3">
											<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
												<div class="d-flex">
													<div class="card-chart bg-primary  mr-3">
														<span class="peity-bar" data-peity='{"fill": ["#fff"], "width": 20, "height": 20 }'>6,4,7,5,7</span>
													</div>
													<div>
														<label class="mb-0">Bounce Rate</label>
														<h4 class="font-weight-bold">33.50%</h4>
													</div>
												</div>
											</div>
											<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mb-5">
												<div class="d-flex">
													<div class="card-chart bg-teal mr-3">
														<span class="peity-bar" data-peity='{"fill": ["#fff"], "width": 21, "height": 20 }'>7,4,5,7,2</span>
													</div>
													<div>
														<label class="mb-0">Sessions</label>
														<h4 class="font-weight-bold">9,065</h4>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="mt-4">
										<div id="bar" class="sales-bar"> </div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- row closed -->

					<!-- row opened -->
					<div class="row row-sm ">
						<div class="col-md-6 col-lg-6 col-xl-4 col-sm-12">
							<div class="card">
								<div class="card-header pt-3">
									<div class="d-flex justify-content-between">
										<h4 class="card-title pt-1">Browser Usage</h4>
										<i class="mdi mdi-dots-horizontal text-gray"></i>
									</div>
									<p class="tx-12 tx-gray-500 mb-0">Tells you where your visitors originated from, such as search engines, social networks or website referrals. <a href="">Learn more</a></p>
								</div><!-- card-header -->
								<div class="card-body p-0">
									<div class="browser-stats">
										<div class="d-flex align-items-center item  border-bottom">
											<div class="d-flex">
												<img src="../../assets/img/svgicons/chrome.svg" alt="browsers" class="ht-30 wd-30 mr-2">
												<div class="">
													<h6 class="">Chrome</h6>
													<span class="sub-text">Mozilla Foundation, Inc.</span>
												</div>
											</div>
											<div class="ml-auto my-auto">
												<div class="d-flex">
													<span class="mr-4 my-auto">35,502</span>
													<span class="text-success fs-15"><i class="fe fe-arrow-up"></i>12.75%</span>
												</div>
											</div>
										</div>
										<div class="d-flex align-items-center item  border-bottom">
											<div class="d-flex">
												<img src="../../assets/img/svgicons/opera.svg" alt="browsers" class="ht-30 wd-30 mr-2">
												<div class="">
													<h6 class="">Opera</h6>
													<span class="sub-text">Mozilla Foundation, Inc.</span>
												</div>
											</div>
											<div class="ml-auto my-auto">
												<div class="d-flex">
													<span class="mr-4 my-auto">12,563</span>
													<span class="text-danger"><i class="fe fe-arrow-down"></i>15.12%</span>
												</div>
											</div>
										</div>
										<div class="d-flex align-items-center item  border-bottom">
											<div class="d-flex">
												<img src="../../assets/img/svgicons/edge.svg" alt="browsers" class="ht-30 wd-30 mr-2">
												<div class="">
													<h6 class="">Edge</h6>
													<span class="sub-text">Mozilla Foundation, Inc.</span>
												</div>
											</div>
											<div class="ml-auto my-auto">
												<div class="d-flex">
													<span class="mr-4 mt-1">25,364</span>
													<span class="text-success"><i class="fe fe-arrow-up"></i>24.37%</span>
												</div>
											</div>
										</div>
										<div class="d-flex align-items-center item  border-bottom">
											<div class="d-flex">
												<img src="../../assets/img/svgicons/firefox.svg" alt="browsers" class="ht-30 wd-30 mr-2">
												<div class="">
													<h6 class="">Firefox</h6>
													<span class="sub-text">Mozilla Foundation, Inc.</span>
												</div>
											</div>
											<div class="ml-auto my-auto">
												<div class="d-flex">
													<span class="mr-4 mt-1">14,635</span>
													<span class="text-success"><i class="fe fe-arrow-up"></i>15,63%</span>
												</div>
											</div>
										</div>
										<div class="d-flex align-items-center item border-bottom">
											<div class="d-flex">
												<img src="../../assets/img/svgicons/uc-browser.svg" alt="browsers" class="ht-30 wd-30 mr-2">
												<div class="">
													<h6 class="">Ucbrowser</h6>
													<span class="sub-text">Mozilla Foundation, Inc.</span>
												</div>
											</div>
											<div class="ml-auto my-auto">
												<div class="d-flex">
													<span class="mr-4 mt-1">15,453</span>
													<span class="text-danger"><i class="fe fe-arrow-down"></i>23.70%</span>
												</div>
											</div>
										</div>
										<div class="d-flex align-items-center item">
											<div class="d-flex">
												<img src="../../assets/img/svgicons/safari.svg" alt="browsers" class="ht-30 wd-30 mr-2">
												<div class="">
													<h6 class="">Safari</h6>
													<span class="sub-text">Mozilla Foundation, Inc.</span>
												</div>
											</div>
											<div class="ml-auto my-auto">
												<div class="d-flex">
													<span class="mr-4 mt-1">35,657</span>
													<span class="text-danger"><i class="fe fe-arrow-down"></i>12.54%</span>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div><!-- card -->
						</div><!-- col -->
						<div class="col-md-6 col-lg-6 col-xl-4 col-sm-12">
							<div class="card">
								<div class="card-header pb-0 pt-3">
									<div class="d-flex justify-content-between">
										<h4 class="card-title pt-1">Latest Ratings and Reviews</h4>
										<i class="mdi mdi-dots-horizontal text-gray"></i>
									</div>
								</div>
								<p class="tx-12 tx-gray-500 mb-0 pl-3 pr-3">A review is an evaluation of a publication, service, or company .<a href="">Learn more</a></p>
								<div class="rating-scroll">
									<div class="pl-3 pr-3 py-3 border-bottom">
										<div class="media mt-0">
											<div class="d-flex mr-3">
												<a href="#">
													<img class="media-object avatar brround w-7 h-7" alt="64x64" src="../../assets/img/faces/5.jpg">
												</a>
											</div>
											<div class="media-body">
												<div class="d-flex">
													<h6 class="mt-0 mb-0 font-weight-semibold ">Joanne Scott</h6>
													<span class="tx-12 ml-auto">
														<i class="ion ion-md-star text-warning"></i>
														<i class="ion ion-md-star text-warning"></i>
														<i class="ion ion-md-star text-warning"></i>
														<i class="ion ion-md-star text-warning"></i>
														<i class="ion ion-md-star-half text-warning"></i>
													</span>
												</div>
												<div class="d-flex">
													<p class="tx-12 text-muted mb-0">long established fact..</p>
													<small class="ml-auto text-right">5 reviews</small>
												</div>

											</div>
										</div>
									</div>
									<div class="pl-3 pr-3 py-3 border-bottom">
										<div class="media mt-0">
											<div class="d-flex mr-3">
												<a href="#">
													<img class="media-object avatar brround w-7 h-7" alt="64x64" src="../../assets/img/faces/9.jpg">
												</a>
											</div>
											<div class="media-body">
												<div class="d-flex">
													<h6 class="mt-0 mb-0 font-weight-semibold ">Cristobal Sharp</h6>
													<span class="tx-12 ml-auto">
														<i class="ion ion-md-star text-warning"></i>
														<i class="ion ion-md-star text-warning"></i>
														<i class="ion ion-md-star text-warning"></i>
														<i class="ion ion-md-star-half text-warning"></i>
														<i class="ion ion-md-star-outline text-warning"></i>
													</span>
												</div>
												<div class="d-flex">
													<p class="tx-12 text-muted mb-0">The point of using Lorem..</p>
													<small class="ml-auto text-right">5 reviews</small>
												</div>
											</div>
										</div>
									</div>
									<div class="pl-3 pr-3 py-3 border-bottom">
										<div class="media mt-0">
											<div class="d-flex mr-3">
												<a href="#">
													<img class="media-object avatar brround w-7 h-7" alt="64x64" src="../../assets/img/faces/4.jpg">
												</a>
											</div>
											<div class="media-body">
												<div class="d-flex">
													<h6 class="mt-0 mb-0 font-weight-semibold ">Velma Wellons </h6>
													<span class="tx-12 ml-auto">
														<i class="ion ion-md-star text-warning"></i>
														<i class="ion ion-md-star text-warning"></i>
														<i class="ion ion-md-star text-warning"></i>
														<i class="ion ion-md-star text-warning"></i>
														<i class="ion ion-md-star-half text-warning"></i>
													</span>
												</div>
												<div class="d-flex">
													<p class="tx-12 text-muted mb-0">Various versions have..</p>
													<small class="ml-auto text-right">5 reviews</small>
												</div>

											</div>
										</div>
									</div>
									<div class="pl-3 pr-3 py-3 border-bottom">
										<div class="media mt-0">
											<div class="d-flex mr-3">
												<a href="#">
													<img class="media-object avatar brround w-7 h-7" alt="64x64" src="../../assets/img/faces/7.jpg">
												</a>
											</div>
											<div class="media-body">
												<div class="d-flex">
													<h6 class="mt-0 mb-0 font-weight-semibold ">Cathie Madonna </h6>
													<span class="tx-12 ml-auto">
														<i class="ion ion-md-star text-warning"></i>
														<i class="ion ion-md-star text-warning"></i>
														<i class="ion ion-md-star text-warning"></i>
														<i class="ion ion-md-star-half text-warning"></i>
														<i class="ion ion-md-star-outline text-warning"></i>
													</span>
												</div>
												<div class="d-flex">
													<p class="tx-12 text-muted mb-0">long established fact..</p>
													<small class="ml-auto text-right">5 reviews</small>
												</div>

											</div>
										</div>
									</div>
									<div class="pl-3 pr-3 py-3 border-bottom">
										<div class="media mt-0">
											<div class="d-flex mr-3">
												<a href="#">
													<img class="media-object avatar brround w-7 h-7" alt="64x64" src="../../assets/img/faces/12.jpg">
												</a>
											</div>
											<div class="media-body">
												<div class="d-flex">
													<h6 class="mt-0 mb-0 font-weight-semibold ">Aurelio Dahmer </h6>
													<span class="tx-12 ml-auto">
														<i class="ion ion-md-star text-warning"></i>
														<i class="ion ion-md-star text-warning"></i>
														<i class="ion ion-md-star text-warning"></i>
														<i class="ion ion-md-star text-warning"></i>
														<i class="ion ion-md-star-half text-warning"></i>
													</span>
												</div>
												<div class="d-flex">
													<p class="tx-12 text-muted mb-0">Ut enim ad minim veniam..</p>
													<small class="ml-auto text-right">5 reviews</small>
												</div>

											</div>
										</div>
									</div>
									<div class="pl-3 pr-3 py-3 border-bottom">
										<div class="media mt-0">
											<div class="d-flex mr-3">
												<a href="#">
													<img class="media-object avatar brround w-7 h-7" alt="64x64" src="../../assets/img/faces/13.jpg">
												</a>
											</div>
											<div class="media-body">
												<div class="d-flex">
													<h6 class="mt-0 mb-1 font-weight-semibold ">Cyrus Macarthur </h6>
													<span class="tx-12 ml-auto">
														<i class="ion ion-md-star text-warning"></i>
														<i class="ion ion-md-star text-warning"></i>
														<i class="ion ion-md-star text-warning"></i>
														<i class="ion ion-md-star-half text-warning"></i>
														<i class="ion ion-md-star-outline text-warning"></i>
													</span>
												</div>
												<div class="d-flex">
													<p class="tx-12 text-muted mb-0">variations of passages..</p>
													<small class="ml-auto text-right">5 reviews</small>
												</div>

											</div>
										</div>
									</div>
									<div class="pl-3 pr-3 py-3 border-bottom">
										<div class="media mt-0">
											<div class="d-flex mr-3">
												<a href="#">
													<img class="media-object avatar brround w-7 h-7" alt="64x64" src="../../assets/img/faces/2.jpg">
												</a>
											</div>
											<div class="media-body">
												<div class="d-flex">
													<h6 class="mt-0 mb-1 font-weight-semibold ">Bernardo Sykes </h6>
													<span class="tx-12 ml-auto">
														<i class="ion ion-md-star text-warning"></i>
														<i class="ion ion-md-star text-warning"></i>
														<i class="ion ion-md-star text-warning"></i>
														<i class="ion ion-md-star-half text-warning"></i>
														<i class="ion ion-md-star-outline text-warning"></i>
													</span>
												</div>
												<div class="d-flex">
													<p class="tx-12 text-muted mb-0">you are going to use..</p>
													<small class="ml-auto text-right">5 reviews</small>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-12 col-lg-12 col-xl-4 col-sm-12">
							<div class="card overflow-hidden">
								<div class="card-header pb-0 pt-3">
									<div class="d-flex justify-content-between">
										<h4 class="card-title pt-1">Sessions By Channel</h4>
										<i class="mdi mdi-dots-horizontal text-gray"></i>
									</div>
									<p class="tx-12 tx-gray-500 mb-0">Sessions by channel is the number of sessions attributed to each channel grouping.<a href="">Learn more</a></p>
								</div>
								<div class="card-body">
									<div class="row text-center">
										<div class="col dash-1">
											<p class="mb-0">Organic</p>
											<h3 class="mb-0 ">80%</h3>
										</div>
										<div class="col dash-1">
											<p class="mb-0">Direct</p>
											<h3 class="mb-0 ">68%</h3>
										</div>
										<div class="col">
											<p class="mb-0">Campagion</p>
											<h3 class="mb-0 ">45%</h3>
										</div>
										<div class="col dash-1">
											<p class="mb-0">Refferal</p>
											<h3 class="mb-0 ">32%</h3>
										</div>
									</div>
									<div class="chart-wrapper mt-3">
										<canvas id="bar-chart-horizontal" class="ht-238"></canvas>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- row close -->

					<!-- row opened -->
					<div class="row row-sm ">
						<div class="col-xl-5 col-lg-12">
							<div class="card">
								<div class="card-header pt-3">
									<div class="d-flex justify-content-between">
										<h4 class="card-title pt-1">Customer Satisfaction</h4>
										<i class="mdi mdi-dots-horizontal text-gray"></i>
									</div>
									<p class="tx-12 tx-gray-500 mb-0">Measures the quality or your support team’s efforts. It is important to monitor your customer satisfaction status... <a href="">Learn more</a></p>
								</div>
								<div class="card-body row pd-25 pt-2">
									<div class="col-sm-8 col-md-7">
										<div class="wd-100p ht-200" id="flotPie"></div>
									</div>
									<div class="col-sm-4 col-md-5 mg-t-30 mg-sm-t-0 my-auto">
										<ul class="list-unstyled">
											<li class="d-flex align-items-center"><span class="d-inline-block wd-10 ht-10 bg-purple mg-r-10"></span> Very Satisfied (26%)</li>
											<li class="d-flex align-items-center mg-t-5"><span class="d-inline-block wd-10 ht-10 bg-primary mg-r-10"></span> Satisfied (39%)</li>
											<li class="d-flex align-items-center mg-t-5"><span class="d-inline-block wd-10 ht-10 bg-teal mg-r-10"></span> Not Satisfied (20%)</li>
											<li class="d-flex align-items-center mg-t-5 mb-0"><span class="d-inline-block wd-10 ht-10 bg-pink mg-r-10"></span> Satisfied (15%)</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-12 col-xl-7">
							<div class="card ">
								<div class="card-header pb-0 pt-3">
									<div class="d-flex justify-content-between">
										<h4 class="card-title pt-1">What pages do your users visit</h4>
										<i class="mdi mdi-dots-horizontal text-gray"></i>
									</div>
									<p class="mb-0 tx-12 tx-gray-500">Part of this date range occurs before the new users metric had been calculated, so the old users metric is displayed.</p>
								</div>
								<div class="card-body">
									<div class="table-responsive">
										<table class="table mb-0 mg-b-0 text-md-nowrap table-bordered text-sm-nowrap text-lg-nowrap text-xl-nowrap">
											<thead>
												<tr>
													<th class="wd-5p pd-t-6">&nbsp;</th>
													<th class="wd-45p pd-t-6">Country</th>
													<th class="pd-t-6">Entrances</th>
													<th class="pd-t-6">Bounce Rate</th>
													<th class="pd-t-6">Exits</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td><i class="flag-icon flag-icon-us flag-icon-squared"></i></td>
													<td><strong>United States</strong></td>
													<td><strong>134</strong> (1.51%)</td>
													<td>33.58%</td>
													<td>15.47%</td>
												</tr>
												<tr>
													<td><i class="flag-icon flag-icon-gb flag-icon-squared"></i></td>
													<td><strong>United Kingdom</strong></td>
													<td><strong>290</strong> (3.30%)</td>
													<td>9.22%</td>
													<td>7.99%</td>
												</tr>
												<tr>
													<td><i class="flag-icon flag-icon-in flag-icon-squared"></i></td>
													<td><strong>India</strong></td>
													<td><strong>250</strong> (3.00%)</td>
													<td>20.75%</td>
													<td>2.40%</td>
												</tr>
												<tr>
													<td><i class="flag-icon flag-icon-ca flag-icon-squared"></i></td>
													<td><strong>Canada</strong></td>
													<td><strong>216</strong> (2.79%)</td>
													<td>32.07%</td>
													<td>15.09%</td>
												</tr>
												<tr>
													<td><i class="flag-icon flag-icon-fr flag-icon-squared"></i></td>
													<td><strong>France</strong></td>
													<td><strong>216</strong> (2.79%)</td>
													<td>32.07%</td>
													<td>15.09%</td>
												</tr>
											</tbody>
										</table>
									</div><!-- table-responsive -->
								</div>
							</div><!-- card -->
						</div>
					</div>
					<!-- row closed -->
				</div>
				<!-- Container closed -->
	
			{% endblock content %}