{% extends 'based/based.html' %}
{% block content %}
{% load static %}
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
	  <div class="container-full">
		<!-- Main content -->
		<section class="content">
			<div class="row">
				<div class="col-xl-8">														
					<div class="box no-shadow mb-0 bg-transparent">
						<div class="box-header no-border px-0">
							<h4 class="box-title">Maklumat Perolehan</h4>							
							<div class="box-controls pull-right d-md-flex d-none">
							  <a href="#">View All</a>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-4 col-12">
							<a href="http://localhost:8000/projek/maklumat-perolehan/Sebutharga" class="box pull-up">
								<div class="box-body">
									<div class="d-flex align-items-center">
										<div class="icon bg-primary-light rounded-circle w-60 h-60 text-center l-h-80">											
											<span class="font-size-30 icon-Bulb1"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span></span>
										</div>
										<div class="ml-15">											
											<h5 class="mb-0">Sebutharga</h5>
											<p class="text-fade font-size-12 mb-0">You Watched</p>
										</div>
									</div>
									<div class="d-flex align-items-center justify-content-between mt-20">
										<div class="w-p70">
											<div class="progress progress-sm mb-0">
												<div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
												</div>
											</div>
										</div>
										<div>
											<div>80%</div>
										</div>
									</div>
								</div>
							</a>
						</div>
						<div class="col-lg-4 col-12">
							<a href="http://localhost:8000/projek/maklumat-perolehan/Lantikan%20Terus" class="box pull-up">
								<div class="box-body">
									<div class="d-flex align-items-center">
										<div class="icon bg-primary-light rounded-circle w-60 h-60 text-center l-h-80">											
											<span class="font-size-30 icon-Pen-tool-vector"><span class="path1"></span><span class="path2"></span></span>
										</div>
										<div class="ml-15">											
											<h5 class="mb-0">Lantikan Terus</h5>
											<p class="text-fade font-size-12 mb-0">You Watched</p>
										</div>
									</div>
									<div class="d-flex align-items-center justify-content-between mt-20">
										<div class="w-p70">
											<div class="progress progress-sm mb-0">
												<div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
												</div>
											</div>
										</div>
										<div>
											<div>40%</div>
										</div>
									</div>
								</div>
							</a>
						</div>
						<div class="col-lg-4 col-12">
							<a href="http://localhost:8000/projek/maklumat-perolehan/Undi" class="box pull-up">
								<div class="box-body">
									<div class="d-flex align-items-center">
										<div class="icon bg-primary-light rounded-circle w-60 h-60 text-center l-h-80">											
											<span class="font-size-30 icon-Chat-check"><span class="path1"></span><span class="path2"></span></span>
										</div>
										<div class="ml-15">											
											<h5 class="mb-0">Undi</h5>
											<p class="text-fade font-size-12 mb-0">You Watched</p>
										</div>
									</div>
									<div class="d-flex align-items-center justify-content-between mt-20">
										<div class="w-p70">
											<div class="progress progress-sm mb-0">
												<div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: 30%">
												</div>
											</div>
										</div>
										<div>
											<div>30%</div>
										</div>
									</div>
								</div>
							</a>
						</div>
				

								<div class="box">
					<div class="box-header with-border">						
						<h4 class="box-title">Senarai Projek</h4>
						<h6 class="box-subtitle">sebutharga, lantikan terus, undi</h6>
					</div>
					<div class="box-body">						
						<div class="table-responsive">

							<table id="example" class="table table-lg invoice-archive">
								<thead>
									<tr>
										<th class="border-bottom-0">Bil#</th>
										<th class="border-bottom-0">
										Info Kod Vot
									
										</th>
										<th class="border-bottom-0">Tajuk Projek</th>
										
								

							
                                 
                                        <th class="text-center border-bottom-0">Action</th>
									</tr>
								</thead>
						        <tbody>
                                {% for row in senaraiprojek %}
													<tr>
														<td><span class="text-primary font-weight-600 d-block font-size-30">0{{forloop.counter}}<span></td>
														<td>
														<span class="text-fade font-weight-600 d-block font-size-16">{{row.kodvot}}</span>
														<span class="text-secondary font-weight-600 d-block">{{row.nosebuthargaid.noperolehan}}</span>
													
														<span class="badge badge-warning">{{row.nosebuthargaid.pegawaiselia}}</span></p>
														<span class="text-secondary">{{row.nosebuthargaid.tarikh}}</span>
														</td>
														<td>
														<span class="text-success font-weight-600 d-block font-size-16">{{row.nosebuthargaid.kaedahperolehan}}</span>
														{{row.tajukkerja}}
														</td>
								
                                        							<td class="text-center">
											<div class="list-icons d-inline-flex">
												<a href="{% url 'projek/senarai-dokumen' prid=row.id  %}" class="list-icons-item mr-10"><i class="fa fa-eye"></i></a>
												<div class="list-icons-item dropdown">
													<a href="#" class="list-icons-item dropdown-toggle" data-toggle="dropdown"><i class="fa fa-file-text"></i></a>
													<div class="dropdown-menu dropdown-menu-right">
														<a href="#" class="dropdown-item"><i class="fa fa-download"></i> Download</a>
														<a href="#" class="dropdown-item"><i class="fa fa-print"></i> Print</a>
														<div class="dropdown-divider"></div>
														<a href="#" class="dropdown-item"><i class="fa fa-pencil"></i> Edit</a>
														<a href="#" class="dropdown-item"><i class="fa fa-remove"></i> Remove</a>
													</div>
												</div>
											</div>
										</td>
													</tr>
												{% endfor %}
											</tbody>
							</table>

						</div>
					</div>
				</div>
			
				
					</div>
		
				</div>
				<div class="col-lg-4 col-12">
						<div class="box">
					<div class="box-header">
						<h4 class="box-title">KodVot
							<small class="subtitle">Jumlah keseluruan kotvot</small>
						</h4>						
					</div>
					<div class="box-body p-0">
						<div class="table-responsive">
							<table class="table no-border table-vertical-center">
								<thead>
									<tr>
										<th class="p-0" style="width: 50px"></th>
										<th class="p-0" style="min-width: 150px"></th>
										<th class="p-0" style="min-width: 200px"></th>
										<th class="p-0" style="min-width: 40px"></th>
									</tr>
								</thead>
								<tbody>
								{% for row in kodvod  %}
								
						
									<tr>
										<td>
											<div class="bg-lightest h-50 w-50 l-h-50 rounded text-center">
												  <img src="{% static 'assets/images/svg-icon/color-svg/002-google.svg' %}" class="h-30" alt="">
											</div>
										</td>
										<td>
											<a href="#" class="text-dark font-weight-600 hover-primary font-size-16">{{row.kodvot}}</a>
											<span class="text-fade d-block">kodvot</span>
										</td>
										<td>
											<div class="d-flex flex-column w-p100">
												<div class="d-flex align-items-center justify-content-between mb-2">
													<span class="text-fade">
														{{row.jumlah}}
													</span>
													<span class="text-fade">
														jumlah dokumen
													</span>
												</div>
												<div class="progress progress-xs w-p100">
													<div class="progress-bar bg-danger" role="progressbar" style="width: {{row.jumlah}}%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
												</div>
											</div>
										</td>
										<td class="text-right">
											<a href="#" class="btn btn-info-light btn-sm"><span class="icon-Arrow-right font-size-18"><span class="path1"></span><span class="path2"></span></span></a>
										</td>
									</tr>
											{% endfor %}
							
							
						
								</tbody>
							</table>
						</div>
					</div>
				</div>
				</div>
	
		
			</div>
		</section>
		<!-- /.content -->
	  </div>
  </div>

  
{% endblock content %}
 