{% extends 'based/based.html' %}
{% block content %}
{% load humanize %} 
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
	  <div class="container-full">
		<!-- Content Header (Page header) -->
		<div class="content-header">
			<div class="d-flex align-items-center">
				<div class="mr-auto">
					<h3 class="page-title">MRK 02</h3>
					<div class="d-inline-block align-items-center">
						<nav>
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="#"><i class="mdi mdi-home-outline"></i></a></li>
								<li class="breadcrumb-item" aria-current="page">Borang</li>
								<li class="breadcrumb-item active" aria-current="page">No perolehan</li>
							</ol>
						</nav>
					</div>
				</div>
				
			</div>
		</div>	  

		<!-- Main content -->
		<section class="content">
			<div class="row">			  
				<div class="col-lg-9 col-9">
                	<form class="form" action='{% url 'dokumen/mrkdua' projekid=mrksatufecth.projekbind.id %}' method="POST">
					  <div class="box">
				
						<!-- /.box-header -->
					
                          {% csrf_token %}
							<div class="box-body">
								<h4 class="box-title text-primary"><i class="ti-user mr-15"></i>Maklumat Rekod Kerja - MRK 02</h4>
                <a href="{% url 'laporan/mrkdua' projekid=mrksatufecth.projekbind.id %}" target="_blank">cetak pdf</a>
								<hr class="my-15">
								<div class="row">
								    <div class="col-md-8">
                                        <div class="form-group">
                                            <label><h5 class="text-secondary font-weight-500 mb-2">No Pendaftaran PKK</h5></label>
                                            <input type="hidden" class="form-control" name="{{form.projekbind.name}}" value="{{mrksatufecth.projekbind.id}}"/>
                                            <input type="hidden" class="form-control" name="{{form.mrksatulink.name}}" value="{{mrksatufecth.id}}"/>
                                            <input type="text" class="form-control"  id="" name="" value="{{mrksatufecth.mrksatukontraktor.sijilPPKNoPendaftaran}}" placeholder="No Pendaftaran PKK" readonly>
                                        </div>
                                        </div>
								</div>

                                <div class="row">
                                    <div class="col-md-8">
                                    <div class="form-group">
                                     
                                        <label><h5 class="text-secondary font-weight-500 mb-2">No Inden/Pesanan tempatan</h5></label>
                                        <input type="text" class="form-control" id="noinden" value="{{mrksatufecth.mrksatunoinden}}" name="" placeholder="" readonly>
                                      
                                    </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-8">
                                    <div class="form-group">
                                      
                                       <label><h5 class="text-secondary font-weight-500 mb-2">Kos Projek</h5></label>
                                        <div class="input-group">
                                            <div class="input-group-prepend bg-primary border-primary">
                                            <span class="input-group-text bg-transparent text-white">RM</span>
                                            </div>
                                            <input type="text" class="form-control ts"  value="{{mrksatufecth.mrksatukosprojek|intcomma}}" name="" placeholder="RM" readonly>
                                        
                                        </div>
                                       
                                    </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-8">
                                    <div class="form-group">
                                     
                                        <label><h5 class="text-secondary font-weight-500 mb-2">No Sebutharga:</h5></label>
                                        <input type="text" class="form-control" id="" value="{{mrksatufecth.projekbind.nosebuthargaid}}" name="" placeholder="" readonly>
                                      
                                    </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-8">
                                    <div class="form-group">
                                     
                                        <label><h5 class="text-secondary font-weight-500 mb-2">Kontraktor</h5></label>
                                        <input type="text" class="form-control" id="" value="{{mrksatufecth.mrksatukontraktor.konNama}}" name="noinden" placeholder="" readonly>
                                      
                                    </div>
                                    </div>
                                </div>

                                 <div class="row">
                                    <div class="col-md-4">
                                    <div class="form-group">
                                     
                                        <label><h5 class="text-secondary font-weight-500 mb-2">Tarikh Mula Kontrak</h5></label>
                                        <input type="text" class="form-control" id="" value="{{mrksatufecth.mrksatutarikhmula}}" name="" placeholder="" readonly>
                                      
                                    </div>
                                    </div>
                                    <div class="col-md-4">
                                    <div class="form-group">
                                     
                                        <label><h5 class="text-secondary font-weight-500 mb-2">Tarikh Jangka Siap</h5></label>
                                        <input type="text" class="form-control" id="" value="{{mrksatufecth.mrksatutarikhjangkasiap}}" name="" placeholder="" readonly>
                                      
                                    </div>
                                    </div>
                                </div>

                                <div class="row">
								  <div class="col-md-8">
									<div class="form-group">
									  <label><h5 class="text-secondary font-weight-500 mb-2">Tajuk Kerja</h5></label>
                                      <textarea type="text" class="form-control" readonly>{{mrksatufecth.projekbind.tajukkerja}}</textarea>
									</div>
								  </div>
								</div>

                    
	
								<h4 class="box-title text-primary mt-20"><i class="ti-save mr-15"></i> Laporan Kemajuan Kerja Fizikal</h4>
								<hr class="my-15">
							
								    <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group row">
                                        <label class="col-sm-4 col-form-label tl"><h5 class="text-secondary font-weight-500 mb-2">Kemajuan Kerja Mengikut Jadual : %</h5></label>
                                        <div class="col-sm-2">
                                               {{form.mrkduakerjajadual}}
                                            </div>
                                            </div>
                                        </div>
                                        </div>
                                         <div class="row">
                <div class="col-md-12">
                    <div class="form-group row">
                      <label class="col-sm-4 col-form-label tl"><h5 class="text-secondary font-weight-500 mb-2">Kemajuan Kerja Sebenar(Semasa) Sehingga</h5></label>
                      <div class="col-sm-2">
                     {{form.mrkduakerjasebenartarikh}}
                      </div>
                            <label class="col-sm-1 col-form-label tl">=</label>
                             <div class="col-sm-2">
                      {{form.mrkduakerjasebenar}}
                      </div>
                        </div>
                      </div>
                    </div>
                         <div class="row">
                <div class="col-md-12">
                  <div class="form-group row">
                 
                      <label class="col-sm-4 col-form-label tl"><h5 class="text-secondary font-weight-500 mb-2">Bayaran Kemajuan Semasa  NO:</h5></label>
                   
                    <div class="col-sm-2">
                        {{form.mrkduakemajuan}}
                    </div>
                
                  </div>
                </div>
              </div>

                   <div class="row">
                <div class="col-md-12">
                    <div class="form-group row">
                      <label class="col-sm-4 col-form-label tl"><h5 class="text-secondary font-weight-500 mb-2">Jumlah Bayaran Kemajuan (RM):</h5></label>
                        <div class="col-sm-4">
                      <div class="input-group">
                        <div class="input-group-prepend bg-primary border-primary">
                          <span class="input-group-text bg-transparent text-white">RM</span>
                        </div>
                        {{form.mrkduabayarankemajuan}}
                  
                      
                      </div>
                    </div>
                           
                        </div>
                      </div>
                    </div>
                    	<h4 class="box-title text-primary mt-20"><i class="ti-save mr-15"></i>Kerja Tergendala Kerana Masalah: Tandakan ( / ) Pada Ruang Berkenaan.</h4>
								<hr class="my-15">

                                    <div class="row">
                <div class="col-md-12">
                  <div class="form-group row">
                    <div class="col-sm-2">
                 
                    <input type="checkbox" name="{{form.mrkduamodal.name}}" id="md_checkbox_1" value='checked' class="chk-col-success" {{form.mrkduamodal.value}} />
						        <label for="md_checkbox_1"><h5 class="text-secondary font-weight-500 mb-2">Modal</h5></label>
                    </div>
                    <div class="col-sm-3">
  
                        	<input type="checkbox" name="{{form.mkrduabahan.name}}" id="md_checkbox_2" value='checked' class="chk-col-primary" {{form.mkrduabahan.value}} />
						<label for="md_checkbox_2"><h5 class="text-secondary font-weight-500 mb-2">Kekurangan Bahan</h5></label>
                    </div>
                    <div class="col-sm-2">

                    
                        	<input type="checkbox" name="{{form.mrkduapekerja.name}}" id="md_checkbox_3" value='checked' class="chk-col-info" {{form.mrkduapekerja.value}}   />
						<label for="md_checkbox_3"><h5 class="text-secondary font-weight-500 mb-2">Tiada Pekerja</h5></label>
                    </div>
                    <div class="col-sm-2">

                   
                        	<input type="checkbox" name="{{form.mrkduatapak.name}}" id="md_checkbox_4" value='checked' class="chk-col-warning"  {{form.mrkduatapak.value}}/>
						<label for="md_checkbox_4"><h5 class="text-secondary font-weight-500 mb-2">Tapak</h5></label>
                    </div>

                    <div class="col-sm-2">

                     	<input type="checkbox" name="{{form.mrkduacuaca.name}}" id="md_checkbox_5" value='checked' class="chk-col-danger" {{form.mrkduacuaca.value}} />
						<label for="md_checkbox_5"><h5 class="text-secondary font-weight-500 mb-2">Cuaca</h5></label>	
                  </div>
                </div>
              </div>
              </div>

                     <div class="row">
                <div class="col-md-12">
                  <div class="form-group row">
                    <div class="col-sm-8">
                      <p>
                      <label><h5 class="text-secondary font-weight-500 mb-2">Disebabkan Oleh:</h5></label>
                       {{form.mrkduadisebabkanoleh}}
                    </div>
                  </div>
                </div>
              </div>

                   <div class="row">
                <div class="col-md-12">
                  <div class="form-group row">
                    <div class="col-sm-8">
                      <p>
                      <label><h5 class="text-secondary font-weight-500 mb-2">Lain-Lain(Nyatakan):</h5></label>
                      {{form.mrkdualainlain}}
                    </div>
                  </div>
                </div>
              </div>

                         <div class="row">
                <div class="col-md-12">
                  <div class="form-group row">
                    <div class="col-sm-3">
                      <p>
                      <label><h5 class="text-secondary font-weight-500 mb-2">Lanjut Masa Ke</h5></label>
                       {{form.mrkdualanjutmasa}}
                    </div>
                    <div class="col-sm-3">
                      <p>
                      <label class="tl"><h5 class="text-secondary font-weight-500 mb-2">Dari</h5></label>
                         {{form.mrkdualanjutdari}}
                    </div>
                    <div class="col-sm-3">
                      <p>
                      <label class="tl"><h5 class="text-secondary font-weight-500 mb-2">Sehingga</h5></label>
                         {{form.mrkdualanjutsehingga}}
                    </div>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group row">
                    <div class="col-sm-8">
                      <p>
                      <label class="tl"><h5 class="text-secondary font-weight-500 mb-2">Disebabkan:</h5></label>
                        {{form.mrkduadisebabkan}}
                    </div>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group row">
                    <div class="col-sm-3">
                    <label class="tl"><h5 class="text-secondary font-weight-500 mb-2">L. A. D Dikenakan (RM)</h5></label>
                    {{form.mrkduaLAD}}
                    </div>


                    <div class="col-sm-3">
                    <label class="tl"><h5 class="text-secondary font-weight-500 mb-2">Dari</h5></label>
                      {{form.mrkduaLADdari}}
                    </div>


                    <div class="col-sm-3">
                    <label class="tl"><h5 class="text-secondary font-weight-500 mb-2">Sehingga</h5></label>
                    {{form.mrkduaLADSehingga}}
                    </div>
                    </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group row">
                    <div class="col-sm-4">
                    <label class="tl"><h5 class="text-secondary font-weight-500 mb-2">Perakuan Kerja Tidak Siap Dikeluarkan Pada :</h5></label>
                      {{form.mrkduaperakuan}}
                    </div>
                    </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group row">
                      <div class="col-sm-4">
                        <label class="tl"><h5 class="text-secondary font-weight-500 mb-2">Projek Mansuh/Ditamatkan</h5></label><p>
                        {{form.mrkduamansuh}}
                      </div>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group row">
                      <div class="col-sm-3">
                        <label class="tl"><h5 class="text-secondary font-weight-500 mb-2">Pegawai</h5></label>
                        <input type="text" class="form-control ts" style="font-weight:bold;" readonly id="" value="{{projek.nosebuthargaid.pegawaiselia.first_name}}" name="">
                      </div>
                      <div class="col-sm-3">
                        <label class="tl"><h5 class="text-secondary font-weight-500 mb-2">Jawatan</h5></label>
                        <input type="text" class="form-control ts" style="font-weight:bold;"readonly id="" value="{{projek.nosebuthargaid.pegawaiselia.userprofile.jawatan}}" name="">
                      </div>
                      <div class="col-sm-3">
                        <label class="tl"><h5 class="text-secondary font-weight-500 mb-2">Tarikh Laporan</h5></label>
                        {{form.mrkduatarikhlaporan}}
                      </div>
                  </div>
                </div>
              </div>
                            


                    
							
							
							</div>
							<!-- /.box-body -->
							<div class="box-footer">
								<button type="button" class="btn btn-rounded btn-warning btn-outline mr-1">
								  <i class="ti-trash"></i> Cancel
								</button>
								<button type="submit"  class="btn btn-rounded btn-primary btn-outline">
								  <i class="ti-save-alt"></i> Save
								</button>
							</div>  
					
					  </div>
					  <!-- /.box -->	
                          	</form>		
				</div>  
        	<div class="col-lg-3">
          <div class="box">
					<div class="box-header with-border">
					  <h4 class="box-title">Labels</h4>
					  <ul class="box-controls pull-right">
						<li><a class="box-btn-slide" href="#"></a></li>	
					  </ul>
					</div>
					<div class="box-body no-padding mailbox-nav">
					  <ul class="nav nav-pills flex-column">
						<li class="nav-item"><a class="nav-link" href="{% url 'dokumen/mrksatu' projekid=mrksatufecth.projekbind.id %}"><i class="fa fa-folder-o text-dark"></i>MRK 01</a></li>
						<li class="nav-item"><a class="nav-link aktif" href="{% url 'dokumen/mrkdua' projekid=mrksatufecth.projekbind.id %}"><i class="fa fa-folder-open-o text-dark"></i> MRK 02</a></li>
						<li class="nav-item"><a class="nav-link" href="{% url 'dokumen/lsk' projekid=mrksatufecth.projekbind.id %}"><i class="fa fa-folder-o text-dark"></i> Laporan Siap Kerja</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'dokumen/mrktiga' projekid=mrksatufecth.projekbind.id %}"><i class="fa fa-folder-o text-dark"></i> MRK 03</a></li>
						<li class="nav-item"><a class="nav-link" href="{% url 'dokumen/psk' projekid=mrksatufecth.projekbind.id %}"><i class="fa fa-folder-o text-dark"></i>Perakuan Siap Kerja</a></li>
						<li class="nav-item"><a class="nav-link" href="{% url 'dokumen/senaraisemakan' projekid=mrksatufecth.projekbind.id %}"><i class="fa fa-folder-o text-dark "></i> Senarai Semakan</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'dokumen/psmk' projekid=mrksatufecth.projekbind.id %}"><i class="fa fa-folder-o"></i>Perakuan Siap Membaiki Kecacatan</a></li>
						<li class="nav-item"><a class="nav-link" href="{% url 'dokumen/jaminanbank' projekid=mrksatufecth.projekbind.id %}"><i class="fa fa-folder-o text-dark"></i>Pelepasan Jaminan Bank</a></li>
						<li class="nav-item"><a class="nav-link" href="{% url 'dokumen/ppwjp' projekid=mrksatufecth.projekbind.id %}"><i class="fa fa-folder-o text-dark"></i>Perakuan Pemulangan WJP</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'dokumen/smrk' projekid=mrksatufecth.projekbind.id %}"><i class="fa fa-folder-o text-dark"></i> Surat Maklumat Rekod Kerja</a></li>
						<li class="nav-item"><a class="nav-link" href="{% url 'dokumen/skhas' projekid=mrksatufecth.projekbind.id %}"><i class="fa fa-folder-o text-dark"></i> Surat Kebenaran Khas</a></li>
						<li class="nav-item"><a class="nav-link" href="{% url 'dokumen/suratbon' projekid=mrksatufecth.projekbind.id %}"><i class="fa fa-folder-o text-dark"></i>Surat Pelepasan Bon Jaminan Perlaksanaan</a></li>
					  </ul>
					</div>
					<!-- /.box-body -->
				  </div>
                

        </div>
		    </div>
        
	
		</section>
		<!-- /.content -->
	  </div>
  </div>
  <!-- /.content-wrapper -->
  {% endblock content %}