{% extends 'based/based.html' %}
{% block content %}
  <!-- Content Wrapper. Contains page content -->
  {% load static %}
  <div class="content-wrapper">
	  <div class="container-full">
		<!-- Main content -->
		<section class="content">
			<div class="row align-items-end">
				<div class="col-xl-9 col-12">
					<div class="box bg-primary-light pull-up">
						<div class="box-body p-xl-0 mr-2">							
							<div class="row align-items-center">
								<div class="col-12 col-lg-3"><img src="{% static 'deco/images/svg-icon/color-svg/custom-14.svg' %}" alt=""></div>
								<div class="col-12 col-lg-9">
									<h2>No Perolehan</h2>
									<p class="text-dark mb-0 font-size-16">
										Dashboard
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xl-3 col-12">
					<div class="box bg-transparent no-shadow">
						<div class="box-body p-xl-0 text-center">							
							<h3 class="px-30 mb-20">Have More<br>knoledge to share?</h3>
							<button type="button" class="waves-effect waves-light btn-block btn btn-primary"><i class="fa fa-plus mr-15"></i> Cheate New Course</button>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-12">														
					<div class="box no-shadow mb-0 bg-transparent">
						<div class="box-header no-border px-0">
							<h4 class="box-title">Jenis No Perolehan</h4>	
							<ul class="box-controls pull-right d-md-flex d-none">
							  <li>
								<button class="btn btn-primary-light px-10">View All</button>
							  </li>
							  <li class="dropdown">
								<button class="dropdown-toggle btn btn-primary-light px-10" data-toggle="dropdown" href="#" aria-expanded="false">Most Popular</button>										  
								<div class="dropdown-menu dropdown-menu-right" style="">
								  <a class="dropdown-item active" href="#">Today</a>
								  <a class="dropdown-item" href="#">Yesterday</a>
								  <a class="dropdown-item" href="#">Last week</a>
								  <a class="dropdown-item" href="#">Last month</a>
								</div>
							  </li>
							</ul>
						</div>
					</div>
				</div>
			</div>
              <div class="row">
			<div class="col-12">
				<div class="box">
				  <div class="row no-gutters py-2">

					<div class="col-12 col-lg-3">
					  <div class="box-body br-1 border-light">
						<div class="flexbox mb-1">
						  <span>
							  <span class="icon-User font-size-40"><span class="path1"></span><span class="path2"></span></span><br><br>
							<h4>Semua</h4>
						  </span>
						  <span class="text-primary font-size-40">845</span>
						</div>
						<div class="progress progress-xxs mt-10 mb-0">
						  <div class="progress-bar" role="progressbar" style="width: 35%; height: 4px;" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100"></div>
						</div>
					  </div>
					</div>


					<div class="col-12 col-lg-3 hidden-down">
					  <div class="box-body br-1 border-light">
						<div class="flexbox mb-1">
						  <span>
							  <span class="icon-Selected-file font-size-40"><span class="path1"></span><span class="path2"></span></span><br><br>
							<h4>Sebutharga</h4>
						  </span>
						  <span class="text-info font-size-40">952</span>
						</div>
						<div class="progress progress-xxs mt-10 mb-0">
						  <div class="progress-bar bg-info" role="progressbar" style="width: 55%; height: 4px;" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
						</div>
					  </div>
					</div>


					<div class="col-12 col-lg-3 d-none d-lg-block">
					  <div class="box-body br-1 border-light">
						<div class="flexbox mb-1">
						  <span>
							  <span class="icon-Info-circle font-size-40"><span class="path1"></span><span class="path2"></span><span class="path3"></span></span><br><br>
							<h4>Lantikan Terus</h4>
						  </span>
						  <span class="text-warning font-size-40">845</span>
						</div>
						<div class="progress progress-xxs mt-10 mb-0">
						  <div class="progress-bar bg-warning" role="progressbar" style="width: 65%; height: 4px;" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"></div>
						</div>
					  </div>
					</div>


					<div class="col-12 col-lg-3 d-none d-lg-block">
					  <div class="box-body">
						<div class="flexbox mb-1">
						  <span>
							  <span class="icon-Group-folders font-size-40"><span class="path1"></span><span class="path2"></span></span><br><br>
							<h4>Undi</h4>
						  </span>
						  <span class="text-danger font-size-40">158</span>
						</div>
						<div class="progress progress-xxs mt-10 mb-0">
						  <div class="progress-bar bg-danger" role="progressbar" style="width: 40%; height: 4px;" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
						</div>
					  </div>
					</div>


				  </div>
				</div>
			</div>
			<!-- /.col -->

		  </div>
		  <!-- /.row -->
		  <div class="row">
		  			<div class="col-12">
			  <div class="box box-default">
				<div class="box-header with-border">
				  <h4 class="box-title">Customtab Tab</h4>
				  <h6 class="box-subtitle">Use default tab with class <code>customtab</code></h6>
				</div>
				<!-- /.box-header -->
				<div class="box-body">
					<!-- Nav tabs -->
					<ul class="nav nav-tabs customtab" role="tablist">
						<li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#home2" role="tab"><span class="hidden-sm-up"><i class="ion-home"></i></span> <span class="hidden-xs-down">Semua</span></a> </li>
						<li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#profile2" role="tab"><span class="hidden-sm-up"><i class="ion-person"></i></span> <span class="hidden-xs-down">Sebutharga</span></a> </li>
						<li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#messages2" role="tab"><span class="hidden-sm-up"><i class="ion-email"></i></span> <span class="hidden-xs-down">Latikan Terus</span></a> </li>
					    <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#messages3" role="tab"><span class="hidden-sm-up"><i class="ion-email"></i></span> <span class="hidden-xs-down">Undi</span></a> </li>
					</ul>
					<!-- Tab panes -->
					<div class="tab-content">
						<div class="tab-pane active" id="home2" role="tabpanel">
							<div class="p-15">
							 <div class="table-responsive">
								<table id="tickets" class="table mt-0 table-hover no-wrap table-borderless" data-page-size="10">
									<thead>
										<tr>
											<th>Bil</th>
											<th>No Perolehan</th>
											<th>Tarikh</th>
											<th>Keadah Perolehan</th>
											<th>Pengawai Penyelia</th>
										
										</tr>
									</thead>
									<tbody>
									 {% for row in semua %}
										<tr>
											<td>{{forloop.counter}}</td>
											<td>
											    {{row.noperolehan}}
											</td>
											<td>{{row.tarikh}}</td>
											<td>{{row.kaedahperolehan}}</td>
											<td><span class="badge badge-warning">{{row.pegawaiselia}}</span> </td>
											
										
										</tr>
									{% endfor %}
									</tbody>
								</table>
							</div>
							</div>
						</div>
						<div class="tab-pane" id="profile2" role="tabpanel">
							<div class="p-15">
							 <div class="table-responsive">
								<table id="example" class="table mt-0 table-hover no-wrap table-borderless" data-page-size="10">
									<thead>
										<tr>
											<th>Bil</th>
											<th>No Perolehan</th>
											<th>Tarikh</th>
											<th>Keadah Perolehan</th>
											<th>Pengawai Penyelia</th>
										
										</tr>
									</thead>
									<tbody>
									 {% for row in sebutharga %}
										<tr>
											<td>{{forloop.counter}}</td>
											<td>
											    {{row.noperolehan}}
											</td>
											<td>{{row.tarikh}}</td>
											<td>{{row.kaedahperolehan}}</td>
											<td><span class="badge badge-warning">{{row.pegawaiselia}}</span> </td>
											
										
										</tr>
									{% endfor %}
									</tbody>
								</table>
							</div>
							</div>
						</div>
						<div class="tab-pane" id="messages2" role="tabpanel">
							<div class="p-15">
								<p>Duis cursus eros lorem, pretium ornare purus tincidunt eleifend. Etiam quis justo vitae erat faucibus pharetra. Morbi in ullamcorper diam. Morbi lacinia, sem vitae dignissim cursus, massa nibh semper magna, nec pellentesque lorem nisl quis ex.</p>
								<h3>Donec vitae laoreet neque, id convallis ante.</h3>
								<h4>Fusce porta eros a nisl varius, non molestie metus mollis. Pellentesque tincidunt ante sit amet ornare lacinia.</h4>
							</div>
						</div>

						<div class="tab-pane" id="messages3" role="tabpanel">
							<div class="p-15">
								<p>hellloafdafafDuis cursus eros lorem, pretium ornare purus tincidunt eleifend. Etiam quis justo vitae erat faucibus pharetra. Morbi in ullamcorper diam. Morbi lacinia, sem vitae dignissim cursus, massa nibh semper magna, nec pellentesque lorem nisl quis ex.</p>
								<h3>Donec vitae laoreet neque, id convallis ante.</h3>
								<h4>Fusce porta eros a nisl varius, non molestie metus mollis. Pellentesque tincidunt ante sit amet ornare lacinia.</h4>
							</div>
						</div>
					</div>
				</div>
				<!-- /.box-body -->
			  </div>
			  <!-- /.box -->
			</div>
			<!-- /.col -->
		  </div>

		</section>
		<!-- /.content -->
	  </div>
  </div>
<!-- /.content-wrapper -->
{% endblock content %}