{% extends 'based/based.html' %}
{% block content %}
  <!-- Content Wrapper. Contains page content -->
  {% load static %}
  <div class="content-wrapper">
	  <div class="container-full">
	  		<div class="content-header">
			<div class="d-flex align-items-center">
				<div class="mr-auto">
					<h1 class="page-title mb-15 font-size-40 font-weight-800">Bahagian Perolehan</h1>
					<div class="d-inline-block align-items-center">
						<nav>
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="#"><i class="mdi mdi-home-outline"></i></a></li>
								<li class="breadcrumb-item" aria-current="page">kontraktor</li>
								<li class="breadcrumb-item active" aria-current="page">Senarai nama</li>
							</ol>
						</nav>
					</div>
				</div>
				
			</div>
		</div>
		<!-- Main content -->
		<section class="content">
	
				<div class="row">
					<div class="col-12 col-xl-12">
				<div class="box">		
			
					<div class="box-body">						
						<div class="px-10 py-30 bg-white text-dark">
							<h3 class="px-10 mb-15 font-weight-700">Perolehan Analisis</h3>
						   <ul class="flexbox flex-justified">
							<li class="px-10">
							  <h3 class="mb-1 text-bold">{{total}}</h3>
							  <h6>Semua</h6>
							</li>

							<li class="br-1 bl-2 px-10">
							   <h3 class="mb-1 text-bold">{{kelas.sebutharga}}</h3>
							  <h6>Sebutharga</h6>
							</li>

							<li class="px-10 ">
							<h3 class="mb-1 text-bold">{{kelas.lt}}</h3>
							  <h6>Lantikan Terus</h6>
							</li>
								<li class="px-10 ">
							<h3 class="mb-1 text-bold">{{kelas.undi}}</h3>
							  <h6>Undi</h6>
							</li>
						  </ul>						
						</div>						
										
			
					</div>
					
				</div>
			</div>  
		</div>
     
		  <!-- /.row -->
		  <div class="row">
		  			<div class="col-12">
			  <div class="box box-default">
				<div class="box-header with-border">
				  <h3 class="font-weight-700 px-10">Senarai No Perolehan</h3>
				  <h6 class="box-subtitle">Mengikut jenis <code>semua, sebutharga, latikan terus, undi</code></h6>
				</div>
				<!-- /.box-header -->
				<div class="box-body">
					<!-- Nav tabs -->
					<ul class="nav nav-tabs customtab" role="tablist">
						<li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#home2" role="tab"><span class="hidden-sm-up"><i class="ion-home"></i></span> <span class="hidden-xs-down">Semua</span></a> </li>
						<li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#profile2" role="tab"><span class="hidden-sm-up"><i class="ion-person"></i></span> <span class="hidden-xs-down">Sebutharga</span></a> </li>
						<li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#messages2" role="tab"><span class="hidden-sm-up"><i class="ion-email"></i></span> <span class="hidden-xs-down">Latikan Terus</span></a> </li>
					    <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#messages3" role="tab"><span class="hidden-sm-up"><i class="ion-email"></i></span> <span class="hidden-xs-down">Undi</span></a> </li>
					</ul>
					<!-- Tab panes -->
					<div class="tab-content">
						<div class="tab-pane active" id="home2" role="tabpanel">
							<div class="p-15 pl-0 pr-0">
							 <div class="table-responsive">
								<table id="example" class="table mt-0 table-hover no-wrap table-borderless" data-page-size="10" style="padding-left: 0px;">
									<thead>
										<tr>
											<th>Bil</th>
											<th>No Perolehan</th>
											<th>Tarikh</th>
											<th>Keadah Perolehan</th>
											<th>Pengawai Penyelia</th>
										
										</tr>
									</thead>
									<tbody>
									 {% for row in semua %}
										<tr>
											<td>{{forloop.counter}}</td>
											<td>
											    {{row.noperolehan}}
											</td>
											<td>{{row.tarikh}}</td>
											<td>{{row.kaedahperolehan}}</td>
											<td><span class="badge badge-warning">{{row.pegawaiselia.first_name}}</span> </td>
											
										
										</tr>
									{% endfor %}
									</tbody>
								</table>
							</div>
							</div>
						</div>
						<div class="tab-pane" id="profile2" role="tabpanel">
							<div class="p-15">
							 <div class="table-responsive">
								<table id="example11" class="table mt-0 table-hover no-wrap table-borderless" data-page-size="10">
									<thead>
										<tr>
											<th>Bil</th>
											<th>No Perolehan</th>
											<th>Tarikh</th>
											<th>Keadah Perolehan</th>
											<th>Pengawai Penyelia</th>
										
										</tr>
									</thead>
									<tbody>
									 {% for row in sebutharga %}
										<tr>
											<td>{{forloop.counter}}</td>
											<td>
											    {{row.noperolehan}}
											</td>
											<td>{{row.tarikh}}</td>
											<td>{{row.kaedahperolehan}}</td>
											<td><span class="badge badge-warning">{{row.pegawaiselia.first_name}}</span> </td>
											
										
										</tr>
									{% endfor %}
									</tbody>
								</table>
							</div>
							</div>
						</div>
						<div class="tab-pane" id="messages2" role="tabpanel">
							<div class="p-15">
									 <div class="table-responsive">
								<table id="example21" class="table mt-0 table-hover no-wrap table-borderless" data-page-size="10">
									<thead>
										<tr>
											<th>Bil</th>
											<th>No Perolehan</th>
											<th>Tarikh</th>
											<th>Keadah Perolehan</th>
											<th>Pengawai Penyelia</th>
										
										</tr>
									</thead>
									<tbody>
									 {% for row in lt %}
										<tr>
											<td>{{forloop.counter}}</td>
											<td>
											    {{row.noperolehan}}
											</td>
											<td>{{row.tarikh}}</td>
											<td>{{row.kaedahperolehan}}</td>
											<td><span class="badge badge-warning">{{row.pegawaiselia}}</span> </td>
											
										
										</tr>
									{% endfor %}
									</tbody>
								</table>
							</div>
							</div>
						</div>

						<div class="tab-pane" id="messages3" role="tabpanel">
							<div class="p-15">
										 <div class="table-responsive">
								<table id="example31" class="table mt-0 table-hover no-wrap table-borderless" data-page-size="10">
									<thead>
										<tr>
											<th>Bil</th>
											<th>No Perolehan</th>
											<th>Tarikh</th>
											<th>Keadah Perolehan</th>
											<th>Pengawai Penyelia</th>
										
										</tr>
									</thead>
									<tbody>
									 {% for row in undi %}
										<tr>
											<td>{{forloop.counter}}</td>
											<td>
											    {{row.noperolehan}}
											</td>
											<td>{{row.tarikh}}</td>
											<td>{{row.kaedahperolehan}}</td>
											<td><span class="badge badge-warning">{{row.pegawaiselia}}</span> </td>
											
										
										</tr>
									{% endfor %}
									</tbody>
								</table>
							</div>
							</div>
						</div>
					</div>
				</div>
				<!-- /.box-body -->
			  </div>
			  <!-- /.box -->
			</div>
			<!-- /.col -->
		  </div>

		</section>
		<!-- /.content -->
	  </div>
  </div>
<!-- /.content-wrapper -->
{% endblock content %}