{% extends "based/based.html" %}
{% block content %}
				<div class="app-content page-body">
					<div class="container">

						<!--Page header-->
						<div class="page-header">
							<div class="page-leftheader">
								<h4 class="page-title">Tempahan No.Perolehan</h4>
							</div>
							<div class="page-rightheader ml-auto d-lg-flex d-none">
								<ol class="breadcrumb">
									<li class="breadcrumb-item"><a href="#" class="d-flex"><svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M12 3L2 12h3v8h6v-6h2v6h6v-8h3L12 3zm5 15h-2v-6H9v6H7v-7.81l5-4.5 5 4.5V18z"/><path d="M7 10.19V18h2v-6h6v6h2v-7.81l-5-4.5z" opacity=".3"/></svg><span class="breadcrumb-icon">Home</span></a></li>
									<li class="breadcrumb-item"><a href="#">Pages</a></li>
									<li class="breadcrumb-item"><a href="#">Elements</a></li>
									<li class="breadcrumb-item active" aria-current="page">Form-Elements</li>
								</ol>
							</div>
						</div>
						<!--End Page header-->

						<div class="row">
						
							<div class="col-xl-8 col-lg-12 col-md-12">
								<div class="card">
									<div class="card-header">
										<h3 class="card-title">Maklumat tempahan no Perolehan</h3>
									</div>
									<div class="card-body">
									<form action='{% url 'sebutharga/order' %}' method='POST'>
										<div class="row">
										 
                    						{% csrf_token %}
											<div class="col-sm-8 col-md-8">
												<div class="form-group">
													<label class="form-label">No Perolehan<span class="text-red">*</span></label>
													{{form.o_sebutharga}}
												</div>
											</div>
											<div class="col-sm-4 col-md-4">
												<div class="form-group">
													<label class="form-label">Tarikh<span class="text-red">*</span></label>
													{{form.o_tarikh}}
												</div>
											</div>
											<div class="col-md-8">
												<div class="form-group">
													<label class="form-label">Pemilik<span class="text-red">*</span></label>
													{{form.o_permilik}}
												</div>
											</div>
											<div class="col-md-8">
												<div class="form-group">
													<label class="form-label">Keadah Perolehan <span class="text-red">*</span></label>
													{{form.o_jenis}}
												</div>
											</div>
											<div class="col-md-4">
											</div>
											<div class="col-md-4">
												<input type="submit" name="submit"/>
											</div>
											</form>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div><!-- end app-content-->
			</div>



{% endblock content %}