
  {% extends 'based/based.html' %}
  {% block content %}
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
	  <div class="container-full">
		<!-- Content Header (Page header) -->
		<div class="content-header">
			<div class="d-flex align-items-center">
				<div class="mr-auto">
					<h3 class="page-title mb-15 font-size-40 font-weight-800">Pendaftaran No Perolehan</h3>
					<div class="d-inline-block align-items-center">
						<nav>
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="#"><i class="mdi mdi-home-outline"></i></a></li>
								<li class="breadcrumb-item" aria-current="page">Kontraktor</li>
								<li class="breadcrumb-item active" aria-current="page">Daftar Baru</li>
							</ol>
						</nav>
					</div>
				</div>
				
			</div>
		</div>	  

		<!-- Main content -->
		<section class="content">

		  <!-- vertical wizard -->
		  <div class="box box-default">
			<div class="box-header with-border">
			  <h4 class="box-title">Borang Maklumat Kontraktor</h4>
			  <h6 class="box-subtitle">You can find the <a href="http://www.jquery-steps.com" target="_blank">offical website</a></h6>
			</div>
			<!-- /.box-header -->
            <div class="signup-content">
                <div class="signup-desc">
                    <div class="signup-desc-content">
                      
                        <p class="title">Sign up now to try undraw 30 days for free</p>
                        <p class="desc">
                            MIT licensed illustrations for every project you can imagine and create
                        </p>
                        <img src="images/signup-img.jpg" alt="" class="signup-img">
                    </div>
                </div>
                <div class="signup-form-conent">
                    <form class="form" action='{% url 'noperolehan/daftar' %}' method="POST">
					{% csrf_token %}
					    <div class="row pl-55 pr-55 pt-15">
							<div class="box-body form-element2">
								<div class="col-lg-12 col-md-12 p-0 mb-40" style=" border-bottom: 1px dashed #8d99ae;">
									<h4 class="mt-1 mb-4 font-weight-600">Maklumat Perolehan</h4>
								
								</div>
								<div class="row mb-10">
									<div class="col-lg-6 col-md-12">
										<div class="form-group">
											<label>No Perolehan</label>
											{{form.noperolehan}}
										</div>
									</div>
								</div>
								<div class="row mb-10">
									<div class="col-lg-3 col-md-6">
										<div class="form-group">
											<label>Tarikh</label>
											 {{form.tarikh}}
										</div>
									</div>
									<div class="col-lg-3 col-md-6">
										<div class="form-group">
											<label>Kaedah</label>
											  {{form.kaedahperolehan}}
										</div>
									</div>
								</div>
								<div class="row mb-10">
									<div class="col-lg-6 col-md-6">
										<div class="form-group">
											<label>Pegawai Selia</label>
											 {{form.pegawaiselia}}
										</div>
									</div>

								</div>
								<div class="row mb-10 mt-20">
									<div class="col-lg-6 col-md-6">
										<div class="form-group">
												<button type="button" class="btn btn-rounded btn-warning btn-outline mr-1">
								  					<i class="ti-trash"></i> Cancel
												</button>
												<button type="submit"  class="btn btn-rounded btn-primary btn-outline">
								  					<i class="ti-save-alt"></i> Save
												</button>
										</div>
									</div>

								</div>
							</div>
						</div>
									
                       						
                    </form>
                </div>
            </div>
			<!-- /.box-body -->
		  </div>
		  <!-- /.box -->
		  <!-- /.box -->

		</section>
		<!-- /.content -->
	  </div>
  </div>
  <!-- /.content-wrapper -->

{% endblock content %}
  