{% extends "based/based.html" %}
{% block content %}

  <div class="content-wrapper">
	  <div class="container-full">
		<!-- Content Header (Page header) -->	  
		<div class="content-header">
			<div class="d-flex align-items-center">
				<div class="mr-auto">
					<h3 class="page-title">Senarai Projek</h3>
					<div class="d-inline-block align-items-center">
						<nav>
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="#"><i class="mdi mdi-home-outline"></i></a></li>
								<li class="breadcrumb-item" aria-current="page">kontraktor</li>
								<li class="breadcrumb-item active" aria-current="page">Senarai nama</li>
							</ol>
						</nav>
					</div>
				</div>
				
			</div>
		</div>

		<!-- Main content -->
		<section class="content">
		  <div class="row">
			<div class="col-xl-10 col-lg-10 col-10">
				<div class="box">
					<div class="box-header with-border">						
						<h4 class="box-title">Kontraktor</h4>
						<h6 class="box-subtitle">CSV, Excel, PDF & Print</h6>
					</div>
					<div class="box-body">						
						<div class="table-responsive">

							<table id="example" class="table table-lg invoice-archive">
								<thead>
									<tr>
										<th class="border-bottom-0">Bil#</th>
										<th class="border-bottom-0">Kod Vot</th>
										<th class="border-bottom-0">Tajuk Projek</th>
										<th class="border-bottom-0">% Pergisian Data</th>
										<th class="border-bottom-0">No Perolehan</th>
										<th class="border-bottom-0">Tarikh</th>
										<th class="text-center border-bottom-0">Jenis Perolehan</th>
                                        <th class="text-center border-bottom-0">Penyelia</th>
                                        <th class="text-center border-bottom-0">Action</th>
									</tr>
								</thead>
						        <tbody>
                                {% for row in senaraiprojek %}
													<tr>
														<td>{{forloop.counter}}</td>
														<td>{{row.kodvot}}</td>
														<td>{{row.tajukkerja}}</a></td>
														<td>10%</td>
														<td class="font-weight-bold">{{row.nosebuthargaid.noperolehan}}</td>
														<td>
                                                            {{row.nosebuthargaid.tarikh}}
														</td>
															<td class="text-center">
										{{row.nosebuthargaid.kaedahperolehan}}
										</td>
                                        <td>{{row.nosebuthargaid.pegawaiselia}}</td>
                                        							<td class="text-center">
											<div class="list-icons d-inline-flex">
												<a href="#" class="list-icons-item mr-10"><i class="fa fa-eye"></i></a>
												<div class="list-icons-item dropdown">
													<a href="#" class="list-icons-item dropdown-toggle" data-toggle="dropdown"><i class="fa fa-file-text"></i></a>
													<div class="dropdown-menu dropdown-menu-right">
														<a href="#" class="dropdown-item"><i class="fa fa-download"></i> Download</a>
														<a href="#" class="dropdown-item"><i class="fa fa-print"></i> Print</a>
														<div class="dropdown-divider"></div>
														<a href="#" class="dropdown-item"><i class="fa fa-pencil"></i> Edit</a>
														<a href="#" class="dropdown-item"><i class="fa fa-remove"></i> Remove</a>
													</div>
												</div>
											</div>
										</td>
													</tr>
												{% endfor %}
											</tbody>
							</table>

						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-2 col-lg-5 col-12">
				<div class="box box-inverse box-success">
				  <div class="box-body">
					<div class="flexbox">
					  <h5>Kontraktor</h5>
					  <div class="dropdown">
						<span class="dropdown-toggle no-caret" data-toggle="dropdown"><i class="ion-android-more-vertical rotate-90"></i></span>
						<div class="dropdown-menu dropdown-menu-right">
						  <a class="dropdown-item" href="#"><i class="ion-android-list"></i> Details</a>
						  <a class="dropdown-item" href="#"><i class="ion-android-add"></i> Add new</a>
						  <a class="dropdown-item" href="#"><i class="ion-android-refresh"></i> Refresh</a>
						</div>
					  </div>
					</div>

					<div class="text-center my-2">
					  <h1>{{total}}</h1>
					  <span>Kontraktor</span>
					</div>
				  </div>
				</div>
				<div class="box box-inverse box-primary">
				  <div class="box-body">
					<div class="flexbox">
					  <h5>Active</h5>
					  <div class="dropdown">
						<span class="dropdown-toggle no-caret" data-toggle="dropdown"><i class="ion-android-more-vertical rotate-90"></i></span>
						<div class="dropdown-menu dropdown-menu-right">
						  <a class="dropdown-item" href="#"><i class="ion-android-list"></i> Details</a>
						  <a class="dropdown-item" href="#"><i class="ion-android-add"></i> Add new</a>
						  <a class="dropdown-item" href="#"><i class="ion-android-refresh"></i> Refresh</a>
						</div>
					  </div>
					</div>

					<div class="text-center my-2">
					  <h1>{{totalactive.active}}</h1>
					  <span>Kontraktor</span>
					</div>
				  </div>				
				</div>
				<div class="box box-inverse box-danger">
				  <div class="box-body">
					<div class="flexbox">
					  <h5>Tidak Aktif</h5>
					  <div class="dropdown">
						<span class="dropdown-toggle no-caret" data-toggle="dropdown"><i class="ion-android-more-vertical rotate-90"></i></span>
						<div class="dropdown-menu dropdown-menu-right">
						  <a class="dropdown-item" href="#"><i class="ion-android-list"></i> Details</a>
						  <a class="dropdown-item" href="#"><i class="ion-android-add"></i> Add new</a>
						  <a class="dropdown-item" href="#"><i class="ion-android-refresh"></i> Refresh</a>
						</div>
					  </div>
					</div>

					<div class="text-center my-2">
					  <h1>{{totalactive.deactive}}</h1>
					  <span>Kontraktor</span>
					</div>
				  </div>

				</div>

			</div>
		  </div>
		</section>
		<!-- /.content -->
	  </div>
  </div>
  <!-- /.content-wrapper -->
{% endblock content %}