
  {% extends 'based/based.html' %}
  {% block content %}
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
	  <div class="container-full">
		<!-- Content Header (Page header) -->
		<div class="content-header">
			<div class="d-flex align-items-center">
				<div class="mr-auto">
					<h3 class="page-title mb-15 font-size-40 font-weight-800">Daftar Maklumat Perolehan</h3>
					<div class="d-inline-block align-items-center">
						<nav>
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="#"><i class="mdi mdi-home-outline"></i></a></li>
								<li class="breadcrumb-item" aria-current="page">Perolehab</li>
								<li class="breadcrumb-item active" aria-current="page">Daftar Baru</li>
							</ol>
						</nav>
					</div>
				</div>
				
			</div>
		</div>	  

		<!-- Main content -->
		<section class="content">

		  <!-- vertical wizard -->
		  <div class="box box-transparent">
			<div class="box-header with-border">
			  <h4 class="box-title">Borang Maklumat Perolehan</h4>
			  <h6 class="box-subtitle">You can find the <a href="http://www.jquery-steps.com" target="_blank">offical website</a></h6>
			</div>
			<!-- /.box-header -->
            <div class="signup-content">
                <div class="signup-desc">
                    <div class="signup-desc-content">
                      
                        <p class="title">Sign up now to try undraw 30 days for free</p>
                        <p class="desc">
                            MIT licensed illustrations for every project you can imagine and create
                        </p>
                        <img src="images/signup-img.jpg" alt="" class="signup-img">
                    </div>
                </div>
                <div class="signup-form-conent">
                    <form action='{% url 'projek/daftar' %}' method="POST" id="signup-form" class="signup-form" enctype="multipart/form-data">
					  {% csrf_token %}
					   {% block wizard %}
					    {% include 'split/prowizard.html' %}
					   {% endblock wizard %}
                    </form>
                </div>
            </div>
			<!-- /.box-body -->
		  </div>
		  <!-- /.box -->
		  <!-- /.box -->

		</section>
		<!-- /.content -->
	  </div>
  </div>
  <!-- /.content-wrapper -->
{% endblock content %}
  