
  {% extends 'based/based.html' %}
  {% block content %}
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
	  <div class="container-full">
		<!-- Content Header (Page header) -->
		<div class="content-header">
			<div class="d-flex align-items-center">
				<div class="mr-auto">
					<h3 class="page-title mb-15 font-size-40 font-weight-800">Daftar Maklumat Perolehan</h3>
					<div class="d-inline-block align-items-center">
						<nav>
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="#"><i class="mdi mdi-home-outline"></i></a></li>
								<li class="breadcrumb-item" aria-current="page">Perolehab</li>
								<li class="breadcrumb-item active" aria-current="page">Daftar Baru</li>
							</ol>
						</nav>
					</div>
				</div>
				
			</div>
		</div>	  

		<!-- Main content -->
		<section class="content">

		  <!-- vertical wizard -->
		  <div class="box box-default">
			<div class="box-header with-border">
			  <h4 class="box-title">Borang Maklumat Perolehan</h4>
			  <h6 class="box-subtitle">You can find the <a href="http://www.jquery-steps.com" target="_blank">offical website</a></h6>
			</div>
			<!-- /.box-header -->
            <div class="signup-content">
                <div class="signup-desc">
                    <div class="signup-desc-content">
                      
                        <p class="title">Sign up now to try undraw 30 days for free</p>
                        <p class="desc">
                            MIT licensed illustrations for every project you can imagine and create
                        </p>
                        <img src="images/signup-img.jpg" alt="" class="signup-img">
                    </div>
                </div>
                <div class="signup-form-conent">
                    <form method="POST" id="signup-form" class="signup-form" enctype="multipart/form-data">
                        <h3></h3>
                        <fieldset>
                            <span class="step-current font-size-20">Step 1 / 5</span>
                           	 <div class="row">
								<div class="box-body form-element2">
						
								<div class="row">
								  <div class="col-lg-8 col-md-12">
									<div class="form-group">
									  <label>No Perolehan</label>
									 <input type="hidden" name="{{form.nosebuthargaid.name}}" class="form-control" id="{{form.nosebuthargaid.id_for_label}}"/>
								
									  <div class="input-group">
                                       <input type="text" name="" class="form-control text-dark font-weight-600" id="nosebuts" readonly/>
									  
									  <span class="input-group-append">
									  	<button class="btn btn-primary btn-sm" type="button" data-toggle="modal" data-target=".bs-example-modal-lg" >Select</button>
									  </span>
									  </div>
									</div>
								  </div>
                            
								</div>
					
							
								<div class="row">
								  <div class="col-lg-4 col-md-12">
									<div class="form-group">
									  <label>Kaedah</label>
								       <input type="text" name="" class="form-control text-dark font-weight-600" id="kaedah" readonly/>
									</div>
								  </div>
                                 <div class="col-lg-4 col-md-12">
									<div class="form-group">
									  <label>Tarikh</label>
									  <input type="text" name="" class="form-control text-dark font-weight-600" id="datedate" readonly/>
									</div>
								  </div>
						
								</div>
								<div class="row">
								  <div class="col-lg-8 col-md-12">
									<div class="form-group">
									  <label>Tajuk Kerja</label>
								       {{form.tajukkerja}}
									</div>
								  </div>
						
								</div>
                                <div class="row">
                                	<div class="col-lg-4 col-md-6">
									<div class="form-group">
									  <label>Daerah</label>
                                      {{form.daerah}}
				
									</div>
								  </div>
                                </div>

								<div class="row">
                                	<div class="col-lg-4 col-md-6">
									<div class="form-group">
									  <label>Pegawai Selia</label>
                                       <input type="text" name="" class="form-control text-dark font-weight-600" id="selia" readonly/>
				
									</div>
								  </div>
                                </div>
							
							
							</div>
                        </div>
									    <!-- /.modal -->

							<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" style="display: none;">
									<div class="modal-dialog modal-lg">
										<div class="modal-content">
											<div class="modal-header">
												<h4 class="modal-title" id="myLargeModalLabel">Senarai No. Perolehan</h4>
												<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
											</div>
											<div class="modal-body">
											 <div class="table-responsive">
												<table id="tickets" class="table mt-0 table-hover no-wrap table-borderless" data-page-size="10">
													<thead>
													<tr>
														<th>
														Bil
														</th>
														<th>
														ID
														</th>
														<th width:20>
														Tindakkan
														</th>
														<th>
														No Sebutharga
														</th>
														<th>
														Pemilik
														</th>
														<th>
														Tarikh
														</th>
														<th>
														Jenis
														</th>
													</tr>
													</thead>
													<tbody>
													{% for row in sebutharga %}
														<tr>
														<td class="py-1">{{forloop.counter}}</td>
														<td class="py-1">{{row.id}}</td>
														<td class="py-1"><button id="buttonselect" value="{{row.id}}" class="waves-effect waves-light btn mb-5 bg-gradient-primary" data-dismiss="modal">Select</button></td>
														<td class="py-1"><span>{{row.noperolehan}}<span></td> <!--Show data in list view-->
														<td class="py-1"><span>{{row.pegawaiselia.first_name}}<span></td> <!--Show data in list view-->
														<td class="py-1"><span>{{row.tarikh}}<span></td> <!--Show data in list view-->
														<td class="py-1"><span>{{row.kaedahperolehan}}<span></td> <!--Show data in list view-->
														</tr>

													{% endfor %}
													</tbody>
												</table>
												</div>
											</div>
											<div class="modal-footer">
												<button type="button" class="btn btn-danger text-left" data-dismiss="modal">Close</button>
											</div>
										</div>
										<!-- /.modal-content -->
									</div>
									<!-- /.modal-dialog -->
								</div>
							<!-- /.modal -->
                        </fieldset>
    
                        <h3></h3>
                        <fieldset>
                            <span class="step-current font-size-20">Step 2 / 5</span>
                            <div class="row">
								<div class="box-body form-element2">
						
								<div class="row">
								  <div class="col-lg-3 col-md-12">
									<div class="form-group">
									  <label>Gred</label>
									  {{form.pgred}}
								
									</div>
								  </div>
								  <div class="col-lg-3 col-md-12">
									<div class="form-group">
									  <label>Ketegori</label>
									 {{form.pkategori}}
								
									</div>
								  </div>
                            
								</div>
					
							
								<div class="row">
								  <div class="col-lg-2 col-md-4">
									<div class="form-group">
									<label>K1</label>
								       {{form.pkhususan1}}
									</div>
								  </div>
								  <div class="col-lg-2 col-md-4">
									<div class="form-group">
								<label>K2</label>
								       {{form.pkhususan2}}
									</div>
								  </div>
								    <div class="col-lg-2 col-md-4 ">
									<div class="form-group">
									<label>K3</label>
								      {{form.pkhususan3}}
									</div>
								  </div>
						
								</div>
								<div class="row">
								  <div class="col-lg-4 col-md-12">
									<div class="form-group">
									  <label>Taraf</label>
								        {{form.ptaraf}}
									</div>
								  </div>
						
								</div>
      							<div class="row">
                                	<div class="col-lg-2 col-md-4">
									<div class="form-group">
									  <label>Tempoh Siap Kerja</label>
                                      {{form.ptempohsiap}}
				
									</div>
								  </div>
								  <div class="col-lg-4 col-md-8">
									<div class="form-group">
									  <label>Minggu/Bulan</label>
                                      {{form.pweekormonth}}
				
									</div>
								  </div>
                                </div>	
							
							</div>
                        </div>
                        </fieldset>
    
                        <h3></h3>
                        <fieldset>
                            <span class="step-current">Step 3 / 5</span>
                                  <div class="row">
								<div class="box-body form-element2">
						
								<div class="row mb-10">
								  <div class="col-lg-4 col-md-12">
									<div class="form-group">
									  <label>Harga Dokumen Sebutharga (RM)</label>
									  {{form.hargadukumen}}
								
									</div>
								  </div>
								  <div class="col-lg-4 col-md-12 mt-15 mb-15 ">
									
									  <span class="font-size-18 font-weight-300">(Minimum RM10 | Maximum RM50)</span>
									 
								
								  </div>
								</div>
					
							
								<div class="row mb-10">
								  <div class="col-lg-4 col-md-12">
									<div class="form-group">
									<label>Tarikh Notis Dikeluarkan</label>
								       {{form.tarikhnotis}}
									</div>
								  </div>
							
						
								</div>

								<div class="row mb-10">
                               	  <div class="col-lg-3 col-md-4">
									<div class="form-group">
									  <label>Tarikh Lawat Tapak/Taklimat</label>
									  <div class="input-group">
                                       <input type="text" class="form-control" id="harilawat">
									  
									  <span class="input-group-append">
									  	 <span class="input-group-text">Hari</span>
									  </span>
									  </div>
									</div>
								  </div>
								 <div class="col-lg-3 col-md-8">
									<div class="form-group">
									  <label>Tarikh</label>
                                     {{form.tariklawattapak}}
				
									</div>
								  </div>
                                </div>
								<div class="row mb-10">
                               	  <div class="col-lg-3 col-md-4">
									<div class="form-group">
									  <label>Tarikh Dokumen Mula Dijua</label>
									  <div class="input-group">
                                       <input type="text" class="form-control" id="harimulajual">
									  
									  <span class="input-group-append">
									  	 <span class="input-group-text">Hari</span>
									  </span>
									  </div>
									</div>
								  </div>
								 <div class="col-lg-3 col-md-8">
									<div class="form-group">
									  <label>Tarikh</label>
                                     {{form.tarikhdukemenjual}}
				
									</div>
								  </div>
                                </div>
								<div class="row mb-10">
                               	  <div class="col-lg-3 col-md-4">
									<div class="form-group">
									  <label>Tarikh Akhir Dokumen Dijual</label>
									  <div class="input-group">
                                       <input type="text" class="form-control" id="hariakhirjual">
									  
									  <span class="input-group-append">
									  	 <span class="input-group-text">Hari</span>
									  </span>
									  </div>
									</div>
								  </div>
								 <div class="col-lg-3 col-md-8">
									<div class="form-group">
									  <label>Tarikh</label>
                                     {{form.tarikhakhirdukemenjual}}
				
									</div>
								  </div>
                                </div>

							    <div class="row mb-10">
                               	  <div class="col-lg-3 col-md-4">
									<div class="form-group">
									  <label>Tarikh Sebutharga Ditutup</label>
									  <div class="input-group">
                                       <input type="text" class="form-control" id="haritutup">
									  
									  <span class="input-group-append">
									  	 <span class="input-group-text">Hari</span>
									  </span>
									  </div>
									</div>
								  </div>
								 <div class="col-lg-3 col-md-8">
									<div class="form-group">
									  <label>Tarikh</label>
                                     {{form.tarikhtutupsebutharga}}
				
									</div>
								  </div>
                                </div>
						
      						
							
							</div>
                        </div>
                        </fieldset>
    
                        <h3></h3>
                        <fieldset>
                            <span class="step-current">Step 4 / 5</span>
                                <div class="row">
								<div class="box-body form-element2">
						
								<div class="row">
								  <div class="col-lg-6 col-md-12">
									<div class="form-group">
									  <label>Jurutera Daerah</label>
									  {{form.pjuruteradearah}}
								
									</div>
								  </div>
								
								</div>

								<div class="row">
								  <div class="col-lg-6 col-md-12">
									<div class="form-group">
									 <label>Jurutera</label>
                                       {{form.pjurutera}}
								
									</div>
								  </div>
								
								</div>

								<div class="row">
								  <div class="col-lg-6 col-md-12">
									<div class="form-group">
									  <label>Penolong Jurutera Kanan JA36</label>
                                       {{form.pjuruterakanan36}}
								
									</div>
								  </div>
								
								</div>

								<div class="row">
								  <div class="col-lg-6 col-md-12">
									<div class="form-group">
										  <label>Penolong Jurutera JA29</label>
                                       {{form.pjurutera29}}
								
									</div>
								  </div>
								
								</div>

								<div class="row">
								  <div class="col-lg-6 col-md-12">
									<div class="form-group">
									  <label>Kod Vot (Tanpa Space)</label>
                                       {{form.kodvot}}
									</div>
								  </div>
								
								</div>

								<div class="row">
								  <div class="col-lg-6 col-md-12">
									<div class="form-group">
									  <label>Peruntukan</label>
                                       {{form.peruntukan}}
								
									</div>
								  </div>
								
								</div>

								<div class="row">
								  <div class="col-lg-6 col-md-12">
									<div class="form-group">
									  <label>Peruntukan Semasa (RM)</label>
								
                                       {{form.peruntukansemasa}}
								
									</div>
								  </div>
								
								</div>
					
							
							
					
							
							</div>
                        </div>
                        </fieldset>
						<h3></h3>
                        <fieldset>
                            <span class="step-current font-size-20">Step 5 / 5</span>
                            <div class="row">
								<div class="box-body form-element2">
						
								<div class="row mb-10">
								  <div class="col-lg-3 col-md-12">
									<div class="form-group">
									  <label>Latitud (N) &#176; </label>
									  {{form.latitud1}}
								
									</div>
								  </div>
								  <div class="col-lg-3 col-md-12">
									<div class="form-group">
									  <label>Latitud (N) '</label>
									 {{form.latitud2}}
								
									</div>
								  </div>
								<div class="col-lg-3 col-md-12">
									<div class="form-group">
									  <label>Latitud (N) "</label>
									 {{form.latitud3}}
								
									</div>
								  </div>
                            
								</div>


								<div class="row mb-10">
								  <div class="col-lg-3 col-md-12">
									<div class="form-group">
									  <label>Longitud (E) &#176; </label>
									  {{form.latitud1}}
								
									</div>
								  </div>
								  <div class="col-lg-3 col-md-12">
									<div class="form-group">
									  <label>Longitud (E) '</label>
									 {{form.latitud2}}
								
									</div>
								  </div>
								<div class="col-lg-3 col-md-12">
									<div class="form-group">
									  <label>Longitud (E) "</label>
									 {{form.latitud3}}
								
									</div>
								  </div>
                            
								</div>
					
							
								<div class="row">
								  <div class="col-lg-2 col-md-4">
									<div class="form-group">
									<label>K1</label>
								       {{form.pkhususan1}}
									</div>
								  </div>
								  <div class="col-lg-2 col-md-4">
									<div class="form-group">
								<label>K2</label>
								       {{form.pkhususan2}}
									</div>
								  </div>
								    <div class="col-lg-2 col-md-4 ">
									<div class="form-group">
									<label>K3</label>
								      {{form.pkhususan3}}
									</div>
								  </div>
						
								</div>
								<div class="row">
								  <div class="col-lg-4 col-md-12">
									<div class="form-group">
									  <label>Taraf</label>
								        {{form.ptaraf}}
									</div>
								  </div>
						
								</div>
      							<div class="row">
                                	<div class="col-lg-2 col-md-4">
									<div class="form-group">
									  <label>Tempoh Siap Kerja</label>
                                      {{form.ptempohsiap}}
				
									</div>
								  </div>
								  <div class="col-lg-4 col-md-8">
									<div class="form-group">
									  <label>Minggu/Bulan</label>
                                      {{form.pweekormonth}}
				
									</div>
								  </div>
                                </div>	
							
							</div>
                        </div>
                        </fieldset>
    
                    </form>
                </div>
            </div>
			<!-- /.box-body -->
		  </div>
		  <!-- /.box -->
		  <!-- /.box -->

		</section>
		<!-- /.content -->
	  </div>
  </div>
  <!-- /.content-wrapper -->

    {% endblock content %}
  