{% extends 'based/based.html' %}
{% block content %}
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
	  <div class="container-full">
		<!-- Content Header (Page header) -->
		<div class="content-header">
			<div class="d-flex align-items-center">
				<div class="mr-auto">
					<h3 class="page-title">Perakuan Siap Membasssssiki Kecacatan</h3>
					<div class="d-inline-block align-items-center">
						<nav>
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="#"><i class="mdi mdi-home-outline"></i></a></li>
								<li class="breadcrumb-item" aria-current="page">Borang</li>
								<li class="breadcrumb-item active" aria-current="page">No perolehan</li>
							</ol>
						</nav>
					</div>
				</div>
				
			</div>
		</div>	  

		<!-- Main content -->
		<section class="content">
			<div class="row">			 
               
				<div class="col-md-9">
                	<form class="form" action='{% url 'dokumen/psmk' idperolehan=mrksatufecth.mrksatunosebutharga.id  %}' method="POST">
					  <div class="box">
				
						<!-- /.box-header -->
					
                          {% csrf_token %}
							<div class="box-body">
							<h4 class="box-title text-primary"><i class="ti-user mr-15"></i>Perakuan</h4>
							<hr class="my-15">

				

                            <div class="row">
                                <div class="col-md-12 tl">
                                <div class="form-group row">
                                
                               
                                    <div class="col-sm-8">
                                    <label>Nama Pemborong</label>
                                    <input type="text" class="form-control" name="{{form.psmknosebutharga.name}}" value="{{mrksatufecth.mrksatunosebutharga.id }}"/>
                                    <input type="text" class="form-control" name="{{form.psmkmrksatulink.name}}" value="{{mrksatufecth.id}}"/> 
                                    <input type="text" class="form-control ts" value="" readonly>
                                    </div>
                                </div>
                                </div>
                            </div>
                            <div class="row">
                            <div class="col-md-12 tl">
                                <div class="form-group row">
                                    <div class="col-sm-8">
                                    <label>Alamat Pemborong</label>
                                    <textarea rows="4" type="text" class="form-control ts" readonly></textarea>
                                    </div>
                                </div>
                                </div>
                          </div>
                          <div class="row">
                            <div class="col-md-12 tl">
                            <div class="form-group row">
                                <div class="col-sm-4">
                                <label>No Rujukan</label>
                                    <input type="text" class="form-control ts" readonly>
                                </div>
                                <div class="col-sm-4 tl">
                                <label>No Kontrak / No Sebutharga</label>
                                <input type="text" class="form-control ts" readonly>
                                </div>
                            </div>
                            </div>
                        </div>
                        <div class="row">
                        <div class="col-md-12 tl">
                            <div class="form-group row">
                                <div class="col-sm-8">
                                <label>Tajuk Kerja</label>
                                <textarea rows="5" type="text" class="form-control ts"readonly></textarea>
                                </div>
                            </div>
                            </div>
                        </div>
                        <div class="row">
                        <div class="col-md-12 tl">
                            <div class="form-group row">
                                <div class="col-sm-4">
                                <label>Tarikh Mula Tanggungan Kecacatan</label>
                                <input type="text" data-toggle="datepicker" class="form-control ts" readonly>
                                </div>
                                <div class="col-sm-4 tl">
                                <label>Tarikh Tamat Tanggungan Kecacatan</label>
                                    <input type="text" data-toggle="datepicker" class="form-control ts"  readonly>
                                </div>
                            </div>
                            </div>
                        </div>
                        <div class="row">
                          <div class="col-md-12 tl">
                            <div class="form-group row">
                                <div class="col-sm-4">
                                <label>Gred</label>
                                     <input type="text" class="form-control ts" readonly>
                                </div>
                                <div class="col-sm-4 tl">
                                <label>Kategori</label>
                             <input type="text" class="form-control ts" readonly>
                                </div>
                                <div class="col-sm-4 tl">
                                <label>Pengkhususan</label>
                               <input type="text" class="form-control ts" readonly>
                                </div>
                            </div>
                            </div>
                        </div>
                        <h4 class="box-title text-primary mt-20"><i class="ti-save mr-15"></i>Kewangan & Jaminan Insurans</h4>
						<hr class="my-15">

                        <div class="row">
                        <div class="col-md-12 tl">
                            <div class="form-group row">
                            <label class="col-sm-1 col-form-label">(a) # :</label>
                            <label class="col-sm-3 col-form-label">(i)** No Kewangan Jaminan Bank/Insuran</label>
                             <div class="col-sm-3">
                            {{form.psmknojaminanbanka}}
                             </div>
                          
                            </div>
                        </div>
                        </div>
                        <div class="row">
                        <div class="col-md-12 tl">
                            <div class="form-group row">
                            <label class="col-sm-1 col-form-label"></label>
                            <label class="col-sm-3 col-form-label">Harga</label>
                            <div class="col-sm-3">
                                <div class="input-group">
                                <div class="input-group-prepend bg-primary border-primary">
                                    <span class="input-group-text bg-transparent text-white">RM</span>
                                </div>
                                {{form.psmkhargajaminana}}
                                </div>
                            </div>
                            </div>
                        </div>
                        </div>
                        <div class="row">
                        <div class="col-md-12 tl">
                            <div class="form-group row">
                            <label class="col-sm-1 col-form-label"></label>
                            <label class="col-sm-3 col-form-label">(ii) ** Baki Wang Jaminan Perlaksanaan</label>
                            <div class="col-sm-3">
                                <div class="input-group">
                                <div class="input-group-prepend bg-primary border-primary">
                                    <span class="input-group-text bg-transparent text-white">RM</span>
                                </div>
                                {{form.psmkbakiwangjaminana}}
                                </div>
                            </div>
                            </div>
                        </div>
                        </div>

                        	<hr class="my-15">
                          <div class="row">
                        <div class="col-md-12 tl">
                            <div class="form-group row">
                            <label class="col-sm-1 col-form-label">(b) # :</label>
                            <label class="col-sm-3 col-form-label">(i) ** No Kewangan Jaminan Bank/Insuran</label>
                             <div class="col-sm-3">
                            {{form.psmknojaminanbankab}}
                             </div>
                          
                            </div>
                        </div>
                        </div>
                        <div class="row">
                        <div class="col-md-12 tl">
                            <div class="form-group row">
                            <label class="col-sm-1 col-form-label"></label>
                            <label class="col-sm-3 col-form-label">Harga</label>
                            <div class="col-sm-3">
                                <div class="input-group">
                                <div class="input-group-prepend bg-primary border-primary">
                                    <span class="input-group-text bg-transparent text-white">RM</span>
                                </div>
                                {{form.psmkhargajaminanb}}
                                </div>
                            </div>
                            </div>
                        </div>
                        </div>
                        <div class="row">
                        <div class="col-md-12 tl">
                            <div class="form-group row">
                            <label class="col-sm-1 col-form-label"></label>
                            <label class="col-sm-3 col-form-label">** Wang Jaminan Perlaksanaan</label>
                            <div class="col-sm-3">
                                <div class="input-group">
                                <div class="input-group-prepend bg-primary border-primary">
                                    <span class="input-group-text bg-transparent text-white">RM</span>
                                </div>
                                 {{form.psmkbakiwangjaminanb}}
                                </div>
                            </div>
                            </div>
                        </div>
                        </div>
                        <hr class="my-15">
                        <div class="row">
                        <div class="col-md-12 tl">
                            <div class="form-group row">
                            <label class="col-sm-1 col-form-label"></label>
                            <label class="col-sm-3 col-form-label">(ii) ** Tambahan Kos Bon Perlaksanaan</label>
                            <div class="col-sm-3">
                                <div class="input-group">
                                <div class="input-group-prepend bg-primary border-primary">
                                    <span class="input-group-text bg-transparent text-white">RM</span>
                                </div>
                                 {{form.psmkkosbon}}
                                </div>
                            </div>
                            </div>
                        </div>
                        </div>
                        <div class="row">
                        <div class="col-md-12 tl">
                            <div class="form-group row">
                            <label class="col-sm-1 col-form-label"></label>
                            <label class="col-sm-3 col-form-label">** Baki Kos Bon Perlaksanaan</label>
                            <div class="col-sm-3">
                                <div class="input-group">
                                <div class="input-group-prepend bg-primary border-primary">
                                    <span class="input-group-text bg-transparent text-white">RM</span>
                                </div>
                               
                                  {{form.psmkbakikos}}
                                </div>
                            </div>
                            </div>
                        </div>
                        </div>
                         <hr class="my-15">
                              <div class="row">
                            <div class="col-md-12 tl">
                            <div class="form-group row">
                                <div class="col-sm-4">
                                <label>Pegawai Penguasa</label>
                                    <select name="{{form.psmkpegawaipenguasa.name}}" class="form-control custom-select select28" id="">
                                        <option value="Tiada">Tiada</option>
										
                                        {% for row in userlist %}
                                        <option value="{{row.first_name}}">{{row.first_name}}</option>
                                        {% endfor %}

                                    </select>
				
                                </div>
                                <div class="col-sm-4 tl">
                                <label>Jawatan</label>
                                    <select name="{{form.psmkjawatan.name}}" class="form-control custom-select select28" id="">
                                        <option value="Tiada">Tiada</option>
										
                                        {% for row in userlist %}
                                        <option value="{{row.userprofile.jawatan}}">{{row.userprofile.jawatan}}</option>
                                        {% endfor %}

                                    </select>
                                </div>
                            </div>
                            </div>
                        </div>
              


                     
            
						
							
						</div>
							<!-- /.box-body -->
							<div class="box-footer">
								<button type="button" class="btn btn-rounded btn-warning btn-outline mr-1">
								  <i class="ti-trash"></i> Cancel
								</button>
								<button type="submit"  class="btn btn-rounded btn-primary btn-outline">
								  <i class="ti-save-alt"></i> Save
								</button>
							</div>  
					
					  </div>
					  <!-- /.box -->	
                          	</form>		
				</div>  
                    <div class="col-md-3">
                    	  <div class="box">
					<div class="box-header with-border">
					  <h4 class="box-title">Labels</h4>
					  <ul class="box-controls pull-right">
						<li><a class="box-btn-slide" href="#"></a></li>	
					  </ul>
					</div>
					<div class="box-body no-padding mailbox-nav">
					  <ul class="nav nav-pills flex-column">
						<li class="nav-item"><a class="nav-link" href="#"><i class="fa fa-folder-o text-info"></i>MRK 01</a></li>
						<li class="nav-item"><a class="nav-link" href="#"><i class="fa fa-folder-o text-dark"></i> MRK 02</a></li>
						<li class="nav-item"><a class="nav-link" href="#"><i class="fa fa-folder-o text-secondary"></i> Laporan Siap Kerja</a></li>
                        <li class="nav-item"><a class="nav-link" href="#"><i class="fa fa-folder-o text-danger"></i> MRK 03</a></li>
						<li class="nav-item"><a class="nav-link" href="#"><i class="fa fa-folder-o text-warning"></i>Perakuan Siap Kerja</a></li>
						<li class="nav-item"><a class="nav-link" href="#"><i class="fa fa-folder-o text-primary "></i> Senarai Semakan</a></li>
                        <li class="nav-item"><a class="nav-link aktif" href="#"><i class="fa fa-folder-open-o"></i>Perakuan Siap Membaiki Kecacatan</a></li>
						<li class="nav-item"><a class="nav-link" href="#"><i class="fa fa-folder-o text-warning"></i>Pelepasan Jaminan Bank</a></li>
						<li class="nav-item"><a class="nav-link" href="#"><i class="fa fa-folder-o text-info"></i>Perakuan Pemulangan WJP</a></li>
                        <li class="nav-item"><a class="nav-link" href="#"><i class="fa fa-folder-o text-danger"></i> Surat Maklumat Rekod Kerja</a></li>
						<li class="nav-item"><a class="nav-link" href="#"><i class="fa fa-folder-o text-warning"></i> Surat Kebenaran Khas</a></li>
						<li class="nav-item"><a class="nav-link" href="#"><i class="fa fa-folder-o text-info"></i> Surat Pelepasan WJP</a></li>
					  </ul>
					</div>
					<!-- /.box-body -->
				  </div>
                

                </div>
		    </div>
        
        
	
		</section>
		<!-- /.content -->
	  </div>
  </div>
  <!-- /.content-wrapper -->
  {% endblock content %}