{% extends 'based/based.html' %}
{% block content %}
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
	  <div class="container-full">
		<!-- Content Header (Page header) -->
		<div class="content-header">
			<div class="d-flex align-items-center">
				<div class="mr-auto">
					<h3 class="page-title">Surat Maklumat Rekod Kerja</h3>
					<div class="d-inline-block align-items-center">
						<nav>
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="#"><i class="mdi mdi-home-outline"></i></a></li>
								<li class="breadcrumb-item" aria-current="page">Borang</li>
								<li class="breadcrumb-item active" aria-current="page">No perolehan</li>
							</ol>
						</nav>
					</div>
				</div>
				
			</div>
		</div>	  

		<!-- Main content -->
		<section class="content">
			<div class="row">			 
               
				<div class="col-lg-10 col-12">
                	<form class="form" action='{% url 'dokumen/smrk' idperolehan=mrksatufecth.mrksatunosebutharga.id   %}' method="POST">
					  <div class="box">
				
						<!-- /.box-header -->
					
                          {% csrf_token %}
							<div class="box-body">
							<h4 class="box-title text-primary"><i class="ti-user mr-15"></i>Surat MRK</h4>
							<hr class="my-15">
                                    <div class="row">
                                    <div class="col-md-12 tl">
                                        <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Rujukan Tuan</label>
                                        <div class="col-sm-7">
                                        <input type="hidden" class="form-control" name="{{form.smrkmrksatulink.name}}" value="{{mrksatufecth.id}}"/>
                                        <input type="hidden" class="form-control" name="{{form.smrkknosebutharga.name}}" value="{{mrksatufecth.mrksatunosebutharga.id}}"/>
                                        {{form.smrkrujukantuan}}
                                        </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                <div class="col-md-12 tl">
                                    <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">Rujukan Kami</label>
                                    <div class="col-sm-7">
                                    <input type="text" class="form-control ts" readonly placeholder="Rujukan Kami">
                                    </div>
                                    </div>
                                </div>
                                </div>
                                <div class="row">
                                <div class="col-md-12 tl">
                                    <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">Bertarikh</label>
                                    <div class="col-sm-4">
                                    {{form.smrktarikh}}
                                    </div>
                                    </div>
                                </div>
                                </div>
                                <div class="row">
                                <div class="col-md-12 tl">
                                    <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">Jenis Borang</label>
                                    <div class="col-sm-4">
                                      {{form.smrkjenisborang}}
                                    </div>
                                    </div>
                                </div>
                                </div>
                                <div class="row">
                                <div class="col-md-12 tl">
                                    <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">Nama Rujukan</label>
                                    <div class="col-sm-7">
                                    {{form.smrknamarujukan}}
                                    </div>
                                    </div>
                                </div>
                                </div>
                                <div class="row">
                                <div class="col-md-12 tl">
                                    <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">Alamat Rujukan</label>
                                    <div class="col-sm-7">
                                    {{form.smkralamatrujukan}}
                                    </div>
                                    </div>
                                </div>
                                </div>
                                
                                <div class="row">
                                <div class="col-md-12 tl">
                                    <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">Nama Kontraktor</label>
                                    <div class="col-sm-5">
                                    <input type="text" class="form-control ts" readonly>
                                    </div>
                                    </div>
                                </div>
                                </div>
                                <div class="row">
                                <div class="col-md-12 tl">
                                    <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">No Kontraktor</label>
                                    <div class="col-sm-5">
                                    <input type="text" class="form-control ts" readonly>
                                    </div>
                                    </div>
                                </div>
                                </div>
                                <div class="row">
                                <div class="col-md-12 tl">
                                    <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">No Inden</label>
                                    <div class="col-sm-5">
                                    <input type="text" class="form-control ts" readonly>
                                    </div>
                                    </div>
                                </div>
                                </div>
                                <div class="row">
                                <div class="col-md-12 tl">
                                    <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">Pegawai Penguasa</label>
                                    <div class="col-sm-3">
                                              <select name="{{form.smrkpegawai.name}}" class="form-control custom-select select28" id="">
                                                <option value="Tiada">Tiada</option>
                                                
                                                {% for row in userlist %}
                                                <option value="{{row.first_name}}">{{row.first_name}}</option>
                                                {% endfor %}

                                            </select>
                                    </div>
                                    <label class="col-sm-1 col-form-label">Jawatan</label>
                                    <div class="col-sm-3">
                                        {{form.smrkjawatan}}
                                    </div>
                                    </div>
                                </div>
                                </div>
                                <div class="row">
                                <div class="col-md-12 tl">
                                    <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">No Sebutharga</label>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control ts" readonly>
                                
                                    </div>
                                    </div>
                                </div>
                                </div>
                                <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group row">
                                        <div class="col-sm-2">
                                                <a class="btn btn-dark mr-2 btn-rounded" target="_blank" href="">Surat MRK 01</a>
                                        </div>
                                        <div class="col-sm-5">
                                                <h5>Jenis 1</h5>
                                        </div>
                                    </div>
                                </div>
                                </div>
                                <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group row">
                                        <div class="col-sm-2">
                                                <a class="btn btn-dark mr-2 btn-rounded" target="_blank" href="">Surat MRK 02</a>
                                        </div>
                                        <div class="col-sm-5">
                                                <h5>Jenis 2</h5>
                                        </div>
                                    </div>
                                </div>
                                </div>
                                    

                   

              
			
                    
						    </div>
							<!-- /.box-body -->
							<div class="box-footer">
								<button type="button" class="btn btn-rounded btn-warning btn-outline mr-1">
								  <i class="ti-trash"></i> Cancel
								</button>
								<button type="submit"  class="btn btn-rounded btn-primary btn-outline">
								  <i class="ti-save-alt"></i> Save
								</button>
							</div>  
					
					  </div>
					  <!-- /.box -->	
                          	</form>		
				</div>  
		    </div>
        
	
		</section>
		<!-- /.content -->
	  </div>
  </div>
  <!-- /.content-wrapper -->
  {% endblock content %}