{% extends 'based/based.html' %}
{% block content %}
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
	  <div class="container-full">
		<!-- Content Header (Page header) -->
		<div class="content-header">
			<div class="d-flex align-items-center">
				<div class="mr-auto">
					<h3 class="page-title">Surat Maklumat Rekod Kerja</h3>
					<div class="d-inline-block align-items-center">
						<nav>
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="#"><i class="mdi mdi-home-outline"></i></a></li>
								<li class="breadcrumb-item" aria-current="page">Borang</li>
								<li class="breadcrumb-item active" aria-current="page">No perolehan</li>
							</ol>
						</nav>
					</div>
				</div>
				
			</div>
		</div>	  

		<!-- Main content -->
		<section class="content">
			<div class="row">			 
               
				<div class="col-lg-9 col-9">
                	<form class="form" action='{% url 'dokumen/smrk' projekid=mrksatufecth.projekbind.id   %}' method="POST">
					  <div class="box">
				
						<!-- /.box-header -->
					
                          {% csrf_token %}
							<div class="box-body">
							<h4 class="box-title text-primary"><i class="ti-user mr-15"></i>Surat MRK</h4>
							<hr class="my-15">
                                    <div class="row">
                                    <div class="col-md-12 tl">
                                        <div class="form-group row">
                                        <label class="col-sm-2 col-form-label"><h5 class="text-secondary font-weight-500 mb-2">Rujukan Tuan</h5></label>
                                        <div class="col-sm-7">
                                        <input type="hidden" class="form-control" name="{{form.smrkmrksatulink.name}}" value="{{mrksatufecth.id}}"/>
                                        <input type="hidden" class="form-control" name="{{form.projekbind.name}}" value="{{mrksatufecth.projekbind.id}}"/>
                                        {{form.smrkrujukantuan}}
                                        </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                <div class="col-md-12 tl">
                                    <div class="form-group row">
                                    <label class="col-sm-2 col-form-label"><h5 class="text-secondary font-weight-500 mb-2">Rujukan Kami</h5></label>
                                    <div class="col-sm-7">
                                    <input type="text" value="{{mrksatufecth.projekbind}}" class="form-control ts" readonly placeholder="Rujukan Kami">
                                    </div>
                                    </div>
                                </div>
                                </div>
                                <div class="row">
                                <div class="col-md-12 tl">
                                    <div class="form-group row">
                                    <label class="col-sm-2 col-form-label"><h5 class="text-secondary font-weight-500 mb-2">Bertarikh</h5></label>
                                    <div class="col-sm-4">
                                    {{form.smrktarikh}}
                                    </div>
                                    </div>
                                </div>
                                </div>
                                <div class="row">
                                <div class="col-md-12 tl">
                                    <div class="form-group row">
                                    <label class="col-sm-2 col-form-label"><h5 class="text-secondary font-weight-500 mb-2">Jenis Borang</h5></label>
                                    <div class="col-sm-4">
                                      {{form.smrkjenisborang}}
                                    </div>
                                    </div>
                                </div>
                                </div>
                                <div class="row">
                                <div class="col-md-12 tl">
                                    <div class="form-group row">
                                    <label class="col-sm-2 col-form-label"><h5 class="text-secondary font-weight-500 mb-2">Nama Rujukan</h5></label>
                                    <div class="col-sm-7">
                                    {{form.smrknamarujukan}}
                                    </div>
                                    </div>
                                </div>
                                </div>
                                <div class="row">
                                <div class="col-md-12 tl">
                                    <div class="form-group row">
                                    <label class="col-sm-2 col-form-label"><h5 class="text-secondary font-weight-500 mb-2">Alamat Rujukan</h5></label>
                                    <div class="col-sm-7">
                                    {{form.smkralamatrujukan}}
                                    </div>
                                    </div>
                                </div>
                                </div>
                                
                                <div class="row">
                                <div class="col-md-12 tl">
                                    <div class="form-group row">
                                    <label class="col-sm-2 col-form-label"><h5 class="text-secondary font-weight-500 mb-2">Nama Kontraktor</h5></label>
                                    <div class="col-sm-5">
                                    <input type="text" value="{{mrksatufecth.mrksatukontraktor.konNama}}" class="form-control ts" readonly>
                                    </div>
                                    </div>
                                </div>
                                </div>
                                <div class="row">
                                <div class="col-md-12 tl">
                                    <div class="form-group row">
                                    <label class="col-sm-2 col-form-label"><h5 class="text-secondary font-weight-500 mb-2">No Kontraktor</h5></label>
                                    <div class="col-sm-5">
                                    <input type="text" value="{{mrksatufecth.mrksatukontraktor.sijilPPKNoPendaftaran}}" class="form-control ts" readonly>
                                    </div>
                                    </div>
                                </div>
                                </div>
                                <div class="row">
                                <div class="col-md-12 tl">
                                    <div class="form-group row">
                                    <label class="col-sm-2 col-form-label"><h5 class="text-secondary font-weight-500 mb-2">No Inden</h5></label>
                                    <div class="col-sm-5">
                                    <input type="text" value="{{mrksatufecth.mrksatunoinden}}" class="form-control ts" readonly>
                                    </div>
                                    </div>
                                </div>
                                </div>
                                <div class="row">
                                <div class="col-md-12 tl">
                                    <div class="form-group row">
                                    <label class="col-sm-2 col-form-label"><h5 class="text-secondary font-weight-500 mb-2">Pegawai Penguasa</h5></label>
                                    <div class="col-sm-3">
                                              <select name="{{form.smrkpegawai.name}}" class="form-control custom-select select28" id="">
                                                <option value="Tiada">Tiada</option>
                                                
                                                {% for row in userlist %}
                                                <option value="{{row.first_name}}">{{row.first_name}}</option>
                                                {% endfor %}

                                            </select>
                                    </div>
                                    <label class="col-sm-1 col-form-label"><h5 class="text-secondary font-weight-500 mb-2">Jawatan</h5></label>
                                    <div class="col-sm-3">
                                        {{form.smrkjawatan}}
                                    </div>
                                    </div>
                                </div>
                                </div>
                                <div class="row">
                                <div class="col-md-12 tl">
                                    <div class="form-group row">
                                    <label class="col-sm-2 col-form-label"><h5 class="text-secondary font-weight-500 mb-2">No Sebutharga</h5></label>
                                    <div class="col-sm-4">
                                        <input type="text" value="{{mrksatufecth.projekbind}}"  class="form-control ts" readonly>
                                
                                    </div>
                                    </div>
                                </div>
                                </div>
                                <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group row">
                                        <div class="col-sm-2">
                                                <a class="btn btn-dark mr-2 btn-rounded" target="_blank" href="">Surat MRK 01</a>
                                        </div>
                                        <div class="col-sm-5">
                                                <h5>Jenis 1</h5>
                                        </div>
                                    </div>
                                </div>
                                </div>
                                <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group row">
                                        <div class="col-sm-2">
                                                <a class="btn btn-dark mr-2 btn-rounded" target="_blank" href="">Surat MRK 02</a>
                                        </div>
                                        <div class="col-sm-5">
                                                <h5>Jenis 2</h5>
                                        </div>
                                    </div>
                                </div>
                                </div>
                                    

                   

              
			
                    
						    </div>
							<!-- /.box-body -->
							<div class="box-footer">
								<button type="button" class="btn btn-rounded btn-warning btn-outline mr-1">
								  <i class="ti-trash"></i> Cancel
								</button>
								<button type="submit"  class="btn btn-rounded btn-primary btn-outline">
								  <i class="ti-save-alt"></i> Save
								</button>
							</div>  
					
					  </div>
					  <!-- /.box -->	
                          	</form>		
				</div>
                         <div class="col-lg-3">
                <div class="box">
					<div class="box-header with-border">
					  <h4 class="box-title">Labels</h4>
					  <ul class="box-controls pull-right">
						<li><a class="box-btn-slide" href="#"></a></li>	
					  </ul>
					</div>
					<div class="box-body no-padding mailbox-nav">
					  <ul class="nav nav-pills flex-column">
						<li class="nav-item"><a class="nav-link" href="{% url 'dokumen/mrksatu' projekid=mrksatufecth.projekbind.id  %}"><i class="fa fa-folder-o text-dark"></i>MRK 01</a></li>
						<li class="nav-item"><a class="nav-link" href="{% url 'dokumen/mrkdua' projekid=mrksatufecth.projekbind.id  %}"><i class="fa fa-folder-o text-dark"></i> MRK 02</a></li>
						<li class="nav-item"><a class="nav-link" href="{% url 'dokumen/lsk' projekid=mrksatufecth.projekbind.id  %}"><i class="fa fa-folder-o text-dark"></i> Laporan Siap Kerja</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'dokumen/mrktiga' projekid=mrksatufecth.projekbind.id  %}"><i class="fa fa-folder-o text-dark"></i> MRK 03</a></li>
						<li class="nav-item"><a class="nav-link" href="{% url 'dokumen/psk' projekid=mrksatufecth.projekbind.id  %}"><i class="fa fa-folder-o text-dark"></i>Perakuan Siap Kerja</a></li>
						<li class="nav-item"><a class="nav-link" href="{% url 'dokumen/senaraisemakan' projekid=mrksatufecth.projekbind.id  %}"><i class="fa fa-folder-o text-dark "></i> Senarai Semakan</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'dokumen/psmk' projekid=mrksatufecth.projekbind.id  %}"><i class="fa fa-folder-o"></i>Perakuan Siap Membaiki Kecacatan</a></li>
						<li class="nav-item"><a class="nav-link" href="{% url 'dokumen/jaminanbank' projekid=mrksatufecth.projekbind.id  %}"><i class="fa fa-folder-o text-dark"></i>Pelepasan Jaminan Bank</a></li>
						<li class="nav-item"><a class="nav-link" href="{% url 'dokumen/ppwjp' projekid=mrksatufecth.projekbind.id  %}"><i class="fa fa-folder-o text-dark"></i>Perakuan Pemulangan WJP</a></li>
                        <li class="nav-item"><a class="nav-link aktif" href="{% url 'dokumen/smrk' projekid=mrksatufecth.projekbind.id  %}"><i class="fa fa-folder-open-o text-dark"></i> Surat Maklumat Rekod Kerja</a></li>
						<li class="nav-item"><a class="nav-link" href="{% url 'dokumen/skhas' projekid=mrksatufecth.projekbind.id  %}"><i class="fa fa-folder-o text-dark"></i> Surat Kebenaran Khas</a></li>
						<li class="nav-item"><a class="nav-link" href="{% url 'dokumen/suratbon' projekid=mrksatufecth.projekbind.id  %}"><i class="fa fa-folder-o text-dark"></i>Surat Pelepasan Bon Jaminan Perlaksanaan</a></li>
					  </ul>
					</div>
					<!-- /.box-body -->
				  </div>
                

                </div>
		    </div>
        
	
		</section>
		<!-- /.content -->
	  </div>
  </div>
  <!-- /.content-wrapper -->
  {% endblock content %}