{% block dukumen %}
{% load humanize %}


<h3></h3>
<fieldset>
    <span class="step-current font-size-20">Step 1 / {{stepstep}}</span>
    <div class="row">
		<div class="box-body form-element2">
			<div class="col-lg-12 col-md-12 p-0 mb-40" style=" border-bottom: 1px dashed #8d99ae;">
                <h4 class="mt-1 mb-4 font-weight-600">Maklumat Rekod Kerja - MRK 03</h4>
               
            </div>
			<div class="row mb-10">
				<div class="col-lg-8 col-md-12">
					<div class="form-group">
                  	    <label>Kontraktor</label>
            			<input type="hidden" class="form-control" name="{{form.marktigamrksatu.name}}" value="{{mrksatufecth.id}}"/>
                        <input type="hidden" class="form-control" name="{{form.projekbind.name}}" value="{{mrksatufecth.projekbind.id}}"/>
                        <input type="text" class="form-control font-weight-600 text-dark" id="" value="{{mrksatufecth.mrksatukontraktor.konNama}}" name="noinden" placeholder="" readonly>
					</div>
				</div>
            </div>
			<div class="row mb-10">
				<div class="col-lg-8 col-md-12">
					<div class="form-group">
						<label>No Pendaftaran PKK</label>
				   		<input type="text" class="form-control font-weight-600 text-dark "  id="" name="" value="{{mrksatufecth.mrksatukontraktor.sijilPPKNoPendaftaran}}" placeholder="No Pendaftaran PKK" readonly>
				    </div>
				</div>
            </div>
			<div class="row mb-10">
				<div class="col-lg-8 col-md-12">
					<div class="form-group">
						<label>No Pendaftaran PKK</label>
				   		<input type="text" class="form-control font-weight-600 text-dark" placeholder="No Inden" value="{{mrksatufecth.mrksatunoinden}}" readonly>
				    </div>
				</div>
            </div>
			<div class="row mb-10">
				<div class="col-lg-8 col-md-6">
					<div class="form-group">
						<label>Alamat</label>
						<textarea rows="2" type="text" class="form-control font-weight-600 text-dark" readonly>{{mrksatufecth.mrksatukontraktor.konAlamat}}</textarea>
					</div>
				</div>
            </div>
   
    	</div>
    </div>
</fieldset>
<h3></h3>
<fieldset>
    <span class="step-current font-size-20">Step 2 / {{stepstep}}</span>
    <div class="row">
		<div class="box-body form-element2">
			<div class="col-lg-12 col-md-12 p-0 mb-40" style=" border-bottom: 1px dashed #8d99ae;">
                <h4 class="mt-1 mb-4 font-weight-600">Maklumat Rekod Kerja - MRK 03</h4>
               
            </div>
			         <div class="row mb-10">
				<div class="col-lg-4 col-md-6">
					<div class="form-group">
						<label>No inden</label>
						<input type="text" class="form-control font-weight-600 text-dark"  placeholder="No Pesanan Kerja" value="{{mrksatufecth.mrksatunoinden}}" readonly>
					</div>
				</div>						
			</div>
			<div class="row mb-10">
				<div class="col-lg-4 col-md-6">
					<div class="form-group">
						<label>Tarikh Mula:</label>
						<input type="text" data-toggle="datepicker" class="form-control font-weight-600 text-dark"  value="{{mrksatufecth.mrksatutarikhmula}}" placeholder="Tarikh Mula" readonly>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="form-group">
						<label>Tarikh Jangka Siap:</label>
						<input type="text" data-toggle="datepicker" class="form-control font-weight-600 text-dark"  value="{{mrksatufecth.mrksatutarikhjangkasiap}}" readonly>
					</div>
				</div>					
			</div>
			<div class="row mb-10">
				<div class="col-lg-4 col-md-6">
					<div class="form-group">
						<label>Dilanjutkan Masa:</label>
						<input type="text" data-toggle="datepicker" class="form-control font-weight-600 text-dark"  value="{{lskfecth.lsklanjutmasa}}" readonly>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="form-group">
						<label>Tarikh Siap Sebenar:</label>
						<input type="text" data-toggle="datepicker" class="form-control font-weight-600 text-dark" value="{{lskfecth.lskkerjasiap}}"  readonly>
					</div>
				</div>					
			</div>
			<div class="row mb-10">
				<div class="col-lg-4 col-md-12">
					<div class="form-group">
						<label>Harga Pesanan RM:</label>
				            <div class="input-group">
                                <div class="input-group-prepend bg-secondary border-secondary">
                                    <span class="input-group-text bg-transparent text-white">RM</span>
                                </div>
                                <input type="text" class="form-control font-weight-600 text-dark ml-10"  value="{{mrksatufecth.mrksatukosprojek|intcomma}}" placeholder="RM" readonly>
                            </div>
				    </div>
				</div>
                <div class="col-lg-4 col-md-12">
					<div class="form-group">
						<label>Harga Sebenar RM:</label>
				            <div class="input-group">
                                <div class="input-group-prepend bg-secondary border-secondary">
                                    <span class="input-group-text bg-transparent text-white">RM</span>
                                </div>
                                <input type="text" class="form-control font-weight-600 text-dark ml-10" placeholder="RM" value="{{lskfecth.lskhargasebenar|intcomma}}" readonly>
                            </div>
				    </div>
				</div>
            </div>


    	</div>
    </div>
</fieldset>
<h3></h3>
<fieldset>
    <span class="step-current font-size-20">Step 3 / {{stepstep}}</span>
    <div class="row">
		<div class="box-body form-element2">
			<div class="col-lg-12 col-md-12 p-0 mb-40" style=" border-bottom: 1px dashed #8d99ae;">
                <h4 class="mt-1 mb-4 font-weight-600">L.A.D Dikenakan</h4>
               
            </div>
			<div class="row mb-10">
				<div class="col-lg-4 col-md-6">
					<div class="form-group">
						<label>Dari:</label>
						<input type="text" data-toggle="datepicker" value="{{mrkduafecth.mrkduaLADdari}}" class="form-control font-weight-600 text-dark"  readonly>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="form-group">
						<label>Hingga:</label>
						<input type="text" data-toggle="datepicker" value="{{mrkduafecth.mrkduaLADSehingga}}" class="form-control font-weight-600 text-dark" readonly>
					</div>
				</div>					
			</div>
			<div class="row mb-10">
				<div class="col-lg-4 col-md-12">
					<div class="form-group">
						<label>L.A.D Dikenakan:</label>
				            <div class="input-group">
                                <div class="input-group-prepend bg-secondary border-secondary">
                                    <span class="input-group-text bg-transparent text-white">RM</span>
                                </div>
                                <input type="text" class="form-control font-weight-600 text-dark ml-10" value="{{mrkduafecth.mrkduaLAD|intcomma}}"  readonly>
                            </div>
				    </div>
				</div>
            </div>
    	</div>
    </div>
</fieldset>

<h3></h3>
<fieldset>
    <span class="step-current font-size-20">Step 4 / {{stepstep}}</span>
    <div class="row">
		<div class="box-body form-element2">
			<div class="col-lg-12 col-md-12 p-0 mb-40" style=" border-bottom: 1px dashed #8d99ae;">
                <h4 class="mt-1 mb-4 font-weight-600">Prestasi kontrakotor semasa menjalankan tugas .</h4>
               <h6 class="mt-1 mb-4 font-weight-600">Pengurusan Tapak Bina .</h6>
            </div>
			<div class="row mb-10">
				<div class="col-lg-3 col-md-6">
					<label class="card">
    					<input name="{{form.mrktigabina.name}}" value="1" {% if form.mrktigabina.value == '1' %}checked{% endif %} class="radio-col-success radio " type="radio">
   						 	<span class="plan-details">
      						<span class="plan-type">90% Keatas</span>
      						<span class="plan-cost">Terbaik</span>
      						<span>1 team member</span>
      						<span>100 GB/mo</span>
      						<span>1 concurrent build</span>
    					</span>
  					</label>	
				</div>
				<div class="col-lg-3 col-md-6">
					<label class="card">
    					<input name="{{form.mrktigabina.name}}" value="2" {% if form.mrktigabina.value == '2' %}checked{% endif %} class="radio-col-success radio " type="radio" >
   						 	<span class="plan-details">
      						<span class="plan-type">75% - 89%</span>
      						<span class="plan-cost">Baik</span>
      						<span>1 team member</span>
      						<span>100 GB/mo</span>
      						<span>1 concurrent build</span>
    					</span>
  					</label>	
				</div>
				<div class="col-lg-3 col-md-6">
					<label class="card">
    					<input name="{{form.mrktigabina.name}}" value="3" {% if form.mrktigabina.value == '3' %}checked{% endif %} class="radio-col-success radio " type="radio" >
   						 	<span class="plan-details">
      						<span class="plan-type">50% - 74%</span>
      						<span class="plan-cost">Sederhana</span>
      						<span>1 team member</span>
      						<span>100 GB/mo</span>
      						<span>1 concurrent build</span>
    					</span>
  					</label>	
				</div>
				<div class="col-lg-3 col-md-6">
					<label class="card">
    					<input name="{{form.mrktigabina.name}}" value="4" {% if form.mrktigabina.value == '4' %}checked{% endif %} class="radio-col-success radio " type="radio">
   						 	<span class="plan-details">
      						<span class="plan-type">50% kebawah</span>
      						<span class="plan-cost">Tidak Memuaskan</span>
      						<span>1 team member</span>
      						<span>100 GB/mo</span>
      						<span>1 concurrent build</span>
    					</span>
  					</label>	
				</div>

				
			</div>
			<div class="row mb-10">
				<div class="col-lg-12 col-md-12">
					<div class="form-group">
					 	 <label>Catatan</label>
						   {{form.mrkcatat1}}
						
					</div>
				</div>
			</div>
    	</div>
    </div>
</fieldset>


<h3></h3>
<fieldset>
    <span class="step-current font-size-20">Step 5 / {{stepstep}}</span>
    <div class="row">
		<div class="box-body form-element2">
			<div class="col-lg-12 col-md-12 p-0 mb-40" style=" border-bottom: 1px dashed #8d99ae;">
                <h4 class="mt-1 mb-4 font-weight-600">Prestasi kontrakotor semasa menjalankan tugas .</h4>
               <h6 class="mt-1 mb-4 font-weight-600">Pentadbiran.</h6>
            </div>
			<div class="row mb-10">
				<div class="col-lg-3 col-md-6">
					<label class="card">
    					<input name="{{form.mrktigatadbir.name}}" value="1" {% if form.mrktigatadbir.value == '1' %}checked{% endif %} class="radio-col-success radio " type="radio">
   						 	<span class="plan-details">
      						<span class="plan-type">90% Keatas</span>
      						<span class="plan-cost">Terbaik</span>
      						<span>1 team member</span>
      						<span>100 GB/mo</span>
      						<span>1 concurrent build</span>
    					</span>
  					</label>	
				</div>
				<div class="col-lg-3 col-md-6">
					<label class="card">
    					<input name="{{form.mrktigatadbir.name}}" value="2" {% if form.mrktigatadbir.value == '2' %}checked{% endif %} class="radio-col-success radio " type="radio">
   						 	<span class="plan-details">
      						<span class="plan-type">75% - 89%</span>
      						<span class="plan-cost">Baik</span>
      						<span>1 team member</span>
      						<span>100 GB/mo</span>
      						<span>1 concurrent build</span>
    					</span>
  					</label>	
				</div>
				<div class="col-lg-3 col-md-6">
					<label class="card">
    					<input name="{{form.mrktigatadbir.name}}" value="3" {% if form.mrktigatadbir.value == '3' %}checked{% endif %} class="radio-col-success radio " type="radio">
   						 	<span class="plan-details">
      						<span class="plan-type">50% - 74%</span>
      						<span class="plan-cost">Sederhana</span>
      						<span>1 team member</span>
      						<span>100 GB/mo</span>
      						<span>1 concurrent build</span>
    					</span>
  					</label>	
				</div>
				<div class="col-lg-3 col-md-6">
					<label class="card">
    					<input name="{{form.mrktigatadbir.name}}" value="4" {% if form.mrktigatadbir.value == '4' %}checked{% endif %} class="radio-col-success radio " type="radio">
   						 	<span class="plan-details">
      						<span class="plan-type">50% kebawah</span>
      						<span class="plan-cost">Tidak Memuaskan</span>
      						<span>1 team member</span>
      						<span>100 GB/mo</span>
      						<span>1 concurrent build</span>
    					</span>
  					</label>	
				</div>

				
			</div>
			<div class="row mb-10">
				<div class="col-lg-12 col-md-12">
					<div class="form-group">
					 	 <label>Catatan</label>
						   {{form.mrkcatat2}}
						
					</div>
				</div>
			</div>
    	</div>
    </div>
</fieldset>


<h3></h3>
<fieldset>
    <span class="step-current font-size-20">Step 6 / {{stepstep}}</span>
    <div class="row">
		<div class="box-body form-element2">
			<div class="col-lg-12 col-md-12 p-0 mb-40" style=" border-bottom: 1px dashed #8d99ae;">
                <h4 class="mt-1 mb-4 font-weight-600">Prestasi kontrakotor semasa menjalankan tugas .</h4>
               <h6 class="mt-1 mb-4 font-weight-600">Perancagan/Kemajuan.</h6>
            </div>
			<div class="row mb-10">
				<div class="col-lg-3 col-md-6">
					<label class="card">
    					<input name="{{form.mrktigakemajuan.name}}" value="1" {% if form.mrktigakemajuan.value == '1' %}checked{% endif %} class="radio-col-success radio " type="radio" >
   						 	<span class="plan-details">
      						<span class="plan-type">90% Keatas</span>
      						<span class="plan-cost">Terbaik</span>
      						<span>1 team member</span>
      						<span>100 GB/mo</span>
      						<span>1 concurrent build</span>
    					</span>
  					</label>	
				</div>
				<div class="col-lg-3 col-md-6">
					<label class="card">
    					<input name="{{form.mrktigakemajuan.name}}" value="2" {% if form.mrktigakemajuan.value == '2' %}checked{% endif %} class="radio-col-success radio " type="radio">
   						 	<span class="plan-details">
      						<span class="plan-type">75% - 89%</span>
      						<span class="plan-cost">Baik</span>
      						<span>1 team member</span>
      						<span>100 GB/mo</span>
      						<span>1 concurrent build</span>
    					</span>
  					</label>	
				</div>
				<div class="col-lg-3 col-md-6">
					<label class="card">
    					<input name="{{form.mrktigakemajuan.name}}" value="3" {% if form.mrktigakemajuan.value == '3' %}checked{% endif %} class="radio-col-success radio " type="radio" >
   						 	<span class="plan-details">
      						<span class="plan-type">50% - 74%</span>
      						<span class="plan-cost">Sederhana</span>
      						<span>1 team member</span>
      						<span>100 GB/mo</span>
      						<span>1 concurrent build</span>
    					</span>
  					</label>	
				</div>
				<div class="col-lg-3 col-md-6">
					<label class="card">
    					<input name="{{form.mrktigakemajuan.name}}" value="4" {% if form.mrktigakemajuan.value == '4' %}checked{% endif %} class="radio-col-success radio " type="radio" >
   						 	<span class="plan-details">
      						<span class="plan-type">50% kebawah</span>
      						<span class="plan-cost">Tidak Memuaskan</span>
      						<span>1 team member</span>
      						<span>100 GB/mo</span>
      						<span>1 concurrent build</span>
    					</span>
  					</label>	
				</div>

				
			</div>
			<div class="row mb-10">
				<div class="col-lg-12 col-md-12">
					<div class="form-group">
					 	 <label>Catatan</label>
						   {{form.mrkcatat3}}
						
					</div>
				</div>
			</div>
    	</div>
    </div>
</fieldset>



<h3></h3>
<fieldset>
    <span class="step-current font-size-20">Step 7 / {{stepstep}}</span>
    <div class="row">
		<div class="box-body form-element2">
			<div class="col-lg-12 col-md-12 p-0 mb-40" style=" border-bottom: 1px dashed #8d99ae;">
                <h4 class="mt-1 mb-4 font-weight-600">Prestasi kontrakotor semasa menjalankan tugas .</h4>
               <h6 class="mt-1 mb-4 font-weight-600">Mutu Kerangka.</h6>
            </div>
			<div class="row mb-10">
				<div class="col-lg-3 col-md-6">
					<label class="card">
    					<input name="{{form.mkrtigamutukerangka.name}}" value="1" {% if form.mkrtigamutukerangka.value == '1' %}checked{% endif %} class="radio-col-success radio " type="radio">
   						 	<span class="plan-details">
      						<span class="plan-type">90% Keatas</span>
      						<span class="plan-cost">Terbaik</span>
      						<span>1 team member</span>
      						<span>100 GB/mo</span>
      						<span>1 concurrent build</span>
    					</span>
  					</label>	
				</div>
				<div class="col-lg-3 col-md-6">
					<label class="card">
    					<input name="{{form.mkrtigamutukerangka.name}}" value="2" {% if form.mkrtigamutukerangka.value == '2' %}checked{% endif %} class="radio-col-success radio " type="radio" >
   						 	<span class="plan-details">
      						<span class="plan-type">75% - 89%</span>
      						<span class="plan-cost">Baik</span>
      						<span>1 team member</span>
      						<span>100 GB/mo</span>
      						<span>1 concurrent build</span>
    					</span>
  					</label>	
				</div>
				<div class="col-lg-3 col-md-6">
					<label class="card">
    					<input name="{{form.mkrtigamutukerangka.name}}" value="3" {% if form.mkrtigamutukerangka.value == '3' %}checked{% endif %} class="radio-col-success radio " type="radio" >
   						 	<span class="plan-details">
      						<span class="plan-type">50% - 74%</span>
      						<span class="plan-cost">Sederhana</span>
      						<span>1 team member</span>
      						<span>100 GB/mo</span>
      						<span>1 concurrent build</span>
    					</span>
  					</label>	
				</div>
				<div class="col-lg-3 col-md-6">
					<label class="card">
    					<input name="{{form.mkrtigamutukerangka.name}}" value="4" {% if form.mkrtigamutukerangka.value == '4' %}checked{% endif %} class="radio-col-success radio " type="radio">
   						 	<span class="plan-details">
      						<span class="plan-type">50% kebawah</span>
      						<span class="plan-cost">Tidak Memuaskan</span>
      						<span>1 team member</span>
      						<span>100 GB/mo</span>
      						<span>1 concurrent build</span>
    					</span>
  					</label>	
				</div>

				
			</div>
			<div class="row mb-10">
				<div class="col-lg-12 col-md-12">
					<div class="form-group">
					 	 <label>Catatan</label>
						   {{form.mrkcatat4}}
						
					</div>
				</div>
			</div>
    	</div>
    </div>
</fieldset>



<h3></h3>
<fieldset>
    <span class="step-current font-size-20">Step 8 / {{stepstep}}</span>
    <div class="row">
		<div class="box-body form-element2">
			<div class="col-lg-12 col-md-12 p-0 mb-40" style=" border-bottom: 1px dashed #8d99ae;">
                <h4 class="mt-1 mb-4 font-weight-600">Prestasi kontrakotor semasa menjalankan tugas .</h4>
               <h6 class="mt-1 mb-4 font-weight-600">Mutu Kerja-Kerja.</h6>
            </div>
			<div class="row mb-10">
				<div class="col-lg-3 col-md-6">
					<label class="card">
    					<input name="{{form.mrktigamutukerja.name}}" value="1" {% if form.mrktigamutukerja.value == '1' %}checked{% endif %} class="radio-col-success radio " type="radio">
   						 	<span class="plan-details">
      						<span class="plan-type">90% Keatas</span>
      						<span class="plan-cost">Terbaik</span>
      						<span>1 team member</span>
      						<span>100 GB/mo</span>
      						<span>1 concurrent build</span>
    					</span>
  					</label>	
				</div>
				<div class="col-lg-3 col-md-6">
					<label class="card">
    					<input name="{{form.mrktigamutukerja.name}}" value="2" {% if form.mrktigamutukerja.value == '2' %}checked{% endif %} class="radio-col-success radio " type="radio" >
   						 	<span class="plan-details">
      						<span class="plan-type">75% - 89%</span>
      						<span class="plan-cost">Baik</span>
      						<span>1 team member</span>
      						<span>100 GB/mo</span>
      						<span>1 concurrent build</span>
    					</span>
  					</label>	
				</div>
				<div class="col-lg-3 col-md-6">
					<label class="card">
    					<input name="{{form.mrktigamutukerja.name}}" value="3" {% if form.mrktigamutukerja.value == '3' %}checked{% endif %} class="radio-col-success radio " type="radio" >
   						 	<span class="plan-details">
      						<span class="plan-type">50% - 74%</span>
      						<span class="plan-cost">Sederhana</span>
      						<span>1 team member</span>
      						<span>100 GB/mo</span>
      						<span>1 concurrent build</span>
    					</span>
  					</label>	
				</div>
				<div class="col-lg-3 col-md-6">
					<label class="card">
    					<input name="{{form.mrktigamutukerja.name}}" value="4" {% if form.mrktigamutukerja.value == '4' %}checked{% endif %} class="radio-col-success radio " type="radio">
   						 	<span class="plan-details">
      						<span class="plan-type">50% kebawah</span>
      						<span class="plan-cost">Tidak Memuaskan</span>
      						<span>1 team member</span>
      						<span>100 GB/mo</span>
      						<span>1 concurrent build</span>
    					</span>
  					</label>	
				</div>

				
			</div>
			<div class="row mb-10">
				<div class="col-lg-12 col-md-12">
					<div class="form-group">
					 	 <label>Catatan</label>
						   {{form.mrkcatat5}}
						
					</div>
				</div>
			</div>
    	</div>
    </div>
</fieldset>



<h3></h3>
<fieldset>
    <span class="step-current font-size-20">Step 9 / {{stepstep}}</span>
    <div class="row">
		<div class="box-body form-element2">
			<div class="col-lg-12 col-md-12 p-0 mb-40" style=" border-bottom: 1px dashed #8d99ae;">
                <h4 class="mt-1 mb-4 font-weight-600">Prestasi kontrakotor semasa menjalankan tugas .</h4>
               <h6 class="mt-1 mb-4 font-weight-600">Mutu Kemasan.</h6>
            </div>
			<div class="row mb-10">
				<div class="col-lg-3 col-md-6">
					<label class="card">
    					<input name="{{form.mrktigamutukemasan.name}}" value="1" {% if form.mrktigamutukemasan.value == '1' %}checked{% endif %} class="radio-col-success radio " type="radio">
   						 	<span class="plan-details">
      						<span class="plan-type">90% Keatas</span>
      						<span class="plan-cost">Terbaik</span>
      						<span>1 team member</span>
      						<span>100 GB/mo</span>
      						<span>1 concurrent build</span>
    					</span>
  					</label>	
				</div>
				<div class="col-lg-3 col-md-6">
					<label class="card">
    					<input name="{{form.mrktigamutukemasan.name}}" value="2" {% if form.mrktigamutukemasan.value == '2' %}checked{% endif %} class="radio-col-success radio " type="radio" >
   						 	<span class="plan-details">
      						<span class="plan-type">75% - 89%</span>
      						<span class="plan-cost">Baik</span>
      						<span>1 team member</span>
      						<span>100 GB/mo</span>
      						<span>1 concurrent build</span>
    					</span>
  					</label>	
				</div>
				<div class="col-lg-3 col-md-6">
					<label class="card">
    					<input name="{{form.mrktigamutukemasan.name}}" value="3" {% if form.mrktigamutukemasan.value == '3' %}checked{% endif %} class="radio-col-success radio " type="radio" >
   						 	<span class="plan-details">
      						<span class="plan-type">50% - 74%</span>
      						<span class="plan-cost">Sederhana</span>
      						<span>1 team member</span>
      						<span>100 GB/mo</span>
      						<span>1 concurrent build</span>
    					</span>
  					</label>	
				</div>
				<div class="col-lg-3 col-md-6">
					<label class="card">
    					<input name="{{form.mrktigamutukemasan.name}}" value="4" {% if form.mrktigamutukemasan.value == '4' %}checked{% endif %} class="radio-col-success radio " type="radio">
   						 	<span class="plan-details">
      						<span class="plan-type">50% kebawah</span>
      						<span class="plan-cost">Tidak Memuaskan</span>
      						<span>1 team member</span>
      						<span>100 GB/mo</span>
      						<span>1 concurrent build</span>
    					</span>
  					</label>	
				</div>

				
			</div>
			<div class="row mb-10">
				<div class="col-lg-12 col-md-12">
					<div class="form-group">
					 	 <label>Catatan</label>
						   {{form.mrkcatat6}}
						
					</div>
				</div>
			</div>
    	</div>
    </div>
</fieldset>




<h3></h3>
<fieldset>
    <span class="step-current font-size-20">Step 10 / {{stepstep}}</span>
    <div class="row">
		<div class="box-body form-element2">
			<div class="col-lg-12 col-md-12 p-0 mb-40" style=" border-bottom: 1px dashed #8d99ae;">
                <h4 class="mt-1 mb-4 font-weight-600">Prestasi kontrakotor semasa menjalankan tugas .</h4>
               <h6 class="mt-1 mb-4 font-weight-600">Mutu Kerja-Kerja Luar.</h6>
            </div>
			<div class="row mb-10">
				<div class="col-lg-3 col-md-6">
					<label class="card">
    					<input name="{{form.mrktigamutukerjaluar.name}}" value="1" {% if form.mrktigamutukerjaluar.value == '1' %}checked{% endif %} class="radio-col-success radio " type="radio">
   						 	<span class="plan-details">
      						<span class="plan-type">90% Keatas</span>
      						<span class="plan-cost">Terbaik</span>
      						<span>1 team member</span>
      						<span>100 GB/mo</span>
      						<span>1 concurrent build</span>
    					</span>
  					</label>	
				</div>
				<div class="col-lg-3 col-md-6">
					<label class="card">
    					<input name="{{form.mrktigamutukerjaluar.name}}" value="2" {% if form.mrktigamutukerjaluar.value == '2' %}checked{% endif %} class="radio-col-success radio " type="radio" >
   						 	<span class="plan-details">
      						<span class="plan-type">75% - 89%</span>
      						<span class="plan-cost">Baik</span>
      						<span>1 team member</span>
      						<span>100 GB/mo</span>
      						<span>1 concurrent build</span>
    					</span>
  					</label>	
				</div>
				<div class="col-lg-3 col-md-6">
					<label class="card">
    					<input name="{{form.mrktigamutukerjaluar.name}}" value="3" {% if form.mrktigamutukerjaluar.value == '3' %}checked{% endif %} class="radio-col-success radio " type="radio" >
   						 	<span class="plan-details">
      						<span class="plan-type">50% - 74%</span>
      						<span class="plan-cost">Sederhana</span>
      						<span>1 team member</span>
      						<span>100 GB/mo</span>
      						<span>1 concurrent build</span>
    					</span>
  					</label>	
				</div>
				<div class="col-lg-3 col-md-6">
					<label class="card">
    					<input name="{{form.mrktigamutukerjaluar.name}}" value="4" {% if form.mrktigamutukerjaluar.value == '4' %}checked{% endif %} class="radio-col-success radio " type="radio">
   						 	<span class="plan-details">
      						<span class="plan-type">50% kebawah</span>
      						<span class="plan-cost">Tidak Memuaskan</span>
      						<span>1 team member</span>
      						<span>100 GB/mo</span>
      						<span>1 concurrent build</span>
    					</span>
  					</label>	
				</div>

				
			</div>
			<div class="row mb-10">
				<div class="col-lg-12 col-md-12">
					<div class="form-group">
					 	 <label>Catatan</label>
						   {{form.mrkcatat7}}
						
					</div>
				</div>
			</div>
    	</div>
    </div>
</fieldset>


<h3></h3>
<fieldset>
    <span class="step-current font-size-20">Step 11 / {{stepstep}}</span>
    <div class="row">
		<div class="box-body form-element2">
			<div class="col-lg-12 col-md-12 p-0 mb-40" style=" border-bottom: 1px dashed #8d99ae;">
                <h4 class="mt-1 mb-4 font-weight-600">Prestasi kontrakotor semasa menjalankan tugas .</h4>
               <h6 class="mt-1 mb-4 font-weight-600">Pengawasan Kontraktor.</h6>
            </div>
			<div class="row mb-10">
				<div class="col-lg-3 col-md-6">
					<label class="card">
    					<input name="{{form.mrktigapegawasan.name}}" value="1" {% if form.mrktigapegawasan.value == '1' %}checked{% endif %} class="radio-col-success radio " type="radio">
   						 	<span class="plan-details">
      						<span class="plan-type">90% Keatas</span>
      						<span class="plan-cost">Terbaik</span>
      						<span>1 team member</span>
      						<span>100 GB/mo</span>
      						<span>1 concurrent build</span>
    					</span>
  					</label>	
				</div>
				<div class="col-lg-3 col-md-6">
					<label class="card">
    					<input name="{{form.mrktigapegawasan.name}}" value="2" {% if form.mrktigapegawasan.value == '2' %}checked{% endif %} class="radio-col-success radio " type="radio" >
   						 	<span class="plan-details">
      						<span class="plan-type">75% - 89%</span>
      						<span class="plan-cost">Baik</span>
      						<span>1 team member</span>
      						<span>100 GB/mo</span>
      						<span>1 concurrent build</span>
    					</span>
  					</label>	
				</div>
				<div class="col-lg-3 col-md-6">
					<label class="card">
    					<input name="{{form.mrktigapegawasan.name}}" value="3" {% if form.mrktigapegawasan.value == '3' %}checked{% endif %} class="radio-col-success radio " type="radio" >
   						 	<span class="plan-details">
      						<span class="plan-type">50% - 74%</span>
      						<span class="plan-cost">Sederhana</span>
      						<span>1 team member</span>
      						<span>100 GB/mo</span>
      						<span>1 concurrent build</span>
    					</span>
  					</label>	
				</div>
				<div class="col-lg-3 col-md-6">
					<label class="card">
    					<input name="{{form.mrktigapegawasan.name}}" value="4" {% if form.mrktigapegawasan.value == '4' %}checked{% endif %} class="radio-col-success radio " type="radio">
   						 	<span class="plan-details">
      						<span class="plan-type">50% kebawah</span>
      						<span class="plan-cost">Tidak Memuaskan</span>
      						<span>1 team member</span>
      						<span>100 GB/mo</span>
      						<span>1 concurrent build</span>
    					</span>
  					</label>	
				</div>

				
			</div>
			<div class="row mb-10">
				<div class="col-lg-12 col-md-12">
					<div class="form-group">
					 	 <label>Catatan</label>
						   {{form.mrkcatat8}}
						
					</div>
				</div>
			</div>
    	</div>
    </div>
</fieldset>


<h3></h3>
<fieldset>
    <span class="step-current font-size-20">Step 12 / {{stepstep}}</span>
    <div class="row">
		<div class="box-body form-element2">
			<div class="col-lg-12 col-md-12 p-0 mb-40" style=" border-bottom: 1px dashed #8d99ae;">
                <h4 class="mt-1 mb-4 font-weight-600">Sokongan & Ulasan</h4>
               
            </div>
			<div class="row mb-10">
				<div class="col-lg-8 col-md-12">
					<div class="form-group">
                         {{form.mrktigasokongan}}
					</div>
				</div>
            </div>
			<div class="row mb-10">
				<div class="col-lg-4 col-md-12">
					<div class="form-group">
						<label>Pegawai</label>
				   		<input type="text" class="form-control font-weight-600 text-dark"  placeholder="Pegawai" value="{{projek.nosebuthargaid.pegawaiselia.first_name}}" readonly>
				    </div>
				</div>
				<div class="col-lg-4 col-md-12">
					<div class="form-group">
						<label>Jawatan</label>
				   		 <input type="text" class="form-control font-weight-600 text-dark"  placeholder="Jawatan" value="{{projek.nosebuthargaid.pegawaiselia.userprofile.jawatan}}"  readonly>
				    </div>
				</div>
            </div>
			<div class="row mb-10">
				<div class="col-lg-4 col-md-12">
					<div class="form-group">
						<label>Tarikh</label>
				   		{{form.mrktigatarikh}}
				    </div>
				</div>
		
            </div>


   
    	</div>
    </div>
</fieldset>








{% endblock dukumen %}     
