{% block dukumen %}

<h3></h3>
<fieldset>
    <span class="step-current font-size-20">Step 1 / {{stepstep}}</span>
    <div class="row">
		<div class="box-body form-element2">
			<div class="col-lg-12 col-md-12 p-0 mb-40" style=" border-bottom: 1px dashed #8d99ae;">
                <h4 class="mt-1 mb-4 font-weight-600">Maklumat Dokumen -Surat Khas</h4>
               
            </div>
			<div class="row mb-10">
				<div class="col-lg-4 col-md-12">
					<div class="form-group">
                  	    <label>Kepada</label>
                        <input type="hidden" class="form-control" name="{{form.projekbind.name}}" value="{{mrksatufecth.projekbind.id }}"/>
                        <input type="hidden" class="form-control" name="{{form.bonmrksatulink.name}}" value="{{mrksatufecth.id}}"/> 
                         {{form.bonkepada}}
					  
		
					</div>
				</div>
            </div>
			<div class="row mb-10">

            </div>
            <div class="row mb-10">
				<div class="col-lg-4 col-md-6">
					<div class="form-group">
						<label>Alamat</label>
						 {{form.bonalamatsatu}}
					</div>
				</div>
				
			</div>
			<div class="row mb-10">
				<div class="col-lg-4 col-md-6">
					<div class="form-group">
						<label>Nama Rujukan</label>
						  <input type="text" value="{{mrksatufecth.projekbind.nosebuthargaid}}" class="form-control font-weight-600 text-dark" readonly>
					</div>
				</div>
                <div class="col-lg-4 col-md-6">
					<div class="form-group">
						<label>Nama Rujukan</label>
						  <input type="text" value="{{mrksatufecth.projekbind.nosebuthargaid}}" class="form-control font-weight-600 text-dark" readonly>
					</div>
				</div>					
			</div>
    	</div>
    </div>

</fieldset>

<h3></h3>
<fieldset>
    <span class="step-current font-size-20">Step 2 / {{stepstep}}</span>
    <div class="row">
		<div class="box-body form-element2">
			<div class="col-lg-12 col-md-12 p-0 mb-40" style=" border-bottom: 1px dashed #8d99ae;">
                <h4 class="mt-1 mb-4 font-weight-600">Maklumat Kontraktor & Pegawai Selia</h4>          
            </div>

		    <div class="row mb-10">
				<div class="col-lg-4 col-md-6">
					<div class="form-group">
						<label>Nama Kontraktor</label>
						 <input type="text" value="{{mrksatufecth.mrksatukontraktor.konNama}}" class="form-control text-dark font-weight-600" readonly>
					</div>
				</div>
                <div class="col-lg-4 col-md-6">
					<div class="form-group">
						<label>No. Kontraktor</label>
						<input type="text" value="{{mrksatufecth.mrksatukontraktor.sijilPPKNoPendaftaran}}" class="form-control text-dark font-weight-600" readonly>
					</div>
				</div>				
			</div>


		    <div class="row mb-10">
				<div class="col-lg-4 col-md-6">
					<div class="form-group">
						<label>Melalui</label>
						 {{form.bonmelalui}}
					</div>
				</div>				
			</div>

		    <div class="row mb-10">

                <div class="col-lg-4 col-md-6">
					<div class="form-group">
						<label>Alamat</label>
						 {{form.bonalamatdua}}
					</div>
				</div>				
			</div>
            

		    <div class="row mb-10">
				<div class="col-lg-4 col-md-6">
					<div class="form-group">
						<label>Wang Jaminan Perlaksanaan</label>
							<div class="input-group">
                                <div class="input-group-prepend bg-secondary border-secondary">
                                    <span class="input-group-text bg-transparent text-white">RM</span>
                                </div>
                                 {{form.bonwangjaminan}}
                            </div>
					</div>
				</div>				
			</div>

            <div class="row mb-10">
				<div class="col-lg-3 col-md-6">
					<div class="form-group">
						<label>Pegawai Penguasa</label>
						    <select name="{{form.bonpegawai.name}}" class="form-control text-dark font-weight-600 custom-select select28" id="">  
                                <option value="Tiada">Tiada</option>
                                {% for row in userlist %}
                                <option value="{{row.first_name}}">{{row.first_name}}</option>
                                {% endfor %}
                            </select>
					</div>
				</div>
                <div class="col-lg-3 col-md-6">
					<div class="form-group">
						<label>Jawatan</label>
						   {{form.bonjawatan}}
					</div>
				</div>					
			</div>
    	</div>
    </div>

</fieldset>
{% endblock dukumen %}     
