   <!-- START: Footer-->

        {% load static %}
        <footer class="site-footer">
            2020 © PICK
        </footer>
        <!-- END: Footer-->


        <!-- START: Back to top-->
        <a href="#" class="scrollup text-center"> 
            <i class="icon-arrow-up"></i>
        </a>
        <!-- END: Back to top-->


        <!-- START: Template JS-->
        <script src="{% static 'theme/dists/vendors/jquery/jquery-3.3.1.min.js' %}"></script>
        <script src="{% static 'theme/dists/vendors/jquery-ui/jquery-ui.min.js' %}"></script>
        <script src="{% static 'theme/dists/vendors/moment/moment.js' %}"></script>
        <script src="{% static 'theme/dists/vendors/bootstrap/js/bootstrap.bundle.min.js' %}"></script>    
        <script src="{% static 'theme/dists/vendors/slimscroll/jquery.slimscroll.min.js' %}"></script>
        <!-- END: Template JS-->

        <!-- START: APP JS-->
        <script src="{% static 'theme/dists/js/app.js' %}"></script>
        <!-- END: APP JS-->

        <!-- START: Page Vendor JS-->
        <script src="{% static 'theme/dists/vendors/raphael/raphael.min.js' %}"></script>
        <script src="{% static 'theme/dists/vendors/morris/morris.min.js' %}"></script>
        <script src="{% static 'theme/dists/vendors/chartjs/Chart.min.js' %}"></script>
        <script src="{% static 'theme/dists/vendors/starrr/starrr.js' %}"></script>
        <script src="{% static 'theme/dists/vendors/jquery-flot/jquery.canvaswrapper.js' %}"></script>
        <script src="{% static 'theme/dists/vendors/jquery-flot/jquery.colorhelpers.js' %}"></script>
        <script src="{% static 'theme/dists/vendors/jquery-flot/jquery.flot.js' %}"></script>
        <script src="{% static 'theme/dists/vendors/jquery-flot/jquery.flot.saturated.js' %}"></script>
        <script src="{% static 'theme/dists/vendors/jquery-flot/jquery.flot.browser.js' %}"></script>
        <script src="{% static 'theme/dists/vendors/jquery-flot/jquery.flot.drawSeries.js' %}"></script>
        <script src="{% static 'theme/dists/vendors/jquery-flot/jquery.flot.uiConstants.js' %}"></script>
        <script src="{% static 'theme/dists/vendors/jquery-flot/jquery.flot.legend.js' %}"></script>
        <script src="{% static 'theme/dists/vendors/jquery-flot/jquery.flot.pie.js' %}"></script>        
        <script src="{% static 'theme/dists/vendors/chartjs/Chart.min.js' %}"></script>  
        <script src="{% static 'theme/dists/vendors/jquery-jvectormap/jquery-jvectormap-2.0.3.min.js' %}"></script>
        <script src="{% static 'theme/dists/vendors/jquery-jvectormap/jquery-jvectormap-world-mill.js' %}"></script>
        <script src="{% static 'theme/dists/vendors/jquery-jvectormap/jquery-jvectormap-de-merc.js' %}"></script>
        <script src="{% static 'theme/dists/vendors/jquery-jvectormap/jquery-jvectormap-us-aea.js' %}"></script>
        <script src="{% static 'theme/dists/vendors/apexcharts/apexcharts.min.js' %}"></script>
        <script  src="{% static 'theme/dists/vendors/lineprogressbar/jquery.lineProgressbar.js' %}"></script>
        <script  src="{% static 'theme/dists/vendors/lineprogressbar/jquery.barfiller.js' %}"></script>
        <!-- END: Page Vendor JS-->

        <!-- START: Page JS-->
        <script src="{% static 'theme/dists/js/home.script.js' %}"></script>
        <!-- END: Page JS-->
    </body>
    <!-- END: Body-->
</html>
