<!-- Footer opened -->
{% load static %}
			<div class="main-footer ht-40">
				<div class="container-fluid pd-t-0-f ht-100p">
					<span>Copyright © 2020 <a href="#">Rapo</a>. Designed by <a href="https://www.spruko.com/">Spruko</a> All rights reserved.</span>
				</div>
			</div>
			<!-- Footer closed -->
		</div>

		<!-- Back-to-top -->
		<a href="#top" id="back-to-top"><i class="ti-angle-double-up"></i></a>

		<!-- JQuery min js -->
		<script src="{% static 'assets/plugins/jquery/jquery.min.js' %} "></script>

		<!-- Bootstrap Bundle js -->
		<script src="{% static 'assets/plugins/bootstrap/js/bootstrap.bundle.min.js' %} "></script>

		<!-- Ionicons js -->
		<script src="{% static 'assets/plugins/ionicons/ionicons.js' %} "></script>

		<!-- Moment js -->
		<script src="{% static 'assets/plugins/moment/moment.js' %} "></script>

		<!-- Sparkline js -->
		<script src="{% static 'assets/plugins/jquery-sparkline/jquery.sparkline.min.js' %} "></script>

		<!-- Chart js -->
		<script src="{% static 'assets/plugins/raphael/raphael.min.js' %} "></script>

		<!-- Piety js -->
		<script src="{% static 'assets/plugins/peity/jquery.peity.min.js' %} "></script>

		<!-- Flot js-->
		<script src="{% static 'assets/plugins/jquery.flot/jquery.flot.js' %} "></script>
		<script src="{% static 'assets/plugins/jquery.flot/jquery.flot.pie.js' %} "></script>
		<script src="{% static 'assets/plugins/jquery.flot/jquery.flot.resize.js' %} "></script>
		<script src="{% static 'assets/plugins/jquery.flot/jquery.flot.categories.js' %} "></script>
		<script src="{% static 'assets/js/dashboard.sampledata.js' %} "></script>
		<script src="{% static 'assets/js/chart.flot.sampledata.js' %} "></script>

		<!-- Sticky js -->
		<script src="{% static 'assets/js/sticky.js' %} "></script>

		<!-- P-scroll js -->
		<script src="{% static 'assets/plugins/perfect-scrollbar/perfect-scrollbar.min.js' %} "></script>
		<script src="{% static 'assets/plugins/perfect-scrollbar/p-scroll.js' %} "></script>

	    <!-- Data tables -->
		<script src="{% static 'assets/plugins/datatables.net/js/jquery.dataTables.min.js' %} "></script>
		<script src="{% static 'assets/plugins/datatables.net-dt/js/dataTables.dataTables.min.js' %} "></script>
		<script src="{% static 'assets/plugins/datatables.net-responsive/js/dataTables.responsive.min.js' %} "></script>
		<script src="{% static 'assets/plugins/datatables.net-responsive-dt/js/responsive.dataTables.min.js' %} "></script>
		<script src="{% static 'assets/plugins/datatable/js/jquery.dataTables.js' %} "></script>
		<script src="{% static 'assets/plugins/datatable/js/dataTables.bootstrap4.js' %} "></script>
		<script src="{% static 'assets/plugins/datatable/js/dataTables.buttons.min.js' %} "></script>
		<script src="{% static 'assets/plugins/datatable/js/buttons.bootstrap4.min.js' %} "></script>
		<script src="{% static 'assets/plugins/datatable/js/jszip.min.js' %} "></script>
		<script src="{% static 'assets/plugins/datatable/js/pdfmake.min.js' %} "></script>
		<script src="{% static 'assets/plugins/datatable/js/vfs_fonts.js' %} "></script>
		<script src="{% static 'assets/plugins/datatable/js/buttons.html5.min.js' %} "></script>
		<script src="{% static 'assets/plugins/datatable/js/buttons.print.min.js' %} "></script>
		<script src="{% static 'assets/plugins/datatable/js/buttons.colVis.min.js' %} "></script>
		<script src="{% static 'assets/plugins/datatable/dataTables.responsive.min.js' %} "></script>
		<script src="{% static 'assets/plugins/datatable/responsive.bootstrap4.min.js' %} "></script>

		<!-- Datatable js -->
		<script src="{% static 'assets/js/table-data.js' %} "></script>

		<!-- Rating js-->
		<script src="{% static 'assets/plugins/rating/jquery.rating-stars.js' %} "></script>
		<script src="{% static 'assets/plugins/rating/jquery.barrating.js' %} "></script>

		<!-- Custom Scroll bar Js-->
		<script src="{% static 'assets/plugins/mscrollbar/jquery.mCustomScrollbar.concat.min.js' %} "></script>

		<!-- Sidebar js -->
		<script src="{% static 'assets/plugins/side-menu/iconic/sidemenu.js' %} "></script>

		<!-- Right-sidebar js -->
		<script src="{% static 'assets/plugins/sidebar/sidebar.js' %} "></script>
		<script src="{% static 'assets/plugins/sidebar/sidebar-custom.js' %} "></script>

		<!-- eva js -->
		<script src="{% static 'assets/js/eva-icons.min.js' %} "></script>

		<!-- Apexchart js-->
		<script src="{% static 'assets/js/apexcharts.js' %} "></script>

		<!-- Chart js -->
		<script src="{% static 'assets/plugins/chart.js/Chart.bundle.min.js' %} "></script>

		<!-- Index js -->
		<script src="{% static 'assets/js/dashboard-1.js' %} "></script>

		<!-- Custom js -->
		<script src="{% static 'assets/js/custom.js' %} "></script>

	</body>
</html>