<!DOCTYPE html>
{% load static %}
<html lang="en">
    <!-- START: Head-->
    <head>
        <meta charset="UTF-8">
        <title>Pick Admin</title>
        <link rel="shortcut icon" href="dists/images/favicon.ico" />
        <meta name="viewport" content="width=device-width,initial-scale=1"> 

        <!-- START: Template CSS-->
        <link rel="stylesheet" href="{% static 'theme/dists/vendors/bootstrap/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'theme/dists/vendors/jquery-ui/jquery-ui.min.css' %}">
        <link rel="stylesheet" href="{% static 'theme/dists/vendors/jquery-ui/jquery-ui.theme.min.css' %}">
        <link rel="stylesheet" href="{% static 'theme/dists/vendors/simple-line-icons/css/simple-line-icons.css' %}">        
        <link rel="stylesheet" href="{% static 'theme/dists/vendors/flags-icon/css/flag-icon.min.css' %}">         
        <!-- END Template CSS-->

        <!-- START: Page CSS-->
        <link rel="stylesheet"  href="{% static 'theme/dists/vendors/chartjs/Chart.min.css' %}">
        <link rel="stylesheet" href="{% static 'theme/dists/vendors/cryptofont/cryptofont.css' %}"> 
        <link href="{% static 'theme/dists/vendors/lineprogressbar/jquery.lineProgressbar.min.css' %}" rel="stylesheet">
        <!-- END: Page CSS-->

        <!-- START: Page CSS-->   
        <link rel="stylesheet" href="{% static 'theme/dists/vendors/morris/morris.css' %}"> 
        <link rel="stylesheet" href="{% static 'theme/dists/vendors/weather-icons/css/pe-icon-set-weather.min.css' %}"> 
        <link rel="stylesheet" href="{% static 'theme/dists/vendors/chartjs/Chart.min.css' %}"> 
        <link rel="stylesheet" href="{% static 'theme/dists/vendors/starrr/starrr.css' %}"> 
        <link rel="stylesheet" href="{% static 'theme/dists/vendors/fontawesome/css/all.min.css' %}">
        <link rel="stylesheet" href="{% static 'theme/dists/vendors/ionicons/css/ionicons.min.css' %}"> 
        <link rel="stylesheet" href="{% static 'theme/dists/vendors/jquery-jvectormap/jquery-jvectormap-2.0.3.css' %}">
        <!-- END: Page CSS-->

        <!-- START: Custom CSS-->
        <link rel="stylesheet" href="{% static 'theme/dists/css/main.css' %}">
        <!-- END: Custom CSS-->
    </head>
    <!-- END Head-->