

        <!-- START: Main Menu-->
        <div class="sidebar">
            <div class="site-width">
                <!-- START: Menu-->
                <ul id="side-menu" class="sidebar-menu">
                    <li class="dropdown active"><a href="#"><i class="icon-home mr-1"></i> Dashboard</a>                  
                        <ul>
                            <li><a href="index.html"><i class="icon-rocket"></i> Projek</a></li>
                            <li><a href="index-account.html"><i class="icon-layers"></i> Kontraktor</a></li>
                            <li><a href="index-account.html"><i class="icon-layers"></i> Aduan</a></li>
                            <li><a href="index-analytic.html"><i class="icon-grid"></i> Kewangan</a></li>
                            <li><a href="index-covid.html"><i class="icon-earphones"></i> Kursus</a></li>
                            <li><a href="index-covid.html"><i class="icon-earphones"></i> Info</a></li>
                        </ul>
                    </li>
                    <li class="dropdown"><a href="#"><i class="icon-organization mr-1"></i>Project</a>
                        <ul>
                            <li class="dropdown"><a href="#"><i class="icon-options"></i>Horizontal</a>
                                <ul class="sub-menu">
                                    <li><a href="layout-horizontal.html"><i class="icon-energy"></i> Light</a></li>
                                    <li><a href="layout-horizontal-semidark.html"><i class="icon-disc"></i> Semi Dark</a></li>
                                    <li><a href="layout-horizontal-dark.html"><i class="icon-frame"></i> Dark</a></li>
                                </ul>
                            </li>
                            <li class="dropdown"><a href="#"><i class="icon-options-vertical"></i>Vertical</a>
                                <ul class="sub-menu">
                                    <li><a href="layout-vertical.html"><i class="icon-energy"></i> Light</a></li>
                                    <li><a href="layout-vertical-semidark.html"><i class="icon-disc"></i> Semi Dark</a></li>
                                    <li><a href="layout-vertical-dark.html"><i class="icon-frame"></i> Dark</a></li>
                                </ul>
                            </li>
                            <li class="dropdown"><a href="#"><i class="icon-grid"></i>Compact Menu</a>
                                <ul class="sub-menu">
                                    <li><a href="layout-compact.html"><i class="icon-energy"></i> Light</a></li>
                                    <li><a href="layout-compact-semidark.html"><i class="icon-disc"></i> Semi Dark</a></li>
                                    <li><a href="layout-compact-dark.html"><i class="icon-frame"></i> Dark</a></li>
                                </ul>
                            </li>
                           
                        </ul>
                    </li>
                    <li class="dropdown"><a href="#"><i class="icon-layers mr-1"></i>Kontrakor</a>                  
                        <ul>
                            <li><a href="app-calendar.html"><i class="icon-calendar"></i>Senarai Kontraktor</a></li>
                            <li><a href="app-chat.html"><i class="icon-speech"></i>Daftar Kontrator</a></li>
                    
                        </ul>                   
                    </li>

        
                </ul>
                <!-- END: Menu-->
                <ol class="breadcrumb bg-transparent align-self-center m-0 p-0 ml-auto">
                    <li class="breadcrumb-item"><a href="#">Application</a></li>
                    <li class="breadcrumb-item active">Dashboard</li>
                </ol>
            </div>
        </div>
        <!-- END: Main Menu-->