
  <aside class="main-sidebar">
    <!-- sidebar-->
    <section class="sidebar position-relative">	
	  	<div class="multinav">
		  <div class="multinav-scroll" style="height: 100%;">	
			  <!-- sidebar menu-->
			  <ul class="sidebar-menu" data-widget="tree">	
				{% comment %} <li class="header">Dashboard & Apps</li>
				<li class="treeview">
				  <a href="#">
					<i class="icon-Layout-4-blocks"><span class="path1"></span><span class="path2"></span></i>
					<span>Dashboard</span>
					<span class="pull-right-container">
					  <i class="fa fa-angle-right pull-right"></i>
					</span>
				  </a>
				  <ul class="treeview-menu">
					<li><a href="{% url 'noperolehan' %}"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>No.Perolehan</a></li>
					<li><a href="index2.html"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Maklumat Perolehan</a></li>
					<li><a href="index3.html"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Projek</a></li>
					<li><a href="{% url 'kontraktor' %}"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Kontraktor</a></li>
					<li><a href="index5.html"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Dokumen Bayaran</a></li>
					
				  </ul>
				</li> {% endcomment %}
	
				<li class="header">Components & UI </li>
				<li class="treeview">
				  <a href="#">
					<i span class="icon-Pantone"><span class="path1"></span><span class="path2"></span></i>
					<span>No Perolehan</span>
					<span class="pull-right-container">
					  <i class="fa fa-angle-right pull-right"></i>
					</span>
				  </a>
				  <ul class="treeview-menu">
					<li><a href="{% url 'noperolehan/daftar' %}"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Pendaftaran</a></li>
					<li><a href="{% url 'noperolehan' %}"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Senarai Pendaftaran</a></li>
					<li><a href="{% url 'noperolehan' %}"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Mengikut Tahun</a></li>
				  </ul>
				</li>
				<li class="treeview">
				  <a href="#">
					<i class="icon-Roller"><span class="path1"></span><span class="path2"></span></i>
					<span>Maklumat Perolehan</span>
					<span class="pull-right-container">
					  <i class="fa fa-angle-right pull-right"></i>
					</span>
				  </a>
				  <ul class="treeview-menu">			
					<li class="font-weight-300"><a href="{% url 'projek/daftar' %}"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Pendaftaran</a></li>								
			
		
				  </ul>
				</li>			
				<li class="treeview">
				  <a href="#">
					<i class="icon-Bulb1"><span class="path1"></span><span class="path2"></span></i>
					<span>Senarai Projek</span>
					<span class="pull-right-container">
					  <i class="fa fa-angle-right pull-right"></i>
					</span>
				  </a>
				  <ul class="treeview-menu">
					<li><a href="{% url 'projek/maklumatperolehan' %}"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Projek</a></li>
			
				  </ul>
				</li> 
				<li class="treeview">
				  <a href="#">
					<i class="icon-Adress-book1"><span class="path1"></span><span class="path2"></span></i>
					<span>Kontraktor</span>
					<span class="pull-right-container">
					  <i class="fa fa-angle-right pull-right"></i>
					</span>
				  </a>
				  <ul class="treeview-menu">
					<li><a href="{% url 'kontraktor' %}"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Dashboard</a></li>
					<li><a href="{% url 'kontraktor/senarai' %}"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Senarai Kontraktor</a></li>
				  </ul>
				</li>
				<li class="treeview">
				  <a href="#">
					<i class="icon-Commode"><span class="path1"></span><span class="path2"></span></i>
					<span>Kursus</span>
					<span class="pull-right-container">
					  <i class="fa fa-angle-right pull-right"></i>
					</span>
				  </a>
				  <ul class="treeview-menu">
					<li><a href="{% url 'kursus/dashboard' %}"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Kursus Dashboard</a></li>
					<li><a href="{% url 'kursus/daftar' %}"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Daftar Kursus</a></li>
					<li><a href="{% url 'kursus/daftar' %}"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Kehadiran</a></li>
					<li><a href="{% url 'kursus/daftar' %}"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Peserta</a></li>
					<li><a href="{% url 'kursus/daftar' %}"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Laporan</a></li>
				  </ul>
				</li>
				<li class="header">COLLECTIONS</li>
				<li class="treeview">
				  <a href="#">
					<i class="icon-Archive"><span class="path1"></span><span class="path2"></span></i>
					<span>Laporan</span>
					<span class="pull-right-container">
					  <i class="fa fa-angle-right pull-right"></i>
					</span>
				  </a>
				  <ul class="treeview-menu">
					<li><a href="widgets_blog.html"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Laporan Tahunan Semasa</a></li>
					<li><a href="widgets_chart.html"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Laporan Tahunan</a></li>
					<li><a href="widgets_chart.html"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Maklumat Perolehan</a></li>
					<li><a href="widgets_chart.html"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Maklumat Projek</a></li>
							  	
			
				  </ul>
				</li> 				 
	 		
	 	     
			  </ul>
		  </div>
		</div>
    </section>
	<div class="sidebar-footer">
		<a href="javascript:void(0)" class="link" data-toggle="tooltip" title="" data-original-title="Settings" aria-describedby="tooltip92529"><span class="icon-Settings-2"></span></a>
		<a href="mailbox.html" class="link" data-toggle="tooltip" title="" data-original-title="Email"><span class="icon-Mail"></span></a>
		<a href="{% url 'logout' %}" class="link" data-toggle="tooltip" title="" data-original-title="Logout"><span class="icon-Lock-overturning"><span class="path1"></span><span class="path2"></span></span></a>
	</div>
  </aside>
