
	<!-- Vendor JS -->
	{% load static %}

	{% if scriptdoc %}
		<script src="{% static 'assets/js/vendors.min.js' %}"></script>
		<script src="{% static 'assets/vendor_components/apexcharts-bundle/dist/apexcharts.js' %}"></script>
		<script src="{% static 'assets/vendor_components/jquery.peity/jquery.peity.js' %}"></script>
		<script src="{% static 'assets/vendor_components/easypiechart/g/jquery.easypiechart.js' %}"></script>
		<script src="{% static 'assets/vendor_components/chart.js-master/Chart.min.js' %}"></script>
		<script src="{% static 'assets/vendor_components/d3/d3.min.js' %}"></script>
		<script src="{% static 'assets/vendor_components/d3/d3_tooltip.js' %}"></script>
		<script src="{% static 'assets/js/template.js' %}"></script>
		<script src="{% static 'assets/js/demo.js' %}"></script>
		<script src="{% static 'assets/js/pages/chart-widgets.js' %}"></script>

	{% elif scriptvot %}
  		<script src="{% static 'assets/js/vendors.min.js' %}"></script>
		<script src="{% static 'assets/js/pages/chat-popup.js' %}"></script>
		<script src="{% static 'assets/icons/feather-icons/feather.min.js' %}"></script>	
		<script src="{% static 'assets/vendor_components/datatable/datatables.min.js' %}"></script>
		<script src="{% static 'assets/vendor_components/moment/min/moment.min.js' %}"></script>
		<script src="{% static 'assets/vendor_components/fullcalendar/fullcalendar.js' %}"></script>
		<script src="{% static 'assets/js/pages/data-table.js' %}"></script>
		<script src="{% static 'assets/vendor_components/jquery-steps-master/build/jquery.steps.js' %}"></script>
		<script src="{% static 'assets/vendor_components/jquery-validation-1.17.0/dist/jquery.validate.min.js' %}"></script>
		<script src="{% static 'assets/vendor_components/sweetalert/sweetalert.min.js' %}"></script>
		<script src="{% static 'assets/vendor_components/horizontal-timeline/js/horizontal-timeline.js'%}"></script>
		<script src="{% static 'assets/js/pages/steps.js' %}"></script>
		<script src="{% static 'assets/vendor_plugins/date-picker/date-picker.js' %}"></script>
		<script src="{% static 'assets/vendor_plugins/date-picker/jquery-ui.js' %}"></script>
		<script src="{% static 'assets/js/template.js' %}"></script>
		<script src="{% static 'assets/js/demo.js' %}"></script>
		<script src="{% static 'assets/js/pages/calendar.js' %}"></script>

	{% else %}
		<script src="{% static 'assets/js/vendors.min.js' %}"></script>
		<script src="{% static 'assets/vendor_components/apexcharts-bundle/dist/apexcharts.js' %}"></script>
		<script src="{% static 'assets/vendor_components/jquery.peity/jquery.peity.js' %}"></script>
		<script src="{% static 'assets/vendor_components/easypiechart/g/jquery.easypiechart.js' %}"></script>
		<script src="{% static 'assets/vendor_components/chart.js-master/Chart.min.js' %}"></script>
		<script src="{% static 'assets/vendor_components/d3/d3.min.js' %}"></script>
		<script src="{% static 'assets/vendor_components/d3/d3_tooltip.js' %}"></script>

		<script src="{% static 'assets/js/pages/chat-popup.js' %}"></script>
		
		<script src="{% static 'assets/icons/feather-icons/feather.min.js' %}"></script>	
		
		<script src="{% static 'assets/vendor_components/datatable/datatables.min.js' %}"></script>
		<script src="{% static 'assets/vendor_components/moment/min/moment.min.js' %}"></script>
		<script src="{% static 'assets/vendor_components/fullcalendar/fullcalendar.js' %}"></script>

		<script src="{% static 'assets/js/pages/data-table.js' %}"></script>

		<!--form-->
		<script src="{% static 'assets/vendor_components/jquery-steps-master/build/jquery.steps.js' %}"></script>
		<script src="{% static 'assets/vendor_components/jquery-validation-1.17.0/dist/jquery.validate.min.js' %}"></script>
		<script src="{% static 'assets/vendor_components/sweetalert/sweetalert.min.js' %}"></script>
		<script src="{% static 'assets/vendor_components/horizontal-timeline/js/horizontal-timeline.js'%}"></script>



		<script src="{% static 'assets/js/pages/steps.js' %}"></script>

		<!--datepicker-->
		<script src="{% static 'assets/vendor_components/bootstrap-daterangepicker/daterangepicker.js' %}"></script>
		<script src="{% static 'assets/vendor_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js' %}"></script>
		<script src="{% static 'assets/vendor_plugins/date-picker/date-picker.js' %}"></script>
		<script src="{% static 'assets/vendor_plugins/date-picker/jquery-ui.js' %}"></script>
	
		<!-- EduAdmin App -->
		<script src="{% static 'assets/js/template.js' %}"></script>
		<script src="{% static 'assets/js/demo.js' %}"></script>
		<script src="{% static 'assets/js/pages/chart-widgets.js' %}"></script>
		<script src="{% static 'assets/js/pages/frmadv.js' %}"></script>
		<script src="{% static 'assets/js/pages/calendar.js' %}"></script>
	{% endif %} 



		<!-- Page Content overlay -->
	

	



	








	


