
	<!-- Vendor JS -->
	{% load static %}
	<script src="{% static 'assets/js/vendors.min.js' %}"></script>
	<script src="{% static 'assets/js/pages/chat-popup.js' %}"></script>
    <script src="{% static 'assets/icons/feather-icons/feather.min.js' %}"></script>	
	
	<script src="{% static 'assets/vendor_components/datatable/datatables.min.js' %}"></script>
	<script src="{% static 'assets/vendor_components/moment/min/moment.min.js' %}"></script>
	<script src="{% static 'assets/vendor_components/fullcalendar/fullcalendar.js' %}"></script>

	<script src="{% static 'assets/js/pages/data-table.js' %}"></script>

	<!--form-->
	<script src="{% static 'assets/vendor_components/jquery-steps-master/build/jquery.steps.js' %}"></script>
    <script src="{% static 'assets/vendor_components/jquery-validation-1.17.0/dist/jquery.validate.min.js' %}"></script>
    <script src="{% static 'assets/vendor_components/sweetalert/sweetalert.min.js' %}"></script>
    <script src="{% static 'assets/js/pages/steps.js' %}"></script>

	<!--datepicker-->
    <script src="{% static 'assets/vendor_plugins/date-picker/date-picker.js' %}"></script>
	<script src="{% static 'assets/vendor_plugins/date-picker/jquery-ui.js' %}"></script>
   

	<!-- EduAdmin App -->
	<script src="{% static 'assets/js/template.js' %}"></script>
	<script src="{% static 'assets/js/demo.js' %}"></script>
	<script src="{% static 'assets/js/pages/calendar.js' %}"></script>



		<!-- Page Content overlay -->
	

	



	








	


