
	<!-- Vendor JS -->
	{% load static %}
	<script src="{% static 'style/semidark/js/vendors.min.js' %}"></script>
	<script src="{% static 'style/semidark/js/pages/chat-popup.js' %}"></script>
    <script src="{% static 'style/assets/icons/feather-icons/feather.min.js' %}"></script>	

	<script src="{% static 'style/assets/vendor_components/apexcharts-bundle/dist/apexcharts.js' %}"></script>
	<script src="{% static 'style/assets/vendor_components/moment/min/moment.min.js' %}"></script>
	<script src="{% static 'style/assets/vendor_components/fullcalendar/fullcalendar.js' %}"></script>
	
	<!-- EduAdmin App -->
	<script src="{% static 'style/semidark/js/template.js' %}"></script>

	<script src="{% static 'style/semidark/js/pages/dashboard2.js' %}"></script>
	<script src="{% static 'style/semidark/js/pages/dashboard3.js' %}"></script>
	<script src="{% static 'style/semidark/js/pages/calendar.js' %}"></script>

