
  <aside class="main-sidebar">
    <!-- sidebar-->
    <section class="sidebar">	
		
      <!-- sidebar menu-->
      <ul class="sidebar-menu" data-widget="tree">		

      		<li class="header">Dashboard</li>
            <li><a href="index2.html"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>No Perolehan</a></li>
            <li><a href="index.html"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Projek</a></li>
            <li><a href="index2.html"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Kontraktor</a></li>
            <li><a href="index3.html"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Aduan</a></li>
            <li><a href="index3.html"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Maklumat Perolehan</a></li>
     


		<li class="header">Menu utama</li>

    
		<li class="treeview">
          <a href="#">
            <i class="icon-Chart-pie"><span class="path1"></span><span class="path2"></span></i>
			<span>Maklumat Perolehan</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-right pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="charts_chartjs.html"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Daftar Projek</a></li>
            <li><a href="charts_flot.html"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Senarai Projek</a></li>
          </ul>
        </li>


		<li class="treeview">
          <a href="#">
            <i class="icon-Chart-pie"><span class="path1"></span><span class="path2"></span></i>
			<span>Projek</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-right pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="charts_chartjs.html"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Daftar Projek</a></li>
            <li><a href="charts_flot.html"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Senarai Projek</a></li>
          </ul>
        </li>
        
		<li class="treeview">
          <a href="#">
            <i class="icon-Chart-pie"><span class="path1"></span><span class="path2"></span></i>
			<span>Kontraktor</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-right pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="charts_chartjs.html"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Daftar Kontraktor</a></li>
            <li><a href="charts_flot.html"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Senarai Kontraktor</a></li>
          </ul>
        </li>


	 
		
	  	     
      </ul>
    </section>
	<div class="sidebar-footer">
		<!-- item-->
		<a href="javascript:void(0)" class="link" data-toggle="tooltip" title="" data-original-title="Settings" aria-describedby="tooltip92529"><span class="icon-Settings-2"></span></a>
		<!-- item-->
		<a href="mailbox.html" class="link" data-toggle="tooltip" title="" data-original-title="Email"><span class="icon-Mail"></span></a>
		<!-- item-->
		<a href="javascript:void(0)" class="link" data-toggle="tooltip" title="" data-original-title="Logout"><span class="icon-Lock-overturning"><span class="path1"></span><span class="path2"></span></span></a>
	</div>
  </aside>