@media (min-width: 1025px) {
	.page {
	  width: 1170px;
	  margin: 0 auto;
	  background: #1A233A;
	  position: relative;
	  display: -ms-flexbox;
	  display: flex;
	  -ms-flex-direction: column;
	  flex-direction: column;
	  -ms-flex-pack: center;
	  justify-content: center;
	  min-height: 100vh;
	  box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 0px 0px, rgba(0, 0, 0, 0.3) 0px 5px 25px 0px;
	}
  
	body.dark-theme {
	  background: #2a3248 !important;
	}
  
	.sticky .horizontal-main {
	  max-width: 1170px;
	}
  
	.horizontalMenucontainer .main-header.hor-header {
	  max-width: 1170px;
	  margin: 0 auto;
	  top: 0;
	}
  
	.main-content {
	  .container, .container-fluid {
		padding-left: 20px;
		padding-right: 20px;
	  }
	}
  
	.main-header > {
	  .container, .container-fluid {
		padding-left: 15px;
		padding-right: 15px;
	  }
	}
  
	.app-sidebar {
	  right: auto !important;
	}
  
	.side-header {
	  left: auto !important;
	  right: auto !important;
	  z-index: 1044;
	}
  
	.horizontalMenu > .horizontalMenu-list > li > a {
	  padding: 12px 13px 12px 13px !important;
	}
  
	.main-header.side-header {
	  max-width: 1170px;
	}
  }
  
  @media only screen and (max-width: 1162px) and (min-width: 992px) {
	.horizontalMenu > .horizontalMenu-list > li > a {
	  font-size: 12px;
	  padding: 10px 5px 10px 5px !important;
	}
  }