.dark-leftmenu .main-sidebar-header {
  background: #2b334a; }

.dark-leftmenu .app-sidebar {
  background: #2b334a;
  border-top: 1px solid #efedf5;
  box-shadow: 0 0 10px rgba(20, 28, 43, 0.8); }

.dark-leftmenu .nav-search .form-control {
  color: #fff;
  background-color: #1e2740 !important;
  border: 1px solid rgba(226, 232, 245, 0.08); }

.dark-leftmenu .main-logo {
  display: none; }
  .dark-leftmenu .main-logo.dark-theme {
    display: block; }

.dark-leftmenu .logo-1, .dark-leftmenu .desktop-logo.active.logo-light {
  display: none; }

.dark-leftmenu .side-menu__item {
  border-top: 1px dashed rgba(220, 231, 245, 0.1);
  color: rgba(255, 255, 255, 0.7); }

.dark-leftmenu .slide.is-expanded:before {
  background: rgba(227, 231, 237, 0.1); }

.dark-leftmenu .slide-menu .slide-item:before {
  border-color: #6d7582; }

.dark-leftmenu .main-sidebar-header {
  border-bottom: 1px solid rgba(222, 228, 236, 0.1);
  border-right: 1px solid rgba(222, 228, 236, 0.03); }

.dark-leftmenu .main-sidebar-loggedin {
  border-bottom: 1px solid rgba(222, 228, 236, 0.1); }
  .dark-leftmenu .main-sidebar-loggedin .media-body h6 {
    color: #fff; }

.dark-leftmenu .nav-search .input-group-text {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-left: 0; }

.dark-leftmenu .main-sidebar-loggedin .main-img-user::after {
  box-shadow: 0 0 0 2px #2b334a; }

@media (min-width: 768px) {
  .dark-leftmenu.sidebar-mini.sidenav-toggled.sidenav-toggled1 .logo-dark.desktop-logo .main-logo.dark-theme {
    display: block; }
  .dark-leftmenu.sidebar-mini.sidenav-toggled .main-sidebar-header .logo-icon {
    display: block; }
    .dark-leftmenu.sidebar-mini.sidenav-toggled .main-sidebar-header .logo-icon.dark-theme {
      display: block; }
  .dark-leftmenu.sidebar-mini.sidenav-toggled .main-sidebar-header .icon-light .logo-icon {
    display: none; }
  .dark-leftmenu.sidenav-toggled.sidenav-toggled1 .main-sidebar-header .logo-icon.dark-theme {
    display: none; }
  .dark-leftmenu.sidenav-toggled.sidenav-toggled1 .main-sidebar-loggedin {
    border-bottom: 1px solid rgba(222, 228, 236, 0.1); } }

@media (max-width: 767px) {
  .dark-leftmenu .main-logo, .dark-leftmenu .logo-1, .dark-leftmenu .desktop-logo.active.logo-light {
    display: block; }
  .dark-leftmenu .main-sidebar-loggedin {
    border-bottom: 1px solid rgba(222, 228, 236, 0.1) !important; } }

.dark-theme.light-leftmenu .main-sidebar-header {
  background: #fff;
  border-bottom: 1px solid #dee4ec; }

.dark-theme.light-leftmenu .app-sidebar {
  background: #fff;
  border-top: 1px solid #efedf5;
  box-shadow: 0 0 10px rgba(28, 39, 60, 0.2); }

.dark-theme.light-leftmenu .form-control {
  color: #596882;
  background-color: #fff;
  border: 1px solid #e2e8f5; }

.dark-theme.light-leftmenu .main-logo {
  display: block; }
  .dark-theme.light-leftmenu .main-logo.dark-theme {
    display: none; }

.dark-theme.light-leftmenu .logo-1, .dark-theme.light-leftmenu .desktop-logo.active.logo-light {
  display: block; }

.dark-theme.light-leftmenu .side-menu__item {
  border-top: 1px dashed #dce7f5;
  color: #000; }

.dark-theme.light-leftmenu .slide.is-expanded:before {
  background: #e3e7ed; }

.dark-theme.light-leftmenu .slide-menu .slide-item:before {
  border-color: #bec5d0; }

.dark-theme.light-leftmenu .main-sidebar-header {
  border-bottom: 1px solid #dee4ec;
  border-right: 1px solid rgba(222, 228, 236, 0.03); }

.dark-theme.light-leftmenu .main-sidebar-loggedin {
  border-bottom: 1px solid #dee4ec; }
  .dark-theme.light-leftmenu .main-sidebar-loggedin .media-body h6 {
    color: #1c273c; }

.dark-theme.light-leftmenu .nav-search .input-group-text {
  color: #596882;
  background-color: #e3e7ed;
  border: 1px solid #e2e8f5;
  border-left: 0; }

.dark-theme.light-leftmenu .main-sidebar-loggedin .main-img-user::after {
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.95); }

.dark-theme.light-leftmenu .angle {
  color: #585e65; }

.dark-theme.light-leftmenu .form-control::placeholder {
  color: #bec6d5 !important; }

@media (min-width: 768px) {
  .dark-theme.light-leftmenu.sidebar-mini.sidenav-toggled.sidenav-toggled1 .main-sidebar-header .logo-light .main-logo {
    display: block; }
  .dark-theme.light-leftmenu.sidebar-mini.sidenav-toggled .main-sidebar-header .icon-dark .logo-icon.dark-theme {
    display: none; }
  .dark-theme.light-leftmenu.sidebar-mini.sidenav-toggled .main-sidebar-header .icon-light .logo-icon {
    display: block; } }

@media (max-width: 767px) {
  .dark-theme.light-leftmenu .main-logo, .dark-theme.light-leftmenu .logo-1, .dark-theme.light-leftmenu .desktop-logo.active.logo-light {
    display: none; }
  .dark-theme.light-leftmenu .main-sidebar-loggedin {
    border-bottom: 1px solid #dee4ec !important; } }

/*# sourceMappingURL=skin-modes.css.map */
